{% extends "layouts/layout_teaser.html" %} {% block additional_scripts %}
<script src="/static/scripts/cycle.js" defer></script>
{% endblock %} {% block title %}About us{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="mx-auto mb-20 mt-12 flex max-w-5xl flex-col items-center justify-center gap-2.5 px-8 pt-10 sm:px-6 lg:px-8"
    >
        <div class="flex w-full max-w-7xl flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 px-4 sm:px-6 md:text-center lg:px-8">
                <span
                    class="inline-flex w-fit items-center justify-center gap-2 rounded-full border border-slate-200 bg-white px-3 py-1 text-xs font-medium text-slate-900 shadow-xl"
                    ><img src="/static/elements/eye.svg" alt="" />Vision</span
                >
                <h2 class="mt-5 max-w-2xl text-3xl font-semibold sm:text-[40px]">Globalify's mission and vision</h2>
                <p class="text-slate-500">
                    If you can’t find what you’re looking for, email our support team and we wil get back to you.
                </p>
            </div>
        </div>
        <div class="relative xl:mb-64">
            <img
                class="mt-8 aspect-[21/9] w-full rounded-lg object-cover object-right-top lg:rounded-3xl"
                src="/static/elements/Team/group_photo.jpg"
                alt=""
            />
            <article
                class="bottom-0 rounded-xl bg-white p-12 shadow-lg xl:absolute xl:w-9/12 xl:-translate-x-1/4 xl:translate-y-3/4"
            >
                <h2 class="mb-5 text-3xl font-medium text-slate-900 sm:text-4xl">Our Passion</h2>
                <p class="text-lg text-slate-700">
                    We are all about igniting a world of exciting opportunities. We make the search for funding easy,
                    while keeping things professional.
                    <br /><br />
                    Globalify is more than a search engine; it's a matchmaker. We help businesses find their perfect
                    investor and guide venture capitals to discover high-quality deals. The more you tell us about
                    yourself in your profile, the better we can match you up.
                    <br /><br />
                    Our vision is to transform business dreams into thrilling realities and make the journey to success
                    an adventure for everyone!
                </p>
            </article>
        </div>
    </section>

    <section
        class="mx-auto mt-10 flex w-full flex-col items-start justify-start gap-10 bg-[#1C1336] px-8 py-16 text-start text-white"
    >
        <div class="mx-auto flex w-full max-w-7xl flex-col items-start justify-center gap-10 lg:flex-row">
            <div class="flex w-full flex-col font-['Lexend']">
                <blockquote class="max-w-lg text-4xl">
                    “Globalify is more than just a search engine; it's your gateway to new opportunities and growth.”
                </blockquote>
                <hr class="my-8 border-slate-700 lg:my-16" />
                <div class="flex gap-2">
                    <img
                        class="size-12 rounded-full object-cover object-top"
                        src="/static/elements/Team/Jennifer.JPG"
                        alt=""
                    />
                    <div>
                        <span class="font-['Poppins']">Jennifer Cheng-Lo</span>
                        <br />
                        <span class="text-slate-400">CGO of Globalify</span>
                    </div>
                </div>
            </div>
            <div class="mt-12 flex w-full flex-col items-stretch gap-8 lg:mt-0">
                <h2 class="w-fit bg-gradient-to-r from-[#0EA5E9] to-[#DE7CC8] bg-clip-text text-3xl text-transparent">
                    The what, the how, the who
                </h2>
                <div class="flex gap-5" id="thelist">
                    <article id="thewhat" class="w-full shrink-0 rounded-2xl border border-slate-700 p-6 sm:max-w-xl">
                        <span class="font-['Lexend'] text-xl font-medium">The what</span>
                        <p class="mt-2 text-white/30">
                            Globalify helps you search for and connect with potential investors. Whether you're a
                            startup, a growing business, or a fund looking for more parthners, our search engine can
                            help you.
                        </p>
                    </article>
                    <article id="thehow" class="w-full shrink-0 rounded-2xl border border-slate-700 p-6 sm:max-w-xl">
                        <span class="font-['Lexend'] text-xl font-medium">The how</span>
                        <p class="mt-2 text-white/30">
                            Just type in what you're looking for, and our search engine will show you a list and details
                            of investors, VCs, funds, tals that might be interested in investing into your business.
                        </p>
                    </article>
                    <article id="thewho" class="w-full shrink-0 rounded-2xl border border-slate-700 p-6 sm:max-w-xl">
                        <span class="font-['Lexend'] text-xl font-medium">The who</span>
                        <p class="mt-2 text-white/30">
                            Anyone looking for funding! Whether you're a first-time entrepreneur, or even a first-time
                            fund manager. It doesn't matter if you're just starting out or have been in business for a
                            while, Globalify is ready to support you.
                        </p>
                    </article>
                </div>
                <div class="flex gap-2">
                    <button
                        onclick="cycleBack()"
                        class="flex size-8 items-center justify-center rounded-full border border-white transition-colors ease-in hover:bg-pink-400"
                    >
                        <img class="size-4" src="/static/elements/arrow-left.svg" alt="" />
                    </button>
                    <button
                        onclick="cycleForward()"
                        class="flex size-8 items-center justify-center rounded-full border border-white transition-colors ease-in-out hover:bg-cyan-500"
                    >
                        <img class="size-4" src="/static/elements/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section
        class="mx-auto mb-20 mt-12 flex w-full max-w-7xl flex-col items-center justify-center gap-2.5 px-8 pt-10 sm:px-6 lg:px-8"
    >
        <div class="flex w-full max-w-7xl flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 px-4 sm:px-6 md:text-center lg:px-8">
                <span
                    class="inline-flex w-fit items-center justify-center gap-2 rounded-full border border-slate-200 bg-white px-3 py-1 text-xs font-medium text-slate-900 shadow-xl"
                    ><img src="/static/elements/people.svg" alt="" />Team</span
                >
                <h2 class="mt-5 max-w-2xl text-3xl font-semibold sm:text-[40px]">Our team</h2>
            </div>
        </div>
        <div class="relative grid w-full grid-cols-1 gap-3 lg:grid-cols-3">
            <article class="flex w-full flex-col items-center justify-center rounded-2xl p-14 shadow-lg">
                <img
                    class="aspect-square w-80 rounded-xl bg-fuchsia-300 object-cover object-top"
                    src="/static/elements/Team/Eric.JPG"
                    alt=""
                />
                <figcaption class="mt-5 flex flex-col items-center justify-center">
                    <span class="text-xl font-semibold">Eric Fung</span>
                    <span class="text-slate-500">CEO</span>
                </figcaption>
                <!-- <div class="flex gap-4">
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                </div> -->
            </article>
            <article class="flex w-full flex-col items-center justify-center rounded-2xl p-14 shadow-lg">
                <img
                    class="aspect-square w-80 rounded-xl bg-fuchsia-300 object-cover"
                    src="/static/elements/Team/Jennifer.JPG"
                    alt=""
                />
                <figcaption class="mt-5 flex flex-col items-center justify-center">
                    <span class="text-xl font-semibold">Jennifer Cheng-Lo</span>
                    <span class="text-slate-500">CGO</span>
                </figcaption>
                <!-- <div class="flex gap-4">
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                </div> -->
            </article>
            <article class="flex w-full flex-col items-center justify-center rounded-2xl p-14 shadow-lg">
                <img
                    class="aspect-square w-80 rounded-xl bg-fuchsia-300 object-cover"
                    src="/static/elements/Team/Arstan.JPG"
                    alt=""
                />
                <figcaption class="mt-5 flex flex-col items-center justify-center">
                    <span class="text-xl font-semibold">Arstan Usenov</span>
                    <span class="text-slate-500">CTO</span>
                </figcaption>
                <!-- <div class="flex gap-4">
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                    <a class="shadow-xl rounded-full size-7" href="">F</a>
                </div> -->
            </article>
        </div>
    </section>

    <section class="group mx-auto mb-32 max-w-7xl px-8 py-28 sm:px-12 lg:px-8 xl:px-16">
        <h2 class="text-center text-lg font-medium text-slate-900">Want to talk?</h2>
        <div class="mt-4 text-center transition-all duration-500 group-hover:scale-105">
            <span
                class="bg-gradient-to-r from-sky-600 to-sky-500 bg-clip-text text-3xl font-medium text-slate-700 transition duration-700 group-hover:text-transparent sm:text-6xl"
                >info@globalify.xyz</span
            >
        </div>
    </section>
</main>
{% endblock %}
