{% extends "layouts/layout_teaser.html" %} {% block title %}About us{% endblock %} {% block head %} {{ super() }} {%
endblock %} {% block content %}

<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section class="mx-auto pt-12 sm:pt-20 md:pt-32 lg:pt-20">
        <div class="max-w-5xl px-4 sm:px-12 lg:px-8 xl:px-16">
            <h1
                class="mx-auto mb-14 max-w-2xl text-center text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl lg:text-6xl"
            >
                <span class="text-sky-500">Globalify's</span> Mission and Vision
            </h1>
            <p class="mx-auto max-w-2xl text-center text-lg text-slate-700">
                Bridging global growth for startups everywhere, where every idea has the power to become a unicorn 🦄
            </p>
        </div>
    </section>

    <section
        class="mx-auto flex max-w-5xl flex-col items-start justify-start gap-5 px-4 pt-16 text-center sm:px-6 lg:flex-row lg:px-8 lg:pt-24"
    >
        <article class="w-full text-start lg:w-2/5">
            <h2 class="text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">Our Passion</h2>
        </article>
        <article class="w-full text-start lg:w-3/5">
            <p class="text-lg text-slate-700">
                We are all about igniting a world of exciting opportunities. We make the search for funding easy, while
                keeping things professional.
                <br /><br />
                Globalify is more than a search engine; it's a matchmaker. We help businesses find their perfect
                investor and guide venture capitals to discover high-quality deals.
                <br /><br />
                Our goal is to transform business dreams into thrilling realities and make the journey to success an
                adventure for everyone!
            </p>
        </article>
    </section>

    <section
        class="mx-auto flex max-w-5xl flex-col items-center justify-center gap-5 px-4 pt-12 text-center sm:px-6 lg:flex-row lg:px-8 lg:pt-20"
    >
        <img
            class="aspect-[21/9] w-full rounded-lg object-cover object-right-top lg:rounded-3xl"
            src="../static/elements/Team/group_photo.jpg"
            alt=""
        />
    </section>
    <section
        class="mx-auto flex max-w-5xl flex-col items-start justify-center gap-5 px-4 pt-16 text-center sm:px-6 lg:flex-row lg:px-8 lg:pt-28"
    >
        <article class="flex flex-col gap-5 text-start">
            <h2 class="text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">Our platform</h2>
            <p class="text-lg text-slate-700">
                Our search engine and launchpad is where innovative startups and amazing investors come together,
                sparking connections that span the globe
            </p>
        </article>
        <img class="w-full lg:w-3/5" src="../static/elements/globalify_hero.png" alt="" />
    </section>

    <section
        class="sm:px-6lg:px-8 mx-auto flex max-w-5xl flex-col items-start justify-start gap-10 px-4 pt-16 text-start lg:pt-28"
    >
        <h2 class="text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">The what, the how, the who</h2>
        <article class="flex flex-wrap gap-10">
            <div class="flex flex-col gap-2 lg:max-w-[304px]">
                <h3 class="text-2xl font-medium">The what</h3>
                <p class="text-lg text-slate-700">
                    Globalify helps you search for and connect with potential investors. Whether you're a startup or a
                    growing business, our search engine can help you.
                </p>
            </div>
            <div class="flex flex-col gap-2 lg:max-w-[304px]">
                <h3 class="text-2xl font-medium">The how</h3>
                <p class="text-lg text-slate-700">
                    Just type in what you're looking for, and our search engine will show you a list of investors and
                    venture capitals that might be interested in your business.
                </p>
            </div>
            <div class="flex flex-col gap-2 lg:max-w-[304px]">
                <h3 class="text-2xl font-medium">The who</h3>
                <p class="text-lg text-slate-700">
                    Anyone looking for funding! It doesn't matter if you're just starting out or have been in business
                    for a while. Globalify is here to help.
                </p>
            </div>
        </article>
    </section>

    <section id="team" class="z-10 flex flex-col items-center gap-12 pt-28">
        <div class="text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">The team</div>
        <div class="flex flex-col items-start justify-center gap-x-12 gap-y-7 lg:flex-row">
            <div class="flex flex-col gap-2">
                <a href="/arisa" class="mb-1.5 h-[400px] w-[300px] overflow-hidden rounded-xl bg-zinc-300">
                    <img
                        class="transform rounded-xl transition duration-[400ms] hover:scale-105 "
                        src="../static/elements/Team/Arisa.JPG"
                        alt=""
                    />
                </a>
                <p>
                    <span class="text-2xl sm:text-3xl">Arisa Ueno</span>
                    <br />
                    <span class="text-xl sm:text-2xl">CEO</span>
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <a href="/eric" class="mb-1.5 h-[400px] w-[300px] overflow-hidden rounded-xl bg-zinc-300">
                    <img
                        class="transform rounded-xl transition duration-[400ms] hover:scale-105"
                        src="../static/elements/Team/Eric.JPG"
                        alt=""
                    />
                </a>
                <p>
                    <span class="text-2xl sm:text-3xl">Eric Fung</span>
                    <br />
                    <span class="text-xl sm:text-2xl">COO</span>
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <a href="/arstan" class="mb-1.5 h-[400px] w-[300px] overflow-hidden rounded-xl bg-zinc-300">
                    <img
                        class="transform rounded-xl transition duration-[400ms] hover:scale-105"
                        src="../static/elements/Team/Arstan.JPG"
                        alt=""
                    />
                </a>
                <p>
                    <span class="text-2xl sm:text-3xl">Arstan Usenov</span>
                    <br />
                    <span class="text-xl sm:text-2xl">CTO</span>
                </p>
            </div>
        </div>
    </section>
    <section class="relative isolate mt-10 overflow-hidden bg-transparent px-6 py-24 lg:px-8 lg:py-32">
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <img class="mx-auto h-12" src="../static/elements/logo-black.png" alt="" />
            <figure class="mt-10">
                <blockquote class="text-center text-xl font-semibold text-gray-900 sm:text-2xl">
                    <p>
                        “Globalify is more than just a search engine; it's your gateway to new opportunities and
                        growth.”
                    </p>
                </blockquote>
                <figcaption class="mt-10">
                    <img class="mx-auto h-10 w-10 rounded-full" src="../static/elements/Team/arisa_square.JPG" alt="" />
                    <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                        <div class="font-semibold text-gray-900">Arisa Ueno</div>
                        <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                            <circle cx="1" cy="1" r="1" />
                        </svg>
                        <div class="text-gray-600">CEO of Globalify</div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>
    <section class="py-28">
        <div class="group mx-auto max-w-7xl px-4 sm:px-12 lg:px-8 xl:px-16">
            <h2 class="text-center text-lg font-medium text-slate-900">Want to talk?</h2>
            <div class="mt-4 text-center transition-all duration-500 group-hover:scale-105">
                <span
                    class="bg-gradient-to-r from-sky-600 to-sky-500 bg-clip-text text-3xl font-medium text-slate-700 transition duration-700 group-hover:text-transparent sm:text-6xl"
                    >info@globalify.xyz</span
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
