{% extends "layouts/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Eric Fung{% endblock
%} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="relative mx-auto flex max-w-7xl flex-col items-center justify-center gap-3 px-8 pt-5 pb-5 text-center sm:px-6 lg:px-8 lg:pt-24"
    >
        <span class="font-mono text-base sm:text-lg">CTO of Globalify</span>
        <h1 class="text-5xl sm:text-7xl">Arstan Usenov</h1>
        <img
            class="view-arstan mt-5 aspect-square h-[500px] rounded-3xl bg-slate-50 object-cover"
            src="/static/elements/Team/Arstan.JPG"
            alt=""
        />
        <p class="mt-10 max-w-3xl text-start text-xl leading-8 font-light text-pretty">
            Arstan is a skilled full stacked software engineer professional with a strong background in Python, SQL,
            JavaScript, HTML and proficiency in frameworks and tools like Flask, Django, Git, Supabase, Google Cloud. As
            the Chief Technology Officer at Globalify.xyz, founded at the age of 19 and WIOT Technologies. At GLOBALIFY
            he has effectively led technology strategies to support business goals, contributing significantly to the AI
            development and scalability of the SaaS platforms. While leading a talented team of developers, guiding them
            not just in the nuances of coding but in the art of creating impactful software solutions.
            <br /><br />

            His tech leadership extends beyond management to hands-on involvement in building out the company's search
            engine, utilizing a range of tools and AI technologies, including advanced language learning models (LLMs).
            This collaborative effort has been instrumental in enhancing the platform's capabilities, making it a
            powerful tool for connecting founders and investors in the tech ecosystem.
        </p>
        <img
            class="mt-10 aspect-video w-full max-w-3xl rounded-3xl object-cover"
            src="/static/elements/Team/group_photo.jpg"
            alt=""
        />
        <p class="mt-10 max-w-3xl font-serif text-4xl sm:mt-20 sm:text-7xl">
            “We code, we cook, we build everything—making it faster, smarter, and just better”
        </p>
        <p class="mt-10 max-w-3xl text-start text-xl leading-8 font-light text-pretty">
            Through roles as a mentor at CEC AUCA and as a teacher at Bilimkana in Kyrgyzstan, fostering a culture of
            learning among aspiring developers. Arstan has excelled in breaking down complex coding concepts to foster
            innovation and learning. He has also been instrumental in developing software projects, including Primer
            payments automation, demonstrating his expertise in writing efficient and reliable code.
            <br /><br />

            Based in San Francisco, Arstan's contributions to software and project management at companies such as
            DevelopsToday highlight his involvement in product development and innovation. His education from the
            University of Twente, coupled with a certification from Draper University, underlines Arstan's commitment to
            continuous learning and achieving excellence in the tech industry.
        </p>
        <p class="mt-10 max-w-3xl text-4xl font-medium sm:mt-20 sm:text-7xl">Click, Search, Connect, Grow</p>
        <a
            class="mt-5 mb-10 w-full rounded-3xl bg-sky-400 py-20 text-7xl font-medium text-white transition-all duration-500 ease-in-out hover:scale-105"
            href="/login"
            >Go</a
        >
    </section>
</main>
{% endblock %}
