{% extends "layouts/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Eric Fung{% endblock
%} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="relative mx-auto gap-3 flex max-w-7xl flex-col items-center justify-center px-8 pb-5 pt-5 text-center sm:px-6 lg:px-8 lg:pt-24"
    >
        <span class="font-mono sm:text-lg text-base">CTO of Globalify</span>
        <h1 class="sm:text-7xl text-5xl">Arstan Usenov</h1>
        <img
            class="bg-slate-50 h-[500px] aspect-square object-cover rounded-3xl mt-5 view-arstan"
            src="/static/elements/Team/Arstan.JPG"
            alt=""
        />
        <p class="text-pretty text-start max-w-3xl text-xl leading-8 mt-10 font-light">
            Arstan is a skilled full stacked software engineer professional with a strong background in Python, SQL,
            JavaScript, HTML and proficiency in frameworks and tools like Flask, Django, Git, Supabase, Google Cloud. As
            the Chief Technology Officer at Globalify.xyz, founded at the age of 19 and WIOT Technologies. At GLOBALIFY
            he has effectively led technology strategies to support business goals, contributing significantly to the AI
            development and scalability of the SaaS platforms. While leading a talented team of developers, guiding them
            not just in the nuances of coding but in the art of creating impactful software solutions.
            <br /><br />

            His tech leadership extends beyond management to hands-on involvement in building out the company's search
            engine, utilizing a range of tools and AI technologies, including advanced language learning models (LLMs).
            This collaborative effort has been instrumental in enhancing the platform's capabilities, making it a
            powerful tool for connecting founders and investors in the tech ecosystem.
        </p>
        <img
            class="max-w-3xl w-full aspect-video object-cover rounded-3xl mt-10"
            src="/static/elements/Team/group_photo.jpg"
            alt=""
        />
        <p class="text-4xl sm:text-7xl max-w-3xl mt-10 sm:mt-20 font-serif">
            “We code, we cook, we build everything—making it faster, smarter, and just better”
        </p>
        <p class="text-pretty text-start max-w-3xl text-xl leading-8 mt-10 font-light">
            Through roles as a mentor at CEC AUCA and as a teacher at Bilimkana in Kyrgyzstan, fostering a culture of
            learning among aspiring developers. Arstan has excelled in breaking down complex coding concepts to foster
            innovation and learning. He has also been instrumental in developing software projects, including Primer
            payments automation, demonstrating his expertise in writing efficient and reliable code.
            <br /><br />

            Based in San Francisco, Arstan's contributions to software and project management at companies such as
            DevelopsToday highlight his involvement in product development and innovation. His education from the
            University of Twente, coupled with a certification from Draper University, underlines Arstan's commitment to
            continuous learning and achieving excellence in the tech industry.
        </p>
        <p class="text-4xl sm:text-7xl max-w-3xl mt-10 sm:mt-20 font-medium">Click, Search, Connect, Grow</p>
        <a
            class="text-7xl bg-sky-400 text-white rounded-3xl py-20 font-medium w-full mt-5 mb-10 hover:scale-105 transition-all ease-in-out duration-500"
            href="/login"
            >Go</a
        >
    </section>
</main>
{% endblock %}
