{% extends "layouts/layout_teaser.html" %} {% block additional_scripts %}
<script src="../static/scripts/email.js" defer></script>
{% endblock %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section class="mx-auto max-w-7xl px-8 pb-16 pt-16 text-center sm:px-6 lg:px-8 lg:pt-24">
        <h1
            class="mx-auto mb-10 max-w-sm text-center text-4xl font-bold tracking-tight text-slate-900 sm:max-w-lg sm:text-5xl lg:text-6xl"
        >
            Globalify is
            <span
                class="background-animate bg-gradient-to-r from-sky-500 via-teal-500 to-indigo-500 bg-clip-text text-transparent"
                >Launching Soon</span
            >
        </h1>
        <p class="mx-auto mb-10 max-w-2xl text-center text-lg text-slate-700">
            Limited to just <b>100 Early Access spots!</b> Get ahead with our exclusive preview pack and discover
            leading investors, handpicked just for your startup in various industries.
        </p>
        <div class="flex flex-wrap items-center justify-center gap-x-6 gap-y-3">
            <a
                class="inline-flex items-center justify-center rounded-xl bg-slate-900 px-4 py-2 font-semibold text-slate-50 transition-colors ease-in-out hover:bg-slate-800 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300"
                href="/waitlist"
                >Get early access now!</a
            >

            <button
                id="notification_button"
                onclick="showEmailField()"
                class="group inline-flex items-center justify-center rounded-xl px-4 py-2 text-sm text-slate-700 ring-1 ring-slate-200 hover:text-slate-900 hover:ring-slate-300 focus:outline-none focus-visible:outline-blue-600 focus-visible:ring-slate-300 active:bg-slate-100 active:text-slate-600"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4 flex-none animate-pulse fill-sky-500 group-active:fill-current"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                    />
                </svg>

                <span class="ml-2">Get notified</span>
            </button>
            <form id="email_input" class="hidden gap-3" action="/waitlist-email" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <input
                    class="w-3/4 rounded-xl border-2 border-stone-300 px-2"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="john@email.com"
                    autocomplete="email"
                    required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                />
                <button
                    id="submit-button"
                    class="rounded-xl bg-sky-500 px-3 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
                    type="submit"
                >
                    Submit
                </button>
            </form>
        </div>
        <img class="mt-10 drop-shadow-lg" src="../static/elements/globalify_hero.png" alt="" />
    </section>
    <section class="flex-col items-center justify-center gap-2.5 px-8 py-24 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-center">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 md:text-center lg:px-8">
                <h2 class="text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">
                    Tailored experience for specific regions
                </h2>
                <p class="mt-4 text-lg tracking-tight text-slate-700">Experts from around the world are here to help</p>
            </div>
            <div class="mt-6 flex flex-wrap items-center justify-center gap-6">
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img
                        class="h-48 transition-transform duration-300 ease-in-out hover:scale-110"
                        src="../static/elements/jp.svg"
                        alt=""
                    />
                    <div class="text-slate-700">Japan</div>
                </div>
                <div class="relative flex flex-col items-center justify-between gap-2">
                    <img
                        class="h-48 py-8 transition-transform duration-300 ease-in-out hover:scale-110"
                        src="../static/elements/kg.svg"
                        alt=""
                    />
                    <div class="text-slate-700">Kyrgyzstan</div>
                </div>
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img
                        class="h-48 py-8 transition-transform duration-300 ease-in-out hover:scale-110"
                        src="../static/elements/kz.svg"
                        alt=""
                    />
                    <div class="text-slate-700">Kazakhstan</div>
                </div>
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img
                        class="h-48 py-8 transition-transform duration-300 ease-in-out hover:scale-110"
                        src="../static/elements/hk.svg"
                        alt=""
                    />
                    <div class="text-slate-700">Hong Kong</div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq" aria-labelledby="faq-title" class="bg-transparent pb-20 sm:py-32">
        <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
            <div class="mx-auto lg:mx-0">
                <h2 class="mx-auto text-center text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">
                    Frequently asked questions
                </h2>
                <p class="mx-auto mt-4 text-center text-lg tracking-tight text-slate-700">
                    If you can’t find what you’re looking for, email our support team and we will get back to you.
                </p>
            </div>
            <ul role="list" class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3">
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">What is Globalify?</h3>
                            <p class="mt-4 text-slate-700">
                                Globalify is a hub for entrepreneurs to connect with investors from around the world.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">What can I do with Globalify?</h3>
                            <p class="mt-4 text-slate-700">
                                For now you can create a profile and look at the list of investors. In the future we are
                                planning on adding a lot more features.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">How do I sign up for the early access?</h3>
                            <p class="mt-4 text-slate-700">
                                You can sign up <a href="/waitlsit" class="underline">here</a>. It's very simple! Just
                                fill in your details and process payment through Stripe.
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">Do you offer refunds?</h3>
                            <p class="mt-4 text-slate-700">
                                Yes! You can get your money back with no questions asked. We also offer a free 14 day
                                trial. If you are not satisfied with our product, you can cancel anytime.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">Is my data safe with your search engine?</h3>
                            <p class="mt-4 text-slate-700">
                                Absolutely! We use the latest security measures to keep your data safe and private.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">
                                How can I provide feedback about the product?
                            </h3>
                            <p class="mt-4 text-slate-700">
                                You can send us feedback via email or through a feedback form on our website or email us
                                at
                                <a href="mailto:info@globalify.xyz" class="font-bold underline">info@globalify.xyz</a>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">
                                What do you do with the data you collect?
                            </h3>
                            <p class="mt-4 text-slate-700">
                                About the data we collect you can read in our
                                <a class="underline" href="/privacy-policy">privacy policy</a>
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">When will you launch?</h3>
                            <p class="mt-4 text-slate-700">
                                We plan to launch in Q2 2023. We are currently in the process of building our product
                                and are looking for early adopters to help us test it out.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-lg font-medium text-slate-900">
                                I'd like to know more about Globalify before I sign up.
                            </h3>
                            <p class="mt-4 text-slate-700">
                                You can ask us anything! Just send us an email at
                                <a href="mailto:info@globalify.xyz" class="font-bold underline">info@globalify.xyz</a>
                                and we will get back to you as soon as possible.
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="mx-auto max-w-7xl px-8 pb-16 pt-16 sm:px-6 lg:px-8 lg:pt-24">
        <div class="mx-auto lg:mx-0">
            <h2 class="mx-auto text-center text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">
                From the blog
            </h2>
            <p class="mx-auto mt-2 text-center text-lg tracking-tight text-slate-700">
                Learn how to grow your business with our expert advice.
            </p>
        </div>
        <!-- <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl">From the blog</h2>
                    <p class="mt-2 text-lg leading-8 text-slate-700">
                        Learn how to grow your business with our expert advice.
                    </p>
                </div> -->
        <div
            class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
            {% if posts %} 
            {% for post in posts %}
            <article class="flex max-w-xl flex-col items-start">
                <img class="mb-5 aspect-[3/2] rounded-lg object-cover" src="{{ post.image }}" alt="" />
                <div class="flex flex-col items-start justify-start">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time class="text-slate-500">{{ post.published }}</time>
                    </div>
                    <div class="relative">
                        <h3 class="mt-3 text-lg font-semibold leading-6 text-slate-900 hover:text-slate-700">
                            <a href="{{ post.link }}">
                                <span class="absolute inset-0"></span>
                                {{ post.title }}
                            </a>
                        </h3>
                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-slate-700">{{ post.subtitle }}</p>
                    </div>
                    <div class="relative mt-4 flex items-center gap-x-4">
                        <div class="text-sm leading-6">
                            <p class="font-semibold text-slate-900">{{ post.author }}</p>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %} 
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
