{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<script src="../static/scripts/dashboard.js" defer></script>
<script src="../static/scripts/search.js" defer></script>
<script src="../static/scripts/query_setter.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-24 flex h-full min-h-screen w-full overflow-x-auto pb-16">
    <div class="mx-auto flex w-full max-w-[83rem] flex-col gap-3 px-4 sm:flex-row">
        <section class="flex flex-col gap-2">
            <div class="relative flex gap-2">
                <label for="search" class="sr-only">Search</label>
                <input
                    type="text"
                    name="q"
                    id="search"
                    class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Search"
                    value=""
                />
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg
                        class="h-3.5 w-3.5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </div>
                <a
                    href="/dashboard/suggestions"
                    class="flex items-center justify-center rounded-xl bg-sky-500 text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                >
                    ✨AI✨
                </a>
                <button
                    class="rounded-xl bg-sky-500 px-2 text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                    onclick="search()"
                >
                    Search
                </button>
            </div>
            <div class="flex items-center justify-center rounded-xl border-2 p-1 text-sm">
                <a
                    href="/dashboard"
                    class="flex w-full items-center justify-center gap-1 rounded-lg bg-sky-500 p-3 text-white"
                >
                    <svg
                        data-darkreader-inline-stroke=""
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                        class="h-5 w-5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
                        ></path>
                    </svg>
                    <span>Investors</span>
                </a>
                <a href="/dashboard/investment-firms" class="flex w-full items-center justify-center gap-1 p-3">
                    <svg
                        data-darkreader-inline-stroke=""
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                        class="h-5 w-5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"
                        ></path>
                    </svg>
                    <span>Firms</span>
                </a>
            </div>
            <div class="mt-3 flex flex-col gap-2">
                <h2 class="text-lg font-medium">Filters</h2>
                <div class="group relative inline-block text-left">
                    <button
                        type="button"
                        class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-slate-200 bg-white px-2 py-3 text-sm transition-colors ease-in-out hover:border-slate-300 group-has-[:checked]:border-sky-500"
                        id="filter-options-menu"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            data-darkreader-inline-stroke=""
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"
                            ></path>
                        </svg>
                        Filter By
                    </button>

                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="filter-options"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="filter-options-menu"
                    >
                        <div class="py-1 has-[:checked]:border-sky-500" role="list">
                            {% if fields %} {% for field, field_name in fields.items() %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="filter_field"
                                    value="{{ field }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ field_name }}
                            </label>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                </div>
                <div class="group relative inline-block text-left">
                    <button
                        type="button"
                        class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-slate-200 bg-white px-2 py-3 text-sm transition-colors ease-in-out hover:border-slate-300 group-has-[:checked]:border-sky-500"
                        id="round-options-menu"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                            />
                        </svg>
                        Rounds
                    </button>
                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="round-options"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="round-options-menu"
                    >
                        <div class="py-1" role="none">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="rounds_exclusive"
                                    name="rounds_exclusive"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Only show investors with selected rounds
                            </label>
                            <hr />
                            {% for round in round_list %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="round"
                                    value="{{ round.name }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ round.name }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="group relative inline-block text-left">
                    <button
                        type="button"
                        class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-slate-200 bg-white px-2 py-3 text-sm transition-colors ease-in-out hover:border-slate-300 group-has-[:checked]:border-sky-500"
                        id="industry-options-menu"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                            />
                        </svg>
                        Industries
                    </button>

                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="industry-options"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="industry-options-menu"
                    >
                        <div class="py-1" role="none">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="industries_exclusive"
                                    name="industries_exclusive"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Only show investors with selected industries
                            </label>
                            <hr />
                            {% for category, industries in industry_list.items() %}
                            <label
                                class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            >
                                {{ category }}
                            </label>
                            {% for industry in industries %}
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="industry"
                                    value="{{ industry.name }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ industry.name }}
                            </label>
                            {% endfor %} {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="relative inline-block text-left">
                    <input
                        type="range"
                        class="h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200"
                        id="min_investment"
                        min="0"
                        max="100"
                        value="0"
                    />
                    <input
                        type="range"
                        class="h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200"
                        id="max_investment"
                        min="0"
                        max="100"
                        value="100"
                    />
                    <div class="flex justify-between">
                        <span>$0&nbsp;&nbsp;</span>
                        <span>$25M</span>
                        <span>$50М</span>
                    </div>
                </div>
            </div>
            <div class="mt-3 flex flex-col gap-2">
                <h2 class="text-lg font-medium">Sorting</h2>
                <div class="group relative inline-block text-left">
                    <button
                        type="button"
                        class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-slate-200 bg-white px-2 py-3 text-sm transition-colors ease-in-out hover:border-slate-300 group-has-[:checked]:border-sky-500"
                        id="sorting-options-menu"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            data-darkreader-inline-stroke=""
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                            ></path>
                        </svg>
                        Sort By
                    </button>

                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="sorting-options"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="sorting-options-menu"
                    >
                        <div class="py-1" role="none">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="descending"
                                    name="descending"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Descending
                            </label>
                            <hr />
                            {% if fields %} {% for field, field_name in fields.items() %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="sort_field"
                                    value="{{ field }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ field_name }}
                            </label>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="/dashboard" class="mt-3 w-full rounded-lg bg-sky-500 py-3 text-center text-white"> Reset </a>
        </section>

        <section class="flex w-full flex-col items-start justify-start gap-2 sm:w-3/4">
            {% if investors %} {% for investor in investors %}
            <div class="flex w-full flex-col justify-between gap-2 rounded-lg border-2 p-4">
                <div class="flex items-baseline justify-start">
                    <a href="/investor/{{ investor.id }}" class="text-lg underline">{{ investor.full_name }}</a>
                    <span class="text-sm text-slate-500"
                        >&nbsp;{% if investor.firm_name %} @ {{ investor.firm_name }} {% endif %}</span
                    >
                </div>
                {% if investor.min_max_investment %}
                <span class="text-sm text-slate-500">${{ investor.min_max_investment }}</span>
                {% endif %} {% if investor.about %}
                <div>
                    <span class="line-clamp-2 text-sm text-slate-500">Location: {{ investor.location }}</span>
                </div>
                {% endif %}
                <div class="flex gap-2">
                    <div class="flex flex-wrap gap-1">
                        {% for round in investor.rounds %}
                        <a
                            href="/dashboard?round={{ round.name }}"
                            class="inline-flex w-max items-center justify-center rounded-full bg-sky-500 p-2 text-sm leading-none text-white"
                        >
                            {{ round.name }}
                        </a>
                        {% endfor %} {% for industry in investor.industries %}
                        <a
                            href="/dashboard?industry={{ industry.name }}"
                            class="inline-flex w-max items-center justify-center rounded-full bg-sky-500 p-2 text-sm leading-none text-white"
                        >
                            {{ industry.name}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
            <div class="px-4 py-1">
                <nav class="flex items-center">
                    {% if investors.has_prev %}
                    <a
                        class="inline-flex items-center gap-2 rounded-md p-4 font-medium text-gray-400 hover:text-sky-500"
                        href="/dashboard?page={{ investors.prev_num }}{{ combined_query if combined_query else ''}}"
                    >
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    {% endif %} {% for page in investors.iter_pages() %} {% if page %} {% if investors.page == page %}
                    <a
                        class="inline-flex h-10 w-10 items-center justify-center rounded-xl bg-sky-500 text-sm font-medium text-white hover:bg-sky-400"
                        href="/dashboard?page={{ page }}{{ combined_query if combined_query else ''}}"
                        aria-current="page"
                        >{{ page }}</a
                    >
                    {% else %}
                    <a
                        class="inline-flex h-10 w-10 items-center justify-center rounded-xl text-sm font-medium text-gray-400 hover:text-sky-400"
                        href="/dashboard?page={{ page }}{{ combined_query if combined_query else ''}}"
                        >{{ page }}</a
                    >
                    {% endif %} {% else %}
                    <div class="text-gray-400">...</div>
                    {% endif %} {% endfor %} {% if investors.has_next %}
                    <a
                        class="inline-flex items-center gap-2 rounded-md p-4 font-medium text-gray-400 hover:text-sky-500"
                        href="/dashboard?page={{ investors.next_num }}{{ combined_query if combined_query else ''}}"
                    >
                        <span class="sr-only">Next</span>
                        <span aria-hidden="true">»</span>
                    </a>
                    {% endif %}
                </nav>
            </div>
        </section>
    </div>
</main>
{% endblock %}

