{% extends "layouts/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Eric Fung{% endblock
%} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="relative mx-auto flex max-w-7xl flex-col items-center justify-center gap-3 px-8 pb-5 pt-5 text-center sm:px-6 lg:px-8 lg:pt-24"
    >
        <span class="font-mono text-base sm:text-lg">CEO of Globalify</span>
        <h1 class="text-5xl sm:text-7xl">Eric Fung</h1>
        <img
            class="view-eric mt-5 aspect-square h-[500px] rounded-3xl bg-slate-50 object-cover"
            src="/static/elements/Team/Eric.JPG"
            alt=""
        />
        <p class="mt-10 max-w-3xl text-pretty text-start text-xl font-light leading-8">
            Eric boasts a solid track record in both corporate and startup environments, highlighted by a successful
            exit from a luxury gifts e-commerce platform. As the CEO and COO at GLOBALIFY, he has been instrumental in
            expanding the company's reach in the tech startup ecosystem by implementing AI-driven tools and a
            company-developed search engine to streamline venture capital investments.
            <br /><br />
            Additionally, Eric created a crypto digital asset lending protocol, a DeFi project that has significantly
            impacted the crypto communities, where he remains an influential figure.
        </p>
        <img
            class="mt-10 aspect-video w-full max-w-3xl rounded-3xl object-cover"
            src="/static/elements/Team/group_photo.jpg"
            alt=""
        />
        <p class="mt-10 max-w-3xl font-serif text-4xl sm:mt-20 sm:text-7xl">
            “Alone we can do so littlem together we can do so much MORE”
        </p>
        <p class="mt-10 max-w-3xl text-pretty text-start text-xl font-light leading-8 sm:mt-20">
            With an academic foundation from Simon Fraser University and specialized training in entrepreneurship,
            leadership, and innovation from Draper University and Hong Kong Poly University, he possesses a diverse
            skill set that spans from tech development to strategic business growth.
            <br /><br />
            At Manulife, he honed his statistical and analytical skills in assessing financial risks, laying the
            groundwork for his later achievements in leading a 100-person team at On Hing Metal, demonstrating adeptness
            in operational excellence and team leadership. His experience is a unique blend of technical expertise,
            corporate strategy, and entrepreneurial acumen, enabling him to drive innovation and growth in rapidly
            evolving tech markets.
        </p>
        <p class="mt-10 max-w-3xl text-4xl font-medium sm:mt-20 sm:text-7xl">
            Bringing ideas to life, one search at a time—welcome to Globalify
        </p>
        <a
            class="mb-10 mt-5 w-full rounded-3xl bg-sky-400 py-20 text-7xl font-medium text-white transition-all duration-500 ease-in-out hover:scale-105"
            href="/login"
            >Go</a
        >
    </section>
</main>
{% endblock %}
