<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />

        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/static/vue/base.js"></script>
        <script defer src="/static/vue/history.js"></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <title>History | Globalify</title>
    </head>

    <!-- prettier-ignore -->
    {% import "components/navbar.html" as navbar %} 
    {{ navbar.render(current_user) }}

    <body class="h-full overflow-x-clip" id="app">
        <navbar-component @open-aside="asideExpanded = true, asideMinified = !asideMinified"></navbar-component>
        <transition enter-active-class="pop-in" leave-active-class="pop-out">
            <div v-if="selectedItems.size > 0" class="fixed top-0 left-0 right-0 z-50 w-full bg-gray-100 shadow-md">
                <nav
                    class="mx-auto grid h-20 w-full max-w-8xl grid-cols-2 items-center border-b px-4 sm:grid-cols-2 lg:px-6"
                >
                    <div class="flex items-center gap-1">
                        <div class="w-6"></div>
                        <span v-text="'Selected: ' + selectedItems.size" class="text-xl font-medium"></span>
                    </div>
                    <div class="flex justify-end gap-4">
                        <button
                            @click="deleteSelected"
                            class="flex items-center gap-2 rounded-lg border border-red-500 px-4 py-2 text-black shadow-lg bg-gray-100 hover:bg-gray-50 transition-colors ease-in-out"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-5 h-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                />
                            </svg>
                            <span>Delete selected</span>
                        </button>
                        <button
                            @click="clearSelection"
                            class="flex items-center gap-2 rounded-lg border border-gray-900 px-4 py-2 text-black shadow-lg bg-gray-100 hover:bg-gray-50 transition-colors ease-in-out"
                        >
                            <span>Cancel</span>
                        </button>
                    </div>
                </nav>
            </div>
        </transition>
        <div class="relative mx-auto flex h-full min-h-screen w-full max-w-8xl">
            <aside-component :minified="asideMinified"></aside-component>
            <transition enter-active-class="pop-in" leave-active-class="pop-out">
                <div
                    v-if="asideExpanded"
                    @click="asideExpanded = false"
                    class="fixed top-0 z-50 block h-full w-full bg-black/60 lg:hidden"
                ></div>
            </transition>
            <transition enter-active-class="animate-slide-in-left" leave-active-class="animate-slide-out-left">
                <aside-mobile-component
                    v-if="asideExpanded"
                    @close-aside="asideExpanded = false"
                ></aside-mobile-component>
            </transition>
            <main class="flex flex-col w-full p-4 sm:p-6">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <h2 class="sm:text-4xl text-3xl font-bold">Search History</h2>

                <div class="mt-5 flex w-2/5 flex-col items-left">
                    <div
                        class="relative rounded-[30px] bg-white border border-sky-500 h-10 flex items-center shadow-md"
                    >
                        <div class="h-full flex items-center">
                            <button
                                @click="dropdownOpened = !dropdownOpened"
                                class="h-full px-4 transition-colors flex items-center gap-2 border-r border-sky-200"
                            >
                                <span
                                    class="truncate text-base font-medium w-[120px]"
                                    v-text="historyTypes.find(type => type.value === searchType)?.readable || 'Investor' "
                                >
                                </span>
                                <svg stroke="currentColor" height="20px" viewBox="0 -960 960 960" width="20px">
                                    <path
                                        d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"
                                    />
                                </svg>
                            </button>
                            <transition enter-active-class="animate-zoom-in" leave-active-class="animate-zoom-out">
                                <div
                                    v-if="dropdownOpened"
                                    class="absolute top-full p-1 bg-white rounded-lg border border-gray-200 shadow-lg z-50 mt-1"
                                >
                                    <button
                                        v-for="type in historyTypes"
                                        @click="selectType(type.value)"
                                        class="flex w-full items-center gap-2 rounded-md px-2 py-1.5 text-start text-sm hover:bg-sky-500 hover:text-white"
                                    >
                                        <span class="truncate" v-text="type.readable"></span>
                                    </button>
                                </div>
                            </transition>
                        </div>
                        <input
                            id="search"
                            class="flex-grow h-full bg-transparent px-3 text-sm border-0 focus:ring-0"
                            placeholder="Search"
                            v-model="searchString"
                            @input="handleSearch"
                        />
                    </div>
                </div>

                <div class="flex flex-col sm:mt-6 mt-2 mb-4" v-for="[day, histories] of searchHistories" :key="day">
                    <div class="flex">
                        <span class="text-lg text-gray-600 font-medium mb-1" v-text="formatDate(day)"></span>
                    </div>
                    <transition-group name="list" tag="div">
                        <div
                            class="flex gap-8 hover:bg-gray-100 transition-colors ease-in-out rounded-lg p-2 group"
                            v-for="item in histories"
                            :key="item.id"
                        >
                            <div class="hidden min-w-24 gap-3 items-center sm:flex">
                                <input
                                    class="rounded-sm border-2"
                                    type="checkbox"
                                    :checked="selectedItems.has(item.id)"
                                    @click.stop="toggleSelection(item.id)"
                                />
                                <span class="text-sm" v-text="item.created_at"></span>
                            </div>
                            <a
                                :href="`/search${ item.type === 'investmentfirm' ? '/investment-firms': item.type === 'company' ? '/companies' : ''}?search=${ item.query }`"
                                class="flex w-full gap-3 sm:gap-2 items-center"
                            >
                                <svg
                                    v-if="item.type === 'investor'"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-5"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                                    />
                                </svg>
                                <svg
                                    v-if="item.type === 'investmentfirm'"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-5"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"
                                    />
                                </svg>
                                <svg
                                    v-if="item.type === 'company'"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-5"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
                                    />
                                </svg>
                                <div class="flex flex-col sm:flex-row items-baseline sm:gap-2">
                                    <span class="font-medium" v-text="item.query"></span>
                                    <span class="text-sm text-gray-600" v-text="item.readable_type"></span>
                                </div>
                                <span class="text-xs ml-auto mb-auto sm:hidden" v-text="item.created_at"></span>
                            </a>
                            <button
                                @click.stop="deleteItems([item.id])"
                                class="opacity-0 group-hover:opacity-100 transition-opacity mr-3 font-medium text-l duration-200 text-gray-400 hover:text-red-500 p-2 w-8 h-8 flex items-center justify-center rounded-full hover:bg-gray-200"
                            >
                                X
                            </button>
                        </div>
                    </transition-group>
                </div>
                <div class="h-2 mt-4" ref="historySentinel"></div>
                <div class="m-3 flex items-center justify-center" v-if="loading">
                    <svg class="size-6 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle
                            class="opacity-25"
                            cx="12"
                            cy="12"
                            r="10"
                            stroke="currentColor"
                            stroke-width="4"
                        ></circle>
                        <path
                            class="opacity-75"
                            fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                        ></path>
                    </svg>
                </div>
            </main>
        </div>
    </body>
</html>
