{% extends "layouts/layout_teaser.html" %} {% block additional_scripts %}
<!-- <script src="/static/scripts/email.js" defer></script> -->
<script src="/static/scripts/demoSearch.js" defer></script>
{% endblock %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="relative mx-auto max-w-7xl px-8 pb-5 text-center sm:px-6 pt-5 lg:px-8 lg:pt-24 flex flex-col justify-center items-center"
    >
        <img
            class="absolute w-fit h-fit left-1/2 top-0 transform -translate-x-1/2 scale-75 origin-top pointer-events-none -z-50"
            src="/static/elements/hero-bg.svg"
            alt=""
        />
        <!-- <img class="absolute right-1/2 top-0 pointer-events-none" src="/static/elements/blue-blob.svg" alt="" />
        <img
            class="absolute left-1/2 top-0 pointer-events-none opacity-60"
            src="/static/elements/red-blob.svg"
            alt=""
        /> -->
        <span
            class="move-up text-xs bg-white rounded-full border-gray w-fit border border-gray-200 px-2 py-1 shadow-lg text-semibold"
            style="animation-delay: 1.2s"
            ><span class="bg-gradient-to-r from-[#8076E7] to-[#E776C1] bg-clip-text text-transparent"
                >Finding investors with ease</span
            ></span
        >
        <h1
            class="move-up mx-auto mb-10 max-w-sm text-center text-4xl font-semibold text-slate-900 sm:max-w-lg sm:text-5xl lg:text-6xl mt-5 tracking-tight"
        >
            <span class="background-animate bg-gradient-to-r from-[#36B7FF] to-[#DE7CC8] bg-clip-text text-transparent"
                >Globalify</span
            ><br />Your Gateway to Investors
        </h1>
        <p
            class="move-up mx-auto mb-10 max-w-2xl text-center sm:text-lg text-slate-700 text-base"
            style="animation-delay: 0.8s"
        >
            Unlock your business's potential with our extensive network of investors and partners. We're here to help
            you secure the funding you need to take you to the next level.
        </p>
        <!-- <div class="move-up flex flex-wrap items-center justify-center gap-x-6 gap-y-3" style="animation-delay: 1s">
            <a
                class="pulse inline-flex items-center justify-center rounded-xl bg-slate-900 px-4 py-2 font-semibold text-slate-50 transition-colors ease-in-out hover:bg-slate-800 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300"
                style="animation-delay: 2.5s"
                href="/waitlist"
                >Get early access now!</a
            >

            <button
                id="notification_button"
                onclick="showEmailField()"
                class="bg-white group inline-flex items-center justify-center rounded-xl px-4 py-2 text-sm text-slate-700 ring-1 ring-slate-200 hover:text-slate-900 hover:ring-slate-300 focus:outline-none focus-visible:outline-blue-600 focus-visible:ring-slate-300 active:bg-slate-100 active:text-slate-600"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4 flex-none animate-pulse fill-sky-500 group-active:fill-current"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                    />
                </svg>

                <span class="ml-2">Get notified</span>
            </button>
            <form id="email_input" class="hidden gap-3" action="/waitlist-email" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <input
                    class="w-3/4 rounded-xl border border-stone-300 px-2"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="john@email.com"
                    autocomplete="email"
                    required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                />
                <button
                    id="submit-button"
                    class="rounded-xl bg-sky-500 px-3 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
                    type="submit"
                >
                    Submit
                </button>
            </form>
        </div> -->
        <!-- <div
            class="bg-gradient-to-br from-[#3EB5FD] via-30% via-[#685AF3] to-[#D380CC] p-3 mt-10 fade-in rounded-xl"
            style="animation-delay: 1.2s"
        >
            <img class="drop-shadow-lg" src="/static/elements/hero.png" alt="" />
        </div> -->
    </section>

    <section
        class="bg-gradient-to-b from-white to-slate-100 w-full px-8 pb-20 fade-in flex flex-col justify-center items-center"
        style="animation-delay: 1.2s"
    >
        <div class="max-w-4xl w-full">
            <div
                class="flex gap-2 bg-white py-4 rounded-lg shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] pr-5 pulse"
                style="animation-delay: 2.5s"
            >
                <div class="relative w-full">
                    <input
                        type="text"
                        name="search"
                        id="search"
                        class="w-full border-0 py-3 pl-12 text-sm focus:ring-0"
                        placeholder="AI web3 series a funding from california..."
                        autocomplete="off"
                        required
                    />
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                            />
                        </svg>
                    </div>
                </div>
                <button
                    id="search-btn"
                    onclick="getSearch()"
                    class="text-nowrap rounded-lg bg-blue-500 px-4 font-medium text-white transition-colors ease-in-out text-sm w-fit py-3"
                >
                    Search
                </button>
            </div>
        </div>
        <div id="results" class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 relative max-w-7xl mt-10"></div>
    </section>

    <section class="flex items-center justify-center gap-2.5 px-8 py-10 sm:px-6 lg:px-8 bg-[#1C1236] text-white">
        <div class="fade-in flex flex-col items-center justify-center max-w-7xl" style="animation-delay: 1.2s">
            <div class="px-4 sm:px-6 md:text-center lg:px-8 flex flex-col gap-4 justify-center items-center">
                <span
                    class="w-fit border border-slate-200 bg-white text-slate-900 px-3 py-1 rounded-full font-medium inline-flex gap-2 justify-center items-center shadow-md shadow-white/50 text-xs"
                    ><img src="/static/elements/award.svg" alt="" />Experts</span
                >
                <h2 class="text-3xl font-semibold sm:text-4xl">Tailored experience for specific regions</h2>
                <p class="text-slate-500">Experts from around the world are here to help</p>
            </div>
            <img class="mt-10" src="/static/elements/countries.svg" alt="" />
        </div>
    </section>

    <section class="fade-in flex items-center justify-center gap-2.5 px-8 pt-20" style="animation-delay: 1.2s">
        <div class="flex flex-col items-center justify-center max-w-7xl">
            <div class="px-4 sm:px-6 md:text-center lg:px-8 flex flex-col gap-4 justify-center items-center">
                <span
                    class="w-fit border border-slate-200 bg-white text-slate-900 px-3 py-1 rounded-full font-medium inline-flex gap-2 justify-center items-center shadow-xl text-xs"
                    ><img src="/static/elements/3dcube.svg" alt="" />Testimonials</span
                >
                <h2 class="text-3xl font-semibold sm:text-[40px] max-w-2xl mt-2">
                    Hear it from other entrepreneurs. It does
                    <span class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-transparent">work</span>
                </h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 mt-20 gap-x-20 gap-y-10">
                <article class="flex bg-gradient-to-b from-[#EFF6FA] to-[#EEFFFB] rounded-[2rem] p-6">
                    <div class="p-8 bg-white rounded-3xl leading-loose">
                        <p class="line-clamp-7">
                            Thanks to team at Globalify, I was able to secure the funding I needed to take my business
                            to the next level. I can't recommend them enough!
                        </p>
                        <div class="flex flex-col mt-5">
                            <span class="font-bold">Pol Ricart</span>
                            <span class="text-slate-400">Entrepreneur</span>
                        </div>
                    </div>
                </article>
                <article class="flex bg-gradient-to-b from-[#EFF6FA] to-[#EEFFFB] rounded-[2rem] p-6">
                    <div class="p-8 bg-white rounded-3xl leading-loose">
                        <p class="line-clamp-7">
                            Globalify is helping my business to connect with the investors and partners around the
                            world.
                        </p>
                        <div class="flex flex-col mt-5">
                            <span class="font-bold">Alberto Fernandez</span>
                            <span class="text-slate-400">Entrepreneur</span>
                        </div>
                    </div>
                </article>
                <article class="flex bg-gradient-to-b from-[#EFF6FA] to-[#EEFFFB] rounded-[2rem] p-6">
                    <div class="p-8 bg-white rounded-3xl leading-loose">
                        <p class="line-clamp-7">
                            Thanks to the power of Globalify's proprietary AI Search Engine, I was able to secure the
                            funding I needed from Web2, Web3, and very famous angel investors to seed my startup. We are
                            preparing already for the PreA with Institutionals interested who also invested in our Seed.
                            I can't recommend them enough!
                        </p>
                        <div class="flex flex-col mt-5">
                            <span class="font-bold">JL</span>
                            <span class="text-slate-400">First Time Founder</span>
                        </div>
                    </div>
                </article>
                <article class="flex bg-gradient-to-b from-[#EFF6FA] to-[#EEFFFB] rounded-[2rem] p-6">
                    <div class="p-8 bg-white rounded-3xl leading-loose">
                        <p class="line-clamp-7">
                            Globalify has been such an asset to me for my fund in that as we expanded globally we
                            decided who to take on for our fund 2 which is oversubscribed! I have a curated waitlist now
                            of LPs who I am having 1:1 meetings with as my Partners and I decide on strategic
                            partnerships with as we expand our footprint, ethos, investment advisory, and asset classes.
                        </p>
                        <div class="flex flex-col mt-5">
                            <span class="font-bold">Vee W</span>
                            <span class="text-slate-400"
                                >Fund Manager, Private Hedge Fund, International Asset Manager</span
                            >
                        </div>
                    </div>
                </article>
                <article class="flex bg-gradient-to-b from-[#EFF6FA] to-[#EEFFFB] rounded-[2rem] p-6">
                    <div class="p-8 bg-white rounded-3xl leading-loose">
                        <p class="line-clamp-7">
                            Globalify helped us discover hidden gems for direct investment as well as amazing Fund
                            Managers to co-invest with. For a select few of the Funds we met via Globalify, we became
                            LPs after strategic intros and meetings facilitated by the platform. As a single Family
                            Office, it's important for our Family and I to stay ahead of the curve when it comes to
                            Tech, Web3, AI, alongside our stable portfolio of traditional investments. We are excited to
                            bet on the best Founders and Funders via Globalify.
                        </p>
                        <div class="flex flex-col mt-5">
                            <span class="font-bold">JM </span>
                            <span class="text-slate-400">Chair, Single Family Office, US & Asia</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="px-8 w-full pt-20 lg:pt-24 fade-in" style="animation-delay: 1.2s">
        <div
            class="max-w-7xl w-full mx-auto relative flex flex-col gap-10 overflow-hidden rounded-3xl border-2 bg-black bg-cover p-10 shadow-lg lg:flex-row bg-gradient-to-b from-[#3F4472] via-[#231645] to-[#3F4472]"
        >
            <div class="flex flex-col gap-5 text-white lg:w-1/2">
                <span class="text-[40px] font-semibold leading-tight"
                    >Apply for private
                    <br />
                    <span class="bg-gradient-to-r from-sky-500 via-teal-500 to-blue-500 bg-clip-text text-transparent"
                        >Beta Access
                    </span>
                    now!</span
                >
                <p class="lg:text-lg">
                    Get early access to our investor network and find the right investors for your startup.

                    <br /><br />
                    Explore our beta search engine, get access to Premium Connections. For those accepted into our
                    platform, start interacting right away and building out your profile.
                </p>
                <!-- <p class="text-4xl">
                    <s class="text-slate-400">$499</s>
                    $199<span class="text-base">USD</span>
                </p> -->
                <a
                    href="/login"
                    class="rounded-xl bg-sky-500 px-5 py-3 text-center transition-colors ease-in-out hover:bg-sky-400 lg:w-72 mt-5"
                >
                    Create an account
                </a>
            </div>
            <div class="absolute translate-x-1/2 hidden lg:block">
                <img class="" src="/static/elements/hero.png" alt="" />
            </div>
        </div>
    </section>

    <section
        class="flex items-center justify-center gap-2.5 px-8 pt-10 sm:px-6 lg:px-8 mt-20 mb-20 fade-in"
        style="animation-delay: 1.2s"
    >
        <div class="flex flex-col items-center justify-center max-w-7xl w-full">
            <div class="px-4 sm:px-6 md:text-center lg:px-8 flex flex-col gap-4 justify-center items-center">
                <span
                    class="w-fit border border-slate-200 bg-white text-slate-900 px-3 py-1 rounded-full font-medium inline-flex gap-2 justify-center items-center shadow-xl text-xs"
                    ><img src="/static/elements/cards.svg" alt="" />FAQ</span
                >
                <h2 class="text-3xl font-semibold sm:text-[40px] max-w-2xl mt-5">Frequently Asked Questions</h2>
                <p class="text-slate-500">
                    If you can’t find what you’re looking for, email our support team and we wil get back to you.
                </p>
            </div>
            <div class="bg-slate-50 rounded-2xl w-full flex justify-center items-center flex-col gap-7 p-10 mt-10">
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">What is Globalify?</span>
                    <p class="text-slate-400 mt-3">
                        Globalify is a hub for entrepreneurs to connect with investors from around the world
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']"
                        >What is Beta? Beta of the Globalify search engine?</span
                    >
                    <p class="text-slate-400 mt-3">
                        It's an early version of our search engine that connects users with investors. We use it to test
                        and make the search engine better with help from users like you!
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">Why do I have to pay for the Beta version?</span>
                    <p class="text-slate-400 mt-3">
                        We charge for the beta version because it's a special service that uses advanced tech and
                        important sensitive data. This supports ongoing improvements and ensures keep making the service
                        better.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']"
                        >What do I get by paying for the Premium Version?</span
                    >
                    <p class="text-slate-400 mt-3">
                        Upon signup, having more information filled in enables us to match you to better and more
                        accurate results. It will feature lead investors matched for your startup and more in many
                        different industries. And there is Office Hours, where you can ask our experts for advice.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">What is the Knowledge Hub?</span>
                    <p class="text-slate-400 mt-3">
                        It is a space designed by founders, for founders. A close-knit community of innovators. We aim
                        to foster a culture of continuous learning and sharing. We believe that each member brings a
                        unique perspective that enriches the community. It's this collaborative spirit and depth of
                        diverse experience that drive the value of our Knowledge Hub.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">Sharing on Knowledge Hub?</span>
                    <p class="text-slate-400 mt-3">
                        You can share your expertise, interests, and experiences in posts and get feedback from other
                        fellow founders who are on the same journey. We encourage you to ask thought-provoking questions
                        and provide answers. Open conversations are pivotal to learning. The direct message feature
                        allows you not only to touch base with other members but could also lead to future
                        collaborations.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">Can I stop my monthly subscription?</span>
                    <p class="text-slate-400 mt-3">Of course, you can stop anytime.</p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']"
                        >Is my information safe with your search engine?</span
                    >
                    <p class="text-slate-400 mt-3">
                        Yes, for sure! We use the best security to keep your info safe and private.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">What kind of help can I get?</span>
                    <p class="text-slate-400 mt-3">
                        We offer email help at info@globalify.xyz. Our team is ready to answer your questions. In the
                        Hub, there is an option to post your questions and comments directly, on the activity chats, or
                        can DM us directly, however, it may take us 24 hours to respond.
                    </p>
                </article>
                <article class="bg-white shadow-lg rounded-xl w-full p-8">
                    <span class="font-medium text-xl font-['Lexend']">Will the Beta version get updates?</span>
                    <p class="text-slate-400 mt-3">
                        The Beta version will receive updates every month. These updates will be based on the valuable
                        feedback you provide and the exciting new features we have developed. Additionally, we'll send
                        out scheduled updates and some will be based on the feedback on how we can further improve the
                        search engine.
                    </p>
                </article>
            </div>
        </div>
    </section>

    <section class="fade-in mx-auto max-w-7xl px-8 pb-16 pt-16 sm:px-6 lg:px-8 lg:pt-24" style="animation-delay: 1.2s">
        <div class="mx-auto lg:mx-0">
            <h2 class="mx-auto text-center text-3xl font-medium tracking-tight text-slate-900 sm:text-4xl">
                From the blog
            </h2>
            <p class="mx-auto mt-2 text-center text-lg tracking-tight text-slate-700">
                Learn how to grow your business with our expert advice.
            </p>
        </div>
        <div
            class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
            {% if posts %} {% for post in posts %}
            <article class="flex max-w-xl flex-col items-start">
                <img class="mb-5 aspect-[3/2] rounded-lg object-cover" src="{{ post.image }}" alt="" />
                <div class="flex flex-col items-start justify-start">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time class="text-slate-500">{{ post.published }}</time>
                    </div>
                    <div class="relative">
                        <h3 class="mt-3 text-lg font-semibold leading-6 text-slate-900 hover:text-slate-700">
                            <a href="{{ post.link }}">
                                <span class="absolute inset-0"></span>
                                {{ post.title }}
                            </a>
                        </h3>
                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-slate-700">{{ post.subtitle }}</p>
                    </div>
                    <div class="relative mt-4 flex items-center gap-x-4">
                        <div class="text-sm leading-6">
                            <p class="font-semibold text-slate-900">{{ post.author }}</p>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %} {% endif %}
        </div>
    </section>
</main>
{% endblock %}
