{% extends "layouts/layout.html" %} {% block additional_scripts %} {% endblock %} {% block title %}Jennifer Cheng Lo{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section
        class="relative mx-auto flex max-w-7xl flex-col items-center justify-center gap-3 px-8 pb-5 pt-5 text-center sm:px-6 lg:px-8 lg:pt-24"
    >
        <span class="font-mono text-base sm:text-lg">CGO of Globalify</span>
        <h1 class="text-5xl sm:text-7xl">Jennifer Cheng-Lo</h1>
        <img
            class="view-jennifer mt-5 aspect-square h-[500px] rounded-3xl bg-slate-50 object-cover"
            src="/static/elements/Team/Jennifer.JPG"
            alt=""
        />
        <p class="mt-10 max-w-3xl text-pretty text-start text-xl font-light leading-8">
            Jennifer Cheng Lo is a dynamic entrepreneur and investor with over 12 successful exits, including IPOs and
            unicorns. Her expertise spans big tech and successful startups, especially as the co-founder of the
            Globalify.xyz search engine that connects founders and investors. As Globalify's Chief "Glam" Officer, she
            leads strategic partnerships, revenue growth, marketing, PR, fundraising, and investor relations, fostering
            a community of founders and funders.

            <br /><br />
            She's is also the founder and director of NewChicCapital.com, a family office that focuses on impactful
            tech, Web 3, and AI investments. Jennifer directly invests in, advises, and supports founders, and allocates
            resources to digital and alternative assets by partnering with notable funders and fund managers. Beyond
            Globalify, Jennifer founded JennClub DAO, a platform empowering creators, investors, entrepreneurs, and
            changemakers. She's also the founder and chair of the Chosen Collective Foundation and holds leadership
            roles in Ace Investment Management and CoinsGroup, focusing on investor relations.
        </p>
        <img
            class="mt-10 aspect-video w-full max-w-3xl rounded-3xl object-cover"
            src="/static/elements/Team/group_photo2.jpeg"
            alt=""
        />
        <p class="mt-10 max-w-3xl font-serif text-4xl sm:mt-20 sm:text-7xl">
            “Users grow fast, aim high, and then fly even higher. This will happens when founders and investors work
            together to turn dreams into successes”
        </p>
        <p class="mt-10 max-w-3xl text-pretty text-start text-xl font-light leading-8">
            Jennifer's ventures include Glam-it!, a beauty and lifestyle tech brand, and she plays a key role in her
            family's boutique hotel, The Otto Hotel. An accomplished classical concert pianist, actress, and model,
            Jennifer has a piano performance diploma from the New England Conservatory of Music, a BA in International
            Relations from Brown University, and an MBA from the Hong Kong University of Science & Technology. She's an
            influential figure in the arts and humanities, raising millions for causes like women empowerment, Covid
            relief, and health services through her performances and collaborations.
            <br /><br />

            Jennifer's accolades include awards for promising young entrepreneur and achievements in marketing and
            entrepreneurship. She actively contributes to the startup ecosystem as a mentor and philanthropist,
            supporting various funds, projects, and communities aligned with impact entrepreneurship and investing. A
            sought-after speaker and media personality, Jennifer shares her insights at prestigious forums and has been
            featured in leading publications and media outlets.
        </p>
        <p class="mt-10 max-w-3xl text-4xl font-medium sm:mt-20 sm:text-7xl">
            Dream big, search smart, grow fast. Let's get better together with Globalify.
        </p>
        <a
            class="mb-10 mt-5 w-full rounded-3xl bg-sky-400 py-20 text-7xl font-medium text-white transition-all duration-500 ease-in-out hover:scale-105"
            href="/login"
            >Go</a
        >
    </section>
</main>
{% endblock %}
