{% extends "layouts/layout_teaser.html" %} {% block title %}Pricing{% endblock %} {% block head %} {{ super() }} {%
endblock %} {% block content %}
<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden text-slate-900">
    <section class="mb-20 mt-6 flex items-center justify-center gap-2.5 px-8 pt-10 sm:px-6 lg:px-8">
        <div class="flex w-full max-w-7xl flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 px-4 sm:px-6 md:text-center lg:px-8">
                <span
                    class="inline-flex w-fit items-center justify-center gap-2 rounded-full border border-slate-200 bg-white px-3 py-1 text-xs font-medium text-slate-900 shadow-xl"
                    ><img src="/static/elements/3dcube.svg" alt="" />Pricing</span
                >
                <h2 class="mt-5 max-w-2xl text-3xl font-semibold sm:text-[40px]">
                    Simple
                    <span class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-transparent"
                        >pricing</span
                    >
                    for everyone
                </h2>
                <p class="text-slate-500">Flexible Pricing Options for Advanced Search Solutions</p>
            </div>
            <div class="mt-16 grid w-full grid-cols-1 gap-x-5 gap-y-10 sm:grid-cols-2 xl:grid-cols-4">
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Community</span>
                        <span>
                            <span
                                class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                                >$0</span
                            >/month</span
                        >
                        <p>A sneak peek into Globalify</p>
                        <a class="w-full rounded-xl py-3 text-center text-lg ring-2 ring-slate-200" href="/login"
                            >Subscribe</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Knowledge Hub
                            Community</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Global Talk Access</span
                        >
                    </div>
                </article>
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Premium</span>
                        <span>
                            <span
                                class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                                >$29</span
                            >/month</span
                        >
                        <p>Perfect for growing startups</p>
                        <a class="w-full rounded-xl py-3 text-center text-lg ring-2 ring-slate-200" href="/login"
                            >Subscribe</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Knowledge Hub
                            Premium</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Global Talk Access</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Search Engine</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <a class="underline" href="/superconnect"
                                >SuperConnect <span class="text-xs text-gray-600"> As an add-on </span></a
                            >
                        </span>
                    </div>
                </article>
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-[#231645] px-5 py-7 text-white">
                        <span class="text-lg font-semibold">Premium Annual</span>

                        <span><span class="text-4xl font-semibold">$290</span>/year</span>
                        <p>Advanced tools for growth</p>
                        <a
                            class="w-full rounded-xl bg-gradient-to-r from-[#0EA5E9] to-[#DE7CC8] py-3 text-center text-lg"
                            href="/login"
                            >Subscribe</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Knowledge Hub
                            Premium</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Global Talk Access</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Search Engine</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Access to Globalify
                            Labs</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <a class="underline" href="/superconnect"
                                >SuperConnect + <span class="text-xs text-gray-600"> As an add-on </span></a
                            >
                        </span>
                    </div>
                </article>
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Platinum</span>
                        <span>
                            <span
                                class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                                >Custom</span
                            ></span
                        >
                        <p>Maximum Impact for Leaders</p>
                        <a
                            class="w-full rounded-xl py-3 text-center text-lg ring-2 ring-slate-200"
                            href="mailto:eric@globalify.xyz"
                            >Contact Us</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Knowledge Hub
                            Premium</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Global Talk Access</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Search Engine</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Access to Globalify
                            Labs</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />24/7 Priority
                            Support</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />API Access</span
                        >
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />Multiple Seats</span
                        >

                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <a class="underline" href="/superconnect"
                                >SuperConnect + <span class="text-xs text-gray-600"> As an add-on </span></a
                            >
                        </span>
                        <span class="inline-flex items-center gap-3 py-5"
                            ><img class="size-5" src="/static/elements/checkmark.svg" alt="" />And much more</span
                        >
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>

{% endblock %}
