{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<!-- <script src="/static/scripts/dashboard.js" defer></script>
<script src="/static/scripts/search.js" defer></script>
<script src="/static/scripts/query_setter.js" defer></script> -->
{% endblock %} {% block content %}
<main
    class="mx-auto mt-24 flex h-full min-h-screen w-full max-w-7xl flex-col items-start justify-center overflow-x-visible"
>
    <section class="flex flex-col gap-10 px-4 justify-evenly lg:w-1/2 mt-12 mx-auto">
        <form class="flex flex-col gap-4" action="/search" method="post">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
            <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">Find Ideal Investor</h1>
            <p class="max-w-[600px] text-gray-500 md:text-xl dark:text-gray-400">
                Use our advanced search to find investors that match your criteria.
            </p>
            <div class="relative flex gap-2">
                <label for="search" class="sr-only">Search</label>
                <input
                    type="search"
                    name="search"
                    id="search"
                    class="w-full min-w-[190px] rounded-xl border border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Search"
                    value="{{ query }}"
                    required
                />
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg
                        class="size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </div>
            </div>

            <div class="flex items-center justify-center rounded-xl mt-5 w-full gap-5">
                <button
                    class="text-nowrap rounded-lg bg-black px-2 py-3 font-medium text-white transition-colors hover:bg-neutral-800 ease-in-out text-sm w-fit"
                    type="submit"
                >
                    Search
                </button>
                <div class="items-start justify-center w-fit">
                    <div class="relative group w-full">
                        <div
                            class="w-full absolute -inset-0.5 bg-gradient-to-r from-red-500 via-purple-500 to-blue-500 bg-[length:400%_400%] rounded-lg blur opacity-60 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-border"
                        ></div>
                        <a
                            href="/dashboard/suggestions"
                            class="relative px-7 py-4 bg-black rounded-lg leading-none flex justify-center items-center text-white text-sm w-full"
                        >
                            Pick For Me ✨
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="container px-4 py-12 sm:mt-10">
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
            {% for investor in investors %}
            <article class="flex flex-col rounded-lg border p-6 shadow-sm">
                <div class="flex flex-row items-center gap-2">
                    <a href="/investor/{{ investor.id }}" class="text-xl font-bold leading-none">
                        {{ investor.full_name }}
                        <span class="text-base font-normal text-gray-500">@ {{ investor.firm_name }}</span>
                    </a>
                </div>

                <div class="mt-2 flex flex-col gap-2">
                    <p class="text-gray-500">{{ investor.location }}</p>
                    <p class="flex flex-wrap gap-1">
                        {% for round in investor.rounds %}
                        <a class="text-nowrap rounded-lg bg-black px-2 py-1 text-sm text-white">{{ round.name }}</a>
                        {% endfor %}
                    </p>
                    <p class="flex flex-wrap gap-1">
                        {% for industry in investor.industries %}
                        <a class="text-nowrap rounded-lg bg-black px-2 py-1 text-sm text-white">{{ industry.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
