{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<script src="/static/scripts/search.js" defer></script>
<script src="/static/scripts/dashboard.js" defer></script>
<script src="/static/scripts/query_setter.js" defer></script>
<script src="/static/scripts/query_param_handler.js" defer></script>
<script src="/static/scripts/notificationHandler.js" defer></script>
{% endblock %} {% block content %}
<main class="mx-auto h-full min-h-screen w-full overflow-x-hidden bg-[#EAEDF6]">
    <section class="bg-[#231645] p-5 py-10">
        <div class="mx-auto w-full max-w-3xl">
            <div class="flex gap-2 rounded-full bg-white py-2 pr-3 max-w-3xl mx-auto">
                <div class="relative w-full">
                    <input
                        type="search"
                        name="search"
                        id="search"
                        class="w-full border-0 p-3 pl-12 text-sm focus:ring-0 bg-transparent"
                        placeholder="Search"
                        value="{{ query }}"
                        required
                    />
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                            />
                        </svg>
                    </div>
                </div>
                <button
                    id="search-btn"
                    class="w-fit text-nowrap rounded-full bg-blue-500 px-4 text-sm font-medium text-white transition-colors ease-in-out"
                    type="submit"
                >
                    Search
                </button>
            </div>
            <div class="text-white w-full flex text-xs justify-end mt-3">
                <button
                    id="open-advanced-button"
                    class="flex gap-1 justify-center items-center text-gray-300 underline"
                    onclick="toggleAdvanced()"
                >
                    Advanced
                    <svg
                        id="opened-advanced"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-4 hidden"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                    </svg>

                    <svg
                        id="closed-advanced"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-4"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
            </div>
            <div id="advanced-menu" class="mt-5 flex-col flex-wrap gap-x-5 gap-y-3 sm:flex-row hidden">
                <div class="group relative text-left">
                    <label class="text-sm font-semibold text-white" for="country-options">Country</label>
                    <button
                        type="button"
                        class="mt-2 flex w-full gap-1 rounded-lg bg-white px-3 py-3 text-sm group-has-[:checked]:bg-blue-500 group-has-[:checked]:text-white sm:w-52"
                        id="country-options"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                            />
                        </svg>

                        Country
                    </button>
                    <div
                        class="pointer-events-none max-w-full absolute left-0 z-50 mt-2 max-h-60 origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="country-options-menu"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="country-options-menu"
                    >
                        <div class="py-1" role="none">
                            {% for country in countries %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 text-overflow-wrap overflow-clip"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="country"
                                    value="{{ country.name }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ country.name }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="group relative text-left">
                    <label class="text-sm font-semibold text-white" for="round-options">Rounds</label>
                    <button
                        type="button"
                        class="mt-2 flex w-full gap-1 rounded-lg bg-white px-3 py-3 text-sm group-has-[:checked]:bg-blue-500 group-has-[:checked]:text-white sm:w-52"
                        id="round-options"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                            />
                        </svg>
                        Rounds
                    </button>
                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 overflow-x-hidden origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="round-options-menu"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="round-options-menu"
                    >
                        <div class="py-1" role="none">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="rounds_exclusive"
                                    name="rounds_exclusive"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Show only with selected rounds
                            </label>
                            <hr />
                            {% for round in round_list %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="round"
                                    value="{{ round.name }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ round.name }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="group relative text-left">
                    <label class="text-sm font-semibold text-white" for="industry-options">Industry</label>
                    <button
                        type="button"
                        class="mt-2 flex w-full gap-1 rounded-lg bg-white px-3 py-3 text-sm group-has-[:checked]:bg-blue-500 group-has-[:checked]:text-white sm:w-52"
                        id="industry-options"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                            />
                        </svg>
                        Industries
                    </button>
                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 min-w-max origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="industry-options-menu"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="industry-options-menu"
                    >
                        <div class="py-1" role="menu">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="industries_exclusive"
                                    name="industries_exclusive"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Show only with selected industries
                            </label>
                            <hr />
                            {% for category, industries in industry_list.items() %}
                            <label
                                class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            >
                                {{ category }}
                            </label>
                            {% for industry in industries %}
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="industry"
                                    value="{{ industry.name }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ industry.name }}
                            </label>
                            {% endfor %} {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="group relative text-left">
                    <label class="text-sm font-semibold text-white" for="sorting-options">Sorting</label>
                    <button
                        type="button"
                        class="mt-2 flex w-full gap-1 rounded-lg bg-white px-3 py-3 text-sm group-has-[:checked]:bg-blue-500 group-has-[:checked]:text-white sm:w-52"
                        id="sorting-options"
                        aria-haspopup="true"
                        aria-expanded="true"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                            ></path>
                        </svg>
                        Sort By
                    </button>
                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 min-w-max origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="sorting-options-menu"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="sorting-options-menu"
                    >
                        <div class="py-1" role="none">
                            <label
                                class="flex cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="checkbox"
                            >
                                <input
                                    type="checkbox"
                                    id="descending"
                                    name="descending"
                                    value="1"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                Descending
                            </label>
                            <hr />
                            {% if fields %} {% for field, field_name in fields.items() %}
                            <label
                                class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="sort_field"
                                    value="{{ field }}"
                                    class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                />
                                {{ field_name }}
                            </label>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                </div>
                <div class="group relative w-full text-left sm:w-52">
                    <label class="text-sm font-semibold text-white" for="sorting-options">Investment Range</label>
                    <div class="relative mt-2 w-full text-left">
                        <input
                            type="range"
                            class="absolute h-0 w-full cursor-pointer appearance-none rounded-lg [&::-webkit-slider-runnable-track]:h-0"
                            id="min_investment"
                            min="0"
                            max="100"
                            value="0"
                        />
                        <input
                            type="range"
                            class="absolute h-0 w-full cursor-pointer appearance-none rounded-lg [&::-webkit-slider-runnable-track]:h-0"
                            id="max_investment"
                            min="0"
                            max="100"
                            value="100"
                        />
                        <div class="h-4 w-full rounded-full bg-gray-200"></div>
                        <div class="mt-2 flex justify-between text-sm text-white">
                            <span>$0&nbsp;&nbsp;</span>
                            <span>$25M</span>
                            <span>$50M</span>
                        </div>
                    </div>
                </div>
                <div class="group relative w-full text-left sm:w-52">
                    <label class="text-sm font-semibold text-white" for="sorting-options">Employees Range</label>
                    <div class="relative mt-2 w-full text-left">
                        <input
                            type="range"
                            class="absolute h-0 w-full cursor-pointer appearance-none rounded-lg [&::-webkit-slider-runnable-track]:h-0"
                            id="min_employees"
                            min="0"
                            max="1000"
                            value="0"
                        />
                        <input
                            type="range"
                            class="absolute h-0 w-full cursor-pointer appearance-none rounded-lg [&::-webkit-slider-runnable-track]:h-0"
                            id="max_employees"
                            min="0"
                            max="1000"
                            value="1000"
                        />
                        <div class="h-4 w-full rounded-full bg-gray-200"></div>
                        <div class="mt-2 flex justify-between text-sm text-white">
                            <span>0&nbsp;&nbsp;</span>
                            <span>500</span>
                            <span>1000</span>
                        </div>
                    </div>
                </div>
                <a class="mt-3 ml-auto self-end text-sm text-gray-200 underline" href="../search/investment-firms">Clear all</a>
            </div>
            <div id="cool-button" class="mt-5 flex w-full items-center justify-center gap-5 rounded-xl">
                <div class="w-fit items-start justify-center">
                    <div class="group relative w-full">
                        <div
                            class="absolute -inset-0.5 w-full animate-border rounded-lg bg-gradient-to-r from-red-500 via-purple-500 to-blue-500 bg-[length:400%_400%] opacity-75 blur transition-all duration-1000 group-hover:scale-110 group-hover:opacity-100 group-hover:duration-200"
                        ></div>
                        <a
                            href="/suggestions/investment-firms"
                            class="relative flex w-full items-center justify-center rounded-lg bg-white px-10 py-4 text-sm leading-none transition-all duration-200 ease-in-out group-hover:scale-105"
                        >
                            Pick For Me ✨
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mx-auto max-w-7xl px-4 py-12 bg-[#EAEDF6]">
        <div class="relative grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            {% if investment_firms and not unpaid %} {% for investment_firm in investment_firms %}
            <article
                class="flex flex-col rounded-lg p-6 shadow-lg hover:shadow-2xl transition-shadow ease-in-out bg-white"
            >
                <a href="/investment-firm/{{ investment_firm.id }}" class="text-xl font-bold leading-none"> {{ investment_firm.name }} </a>
                <div class="flex flex-col gap-2 text-sm mt-5">
                    <div class="grid grid-cols-2">
                        <span class="inline-flex items-center gap-1 text-gray-700">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                                />
                            </svg>
                            Location
                        </span>
                        <span>{{ investment_firm.location }}</span>
                    </div>
                    <div class="grid grid-cols-2 text-sm">
                        <span class="inline-flex items-center gap-1 text-gray-700">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
                                />
                            </svg>
                            Company
                        </span>
                        <span>{{ investment_firm.firm_name }}</span>
                    </div>
                    <div class="flex flex-col gap-2 mt-5">
                        <span class="flex text-gray-700 gap-1 text-sm"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
                                />
                            </svg>
                            Series:
                        </span>
                        <div class="flex flex-wrap gap-1">
                            {% for round in investment_firm.rounds %}
                            <a
                                class="text-nowrap rounded-full bg-[#FFC9FC] px-2 font-medium py-1.5 text-xs text-[#D182CD]"
                                >{{ round }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <p class="text-sm text-gray-500">{{ ", ".join(investment_firm.industries) }}</p>
                </div>
            </article>
            {% endfor %} {% endif %} {% if unpaid %}
            <div class="absolute lg:top-1/3 lg:w-auto w-full right-1/2 translate-x-1/2 z-50 flex flex-col">
                <h2 class="font-medium text-3xl">Want to see more results?</h2>
                <span class="text-gray-700">Subscribe to Globalify Premium to get unlimited search results</span>
                <a
                    href="/expanded-onboarding"
                    class="py-2 px-3 bg-gradient-to-r from-[#897BE6] to-[#E87BC3] text-white w-fit rounded-lg font-medium mt-5 hover:scale-105 transition-transform ease-in-out"
                    >Try out</a
                >
            </div>
            {% for _ in range(9) %}
            <article class="flex flex-col rounded-lg p-6 shadow-lg bg-white blur pointer-events-none select-none">
                <a class="text-xl font-bold leading-none">Investment Firm Name </a>
                <div class="flex flex-col gap-2 text-sm mt-5">
                    <div class="grid grid-cols-2">
                        <span class="inline-flex items-center gap-1 text-gray-700">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                                />
                            </svg>
                            Location
                        </span>
                        <span>Earth</span>
                    </div>
                    <div class="grid grid-cols-2 text-sm">
                        <span class="inline-flex items-center gap-1 text-gray-700">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
                                />
                            </svg>
                            Company
                        </span>
                        <span>Firm Name</span>
                    </div>
                    <div class="flex flex-col gap-2 mt-5">
                        <span class="flex text-gray-700 gap-1 text-sm"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
                                />
                            </svg>
                            Series:
                        </span>
                        <div class="flex flex-wrap gap-1">
                            <a
                                class="text-nowrap rounded-full bg-[#FFC9FC] px-2 font-medium py-1.5 text-xs text-[#D182CD]"
                                >Seed
                            </a>
                            <a
                                class="text-nowrap rounded-full bg-[#FFC9FC] px-2 font-medium py-1.5 text-xs text-[#D182CD]"
                                >Seed
                            </a>
                        </div>
                    </div>
                    <p class="text-sm text-gray-500">Industry One, Industry Two</p>
                </div>
            </article>
            {% endfor %} {% endif %}
        </div>

        <nav class="mt-10 flex w-full items-center justify-center gap-2">
            <!-- prettier-ignore -->
            {% if pagination and pagination.has_other_pages %} 
            {% if pagination.has_prev %}
            <a class="inline-flex items-center justify-center rounded-lg border size-10 bg-white" href="/search?page=1">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
                    />
                </svg>
            </a>
            <!-- prettier-ignore -->
            <a
                id="prev"
                class="inline-flex items-center justify-center rounded-lg border size-10 bg-white"
                href="/search?page={{ pagination.prev }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </a>
            <!-- prettier-ignore -->
            {% endif %} 
            {% for page in pagination.pages %} 
            {% if page == pagination.current_page %}
            <a
                id="current"
                class="inline-flex size-10 items-center justify-center rounded-lg border bg-white border-sky-500 text-sm text-sky-500 font-bold transition-opacity duration-200 ease-in-out hover:opacity-90"
                href="/search?page={{ pagination.current_page }}"
                >{{ pagination.current_page }}</a
            >
            {% else %}
            <a
                id="page"
                class="inline-flex size-10 items-center justify-center rounded-lg border text-sm font-medium bg-white"
                href="/search?page={{ page }}"
                >{{ page }}</a
            >
            <!-- prettier-ignore -->
            {% endif %} 
            {% endfor %} 
            {% if pagination.has_next %}
            <a
                id="next"
                class="inline-flex items-center justify-center rounded-lg border size-10 bg-white"
                href="/search?page={{ pagination.next }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
            <a
                class="inline-flex items-center justify-center rounded-lg border size-10 bg-white"
                href="/search?page={{ pagination.last_page }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"
                    />
                </svg>
            </a>
            <!-- prettier-ignore -->
            {% endif %} 
            {% endif %}
        </nav>
    </section>

    {% import "macros/notification_macros.html" as notification_macros %} {{
    notification_macros.render_notifications(notifications) }}
</main>
{% endblock %}
