{% extends "layouts/layout_app.html" %} {% block additional_scripts %}
<script src="/static/scripts/dashboard.js" defer></script>
<script src="/static/scripts/bookmark.js" defer></script>
{% endblock %} {% block title %}Investment firms{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<main class="mx-auto h-full min-h-screen w-full overflow-x-visible">
    <section class="mx-4 mt-4 rounded-3xl bg-[#231645] px-4 py-24 text-white">
        <div class="flex flex-col gap-4">
            <h1
                class="mx-auto w-fit bg-gradient-to-r from-[#36B7FF] to-[#DE7CC8] bg-clip-text text-4xl font-bold tracking-tight text-transparent sm:text-5xl xl:text-6xl"
            >
                Best Picks
            </h1>
            <p class="mx-auto max-w-[600px] text-center md:text-xl">
                Based on your preferences, here are some of the best companies for your investing.
            </p>
        </div>
    </section>
    <section class="container mx-auto max-w-7xl px-4 py-12">
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            {% if access %} {% for company in companies %}
            <article
                class="flex flex-col rounded-lg bg-white p-6 shadow-lg transition-shadow ease-in-out hover:shadow-2xl"
            >
                <div class="flex items-center justify-between">
                    <a href="" class="text-xl font-bold leading-none"> {{ company.name }} </a>
                </div>
                <div class="mt-5 flex flex-col gap-2 text-sm">
                    {% if company.country %}
                    <div class="grid grid-cols-2">
                        <span class="inline-flex items-center gap-1 text-gray-700">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                                />
                            </svg>
                            Location
                        </span>
                        <span>{{ company.country.name }}</span>
                    </div>
                    {% endif %} {% if company.preferred_round %}
                    <div class="mt-5 flex flex-col gap-2">
                        <span class="flex gap-1 text-sm text-gray-700"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
                                />
                            </svg>
                            Series:
                        </span>
                        <div class="flex flex-wrap gap-1">
                            <a
                                class="text-nowrap rounded-full bg-[#FFC9FC] px-2 py-1.5 text-xs font-medium text-[#D182CD]"
                                >{{ company.preferred_round.name }}
                            </a>
                        </div>
                    </div>
                    {% endif %} {% if company.industry %}
                    <div class="mt-2 flex flex-col gap-2">
                        <span class="flex gap-1 text-sm text-gray-700"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z"
                                />
                            </svg>
                            Industries:
                        </span>
                        <div class="flex flex-wrap gap-1">
                            <a
                                class="text-nowrap rounded-lg bg-[#B9E5FF] px-2 py-1.5 text-xs font-medium text-[#3EB5FD]"
                                >{{ company.industry.name }}</a
                            >
                        </div>
                    </div>
                    {% endif %}
                </div>
            </article>
            {% endfor %} {% else %}
            <p class="flex flex-col items-center justify-center">
                <span class="text-3xl font-bold">View more</span>
                <span class="mt-2 max-w-sm text-center text-slate-800"
                    >Sign up for our Early Bird tier to get full access to the database of investment firms!</span
                >
                <a
                    class="mt-3 rounded-lg bg-black px-3 py-2 text-white transition-colors ease-in-out hover:bg-neutral-900"
                    href="/tier-selection"
                    >Get access</a
                >
            </p>
            {% for company in companies %}
            <article class="pointer-events-none flex select-none flex-col rounded-lg border p-6 shadow-sm blur-sm">
                <div class="flex flex-row items-center gap-2">
                    <a class="text-xl font-bold leading-none"> {{company.name}} </a>
                </div>

                <div class="mt-2 flex flex-col gap-2">
                    <p class="text-gray-500">{{ company.country }}</p>
                    <p class="flex flex-wrap gap-1">
                        <a class="text-nowrap rounded-lg bg-black px-2 py-1 text-sm text-white"
                            >{{ company.preferred_round.name }}</a
                        >
                    </p>
                    <p class="flex flex-wrap gap-1">
                        <a class="text-nowrap rounded-lg bg-black px-2 py-1 text-sm text-white"
                            >{{ company.industry.name }}</a
                        >
                    </p>
                </div>
            </article>
            {% endfor %} {% endif %}
        </div>
    </section>
    <section class="mx-auto mb-40 mt-12 flex flex-col justify-evenly gap-10 px-4 text-center">
        <div class="flex flex-col items-center justify-center gap-7">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl">Not what you are looking for?</h1>
            <p class="max-w-[600px] text-gray-500 md:text-xl dark:text-gray-400">
                Try updating your preferences in <a class="underline" href="/settings/company">settings</a> to get
                better suggestions.
            </p>
            <a
                class="max-w-fit rounded-xl bg-black px-12 py-4 text-white transition-colors ease-in-out hover:bg-neutral-900"
                href="/search/companies"
                >Go back</a
            >
        </div>
    </section>
</main>
{% endblock %}
