{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<script src="../static/scripts/dashboard.js" defer></script>
<script src="../static/scripts/search.js" defer></script>
<script src="../static/scripts/query_setter.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-24 flex h-full min-h-screen w-full overflow-x-auto pb-16">
    <div class="mx-auto flex w-full max-w-[83rem] flex-col gap-3 px-4 sm:flex-row">
        <section class="flex w-full flex-col items-start justify-start gap-2 sm:w-3/4">
            {% if investors %} {% for investor in investors %}
            <div class="flex w-full flex-col justify-between gap-2 rounded-lg border-2 p-4">
                <div class="flex items-baseline justify-start">
                    <a href="/investor/{{ investor.id }}" class="text-lg underline">{{ investor.full_name }}</a>
                    <span class="text-sm text-slate-500"
                        >&nbsp;{% if investor.firm_name %} @ {{ investor.firm_name }} {% endif %}</span
                    >
                </div>
                <span class="text-sm text-slate-500"
                    >${{ investor.min_investment }} - ${{ investor.max_investment }}</span
                >
                <span class="text-sm text-slate-500"
                    >Succesful exits: {{ (investor.n_exits / investor.n_investments * 100)|round|int }}%</span
                >
                <span class="text-sm text-slate-500"
                    >Country: {{ investor.location }}</span
                >
                <div>
                    <span class="line-clamp-2 text-sm text-slate-500">{{ investor.about }}</span>
                </div>
                <div class="flex gap-2">
                    <div class="flex flex-wrap gap-1">
                        {% for round in investor.rounds %}
                        <a
                            href="/dashboard?round={{ round.name }}"
                            class="inline-flex w-max items-center justify-center rounded-full bg-sky-500 p-2 text-sm leading-none text-white"
                        >
                            {{ round.name }}
                        </a>
                        {% endfor %} {% for industry in investor.industries %}
                        <a
                            href="/dashboard?industry={{ industry.name }}"
                            class="inline-flex w-max items-center justify-center rounded-full bg-sky-500 p-2 text-sm leading-none text-white"
                        >
                            {{ industry.name}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
            <div class="px-4 py-1">
                <nav class="flex items-center"></nav>
            </div>
        </section>
    </div>
</main>
{% endblock %}
