<!-- prettier-ignore -->
{% extends "layouts/layout.html" %} 
{% block title %}SuperConnect{% endblock %} 
{% block head %} 
{{ super() }} 
{% endblock %} 
{% block content %}

<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <!-- <section
        class="relative mx-auto flex max-w-7xl flex-col items-center justify-center px-4 pb-5 pt-5 text-center sm:px-6 lg:px-4 lg:pt-24"
    >
        <img
            class="pointer-events-none absolute left-1/2 top-0 -z-50 h-fit w-fit origin-top -translate-x-1/2 scale-75 transform"
            src="/static/elements/hero-bg.svg"
            alt=""
        />

        <span
            class="border-gray text-semibold w-fit rounded-full border border-gray-200 bg-white px-2 py-1 text-xs shadow-lg"
            ><span class="bg-gradient-to-r from-[#8076E7] to-[#E776C1] bg-clip-text text-transparent"
                >Unlock a Year of Growth Opportunities</span
            ></span
        >
        <h1
            class="mx-auto mb-10 mt-5 text-center text-4xl font-semibold tracking-tight text-slate-900 sm:max-w-xl sm:text-5xl lg:text-6xl"
        >
            What is
            <span class="background-animate bg-gradient-to-r from-[#36B7FF] to-[#DE7CC8] bg-clip-text text-transparent"
                >Globalify's</span
            ><br />SuperConnect?
        </h1>
        <p class="mx-auto mb-10 max-w-2xl text-center text-base text-slate-700 sm:text-lg">
            6 virtual meetings a month to dedicated SuperConnector who will prioritize your growth. Receive personalized
            guidance and support tailored to your unique needs, get into key meetings with investors, ensuring you're
            equipped to navigate the complexities of the startup landscape.
        </p>
        <a
            href="/pricing"
            class="bg-[#181747] hover:bg-[#181747ea] py-3 px-5 rounded-md text-white transition-all ease-in-out"
        >
            View now
        </a>
    </section> -->

    <section class="relative mx-auto mt-24 max-w-7xl px-6">
        <img
            class="pointer-events-none absolute left-1/2 -top-10 -z-50 h-fit w-fit origin-top -translate-x-1/2 scale-75 transform"
            src="/static/elements/hero-bg.svg"
            alt=""
        />
        <div class="mx-auto">
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
            >
                <div class="flex flex-col gap-8 lg:pt-4">
                    <div>
                        <span
                            class="border-gray text-semibold w-fit rounded-full border border-gray-200 bg-white px-2 py-1 text-xs shadow-lg"
                            style="animation-delay: 1.2s"
                            ><span class="bg-gradient-to-r from-[#8076E7] to-[#E776C1] bg-clip-text text-transparent"
                                >Move Faster
                            </span>
                        </span>
                        <p class="mt-4 text-[42px] font-bold sm:text-7xl">SuperConnect</p>
                        <p class="mt-6 text-gray-500 sm:text-lg">
                            Get all the benefits of <b class="font-semibold">Premium</b>, plus a dedicated
                            SuperConnector who will prioritize your growth.
                        </p>
                    </div>
                    <div class="flex items-center sm:justify-start justify-center gap-5">
                        <button
                            onclick="openScheduler()"
                            class="rounded-xl bg-sky-500 hover:bg-sky-400 px-4 py-3 font-medium tracking-wide text-white transition-all ease-in-out"
                        >
                            Book a call
                        </button>
                        <a
                            href="/pricing"
                            class="rounded-xl bg-[#181747] hover:bg-[#181747ea] px-4 py-3 font-medium tracking-wide text-white transition-all ease-in-out"
                        >
                            See Pricing
                        </a>
                    </div>
                </div>
                <img
                    src="/static/elements/Term Sheet Illustration.svg"
                    alt="Knowledge Hub Academy Image"
                    class="mt-10 hidden max-h-96 lg:flex"
                />
            </div>
        </div>
    </section>

    <section class="mt-36 flex items-center justify-center gap-2.5 bg-[#1C1236] px-4 pb-24 pt-12 text-white sm:px-6">
        <div class="flex max-w-7xl flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 md:text-center">
                <span
                    class="inline-flex w-fit items-center justify-center gap-2 rounded-full border border-slate-200 bg-white px-3 py-1 text-xs font-medium text-slate-900 shadow-md shadow-white/50"
                    ><img src="/static/elements/award.svg" alt="" />Features</span
                >
                <h2 class="text-3xl font-semibold sm:text-4xl">Superconnect yourself to the future</h2>
                <p class="text-slate-500">We are here to accelerate your progress</p>
                <dl
                    class="mt-10 grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 text-start lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
                >
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-500"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                    class="h-6 w-6 text-white"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.54 15h6.42l.5 1.5H8.29l.5-1.5Zm8.085-8.995a.75.75 0 1 0-.75-1.299 12.81 12.81 0 0 0-3.558 3.05L11.03 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l2.47-2.47 1.617 1.618a.75.75 0 0 0 1.146-.102 11.312 11.312 0 0 1 3.612-3.321Z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </div>
                            Refine your pitch
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-400">
                            Elevate both your speech and your pitch deck to ensure you're ready to present to any kind
                            of audience.
                        </dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-500"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                    class="h-6 w-6 text-white"
                                >
                                    <path
                                        d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
                                    ></path>
                                    <path
                                        d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
                                    ></path>
                                    <path
                                        d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"
                                    ></path>
                                </svg>
                            </div>
                            Get coached
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-400">
                            Receive 1on1 personalized guidance and support for securing investments and scaling your
                            business, including GTM and business model financial projections.
                        </dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-500"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                    class="h-6 w-6 text-white"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M7.5 5.25a3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0 1 12 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 0 1 7.5 5.455V5.25Zm7.5 0v.09a49.488 49.488 0 0 0-6 0v-.09a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5Zm-3 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                                        clip-rule="evenodd"
                                    ></path>
                                    <path
                                        d="M3 18.4v-2.796a4.3 4.3 0 0 0 .713.31A26.226 26.226 0 0 0 12 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 0 1-6.477-.427C4.047 21.128 3 19.852 3 18.4Z"
                                    ></path>
                                </svg>
                            </div>
                            CXO on demand
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-400">
                            Become extra ready for DD and Q&A with our Due Diligence and Data Room Process Refinery.
                        </dd>
                    </div>
                    <div class="relative pl-16">
                        <dt class="text-base font-semibold leading-7">
                            <div
                                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-500"
                            >
                                <svg
                                    class="h-6 w-6 text-white"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                                    />
                                </svg>
                            </div>
                            Personalized approach
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-400">
                            We will help come up with a personalized plan for you to ensure you're equipped to navigate
                            the complexities of the startup landscape.
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>

    <!-- <section class="w-full flex gap-5 flex-wrap justify-center items-center gap-y-9 px-4 mt-20">
        <img class="h-20" src="/static/elements/logos/Animoca Brands.gif" alt="" />
        <img class="h-12" src="/static/elements/logos/Climate X Logo.jpg" alt="" />
        <img class="h-16" src="/static/elements/logos/olivex.png" alt="" />
        <img class="h-16" src="/static/elements/logos/Pudgy Penguins Logo.jpg" alt="" />
        <img class="h-12" src="/static/elements/logos/runway.svg" alt="" />
        <img class="h-16" src="/static/elements/logos/wow.svg" alt="" />
    </section> -->
    <section class="max-w-7xl mx-auto w-full mt-20 mb-12 px-4">
        <h2 class="text-3xl font-semibold sm:text-4xl tracking-tight">
            Globalify helps bring your ideas into
            <span class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-transparent">reality</span>
        </h2>
        <div class="flex gap-4 w-full mt-16 overflow-x-auto snap-x snap-mandatory *:snap-start">
            <div
                class="rounded-2xl flex flex-col gap-4 bg-[#01151d] p-6 sm:w-full min-w-[300px] aspect-[2/3] relative overflow-hidden"
            >
                <p class="text-gray-400 text-xs">Advisory & Partnership</p>
                <span class="text-white font-medium">
                    Helped <u><a href="https://qubic.org" target="_blank">Qubic</a></u> organize hackathons in Central
                    Asia. Helped set up and secure new investors.
                </span>
                <img
                    class="absolute -bottom-10 translate-x-20 scale-150 aspect-auto rounded-3xl"
                    src="/static/elements/qubic-superconnect.jpg"
                    alt=""
                />
                <div class="absolute bottom-4 left-4 bg-white rounded-xl p-2">
                    <img class="size-8" src="/static/elements/logos/qubic.svg" alt="" />
                </div>
            </div>
            <div
                class="rounded-2xl flex flex-col gap-4 bg-[#edeff1] p-6 sm:w-full min-w-[300px] aspect-[2/3] relative overflow-hidden"
            >
                <p class="text-gray-700 text-xs">Advisory & Series A</p>
                <span class="text-black font-medium">
                    Globalify backed the vision by introducing
                    <u><a href="https://www.climate-x.com/" target="_blank">Climate X</a></u> to Google Ventures and
                    Blue Wire Capital.
                </span>
                <img
                    class="absolute -bottom-32 translate-x-20 scale-150 aspect-auto rounded-3xl"
                    src="/static/elements/climatex-superconnect.jpg"
                    alt=""
                />
                <div class="absolute bottom-4 left-4 bg-black rounded-xl p-1">
                    <img class="size-10" src="/static/elements/logos/climatex.png" alt="" />
                </div>
            </div>
            <div
                class="rounded-2xl flex flex-col gap-4 bg-[#28165c] p-6 sm:w-full min-w-[300px] aspect-[2/3] relative overflow-hidden"
            >
                <p class="text-gray-400 text-xs">Seed Round</p>
                <span class="text-white font-medium">
                    Supported <u><a href="https://www.olivex.ai/" target="_blank">OliveX</a></u> with both existing and
                    new strategic investors through the Web3 and Hong Kong network.
                </span>
                <img
                    class="absolute -bottom-32 translate-x-20 scale-150 aspect-auto rounded-3xl"
                    src="/static/elements/olivex-superconnect.jpeg"
                    alt=""
                />
                <div class="absolute bottom-4 left-4 bg-white rounded-xl px">
                    <img class="size-12 object-contain" src="/static/elements/logos/olivex.png" alt="" />
                </div>
            </div>
            <div
                class="rounded-2xl flex flex-col gap-4 bg-[#f2f2f2] p-6 sm:w-full min-w-[300px] aspect-[2/3] relative overflow-hidden sm:mr-0 mr-10"
            >
                <p class="text-gray-700 text-xs">Series C</p>
                <span class="text-black font-medium">
                    Together with NewChicCapital helped raise
                    <u><a href="https://www.cambrianbio.com/" target="_blank">Cambrian</a></u>
                    <b class="font-semibold">$60,000,000</b></span
                >
                <img
                    class="absolute bottom-10 translate-x-20 scale-150 aspect-auto rounded-3xl"
                    src="/static/elements/cambrianbiopharma-superconnect.jpg"
                    alt=""
                />
                <div class="absolute bottom-4 left-4 bg-[#0a1b42] rounded-xl p-1">
                    <img class="size-9" src="/static/elements/logos/cambrianbiopharma.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="mt-6 flex items-center justify-center gap-2.5 px-4 pt-10 sm:px-6 lg:px-4">
        <div class="flex w-full max-w-7xl flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 md:text-center">
                <span
                    class="inline-flex w-fit items-center justify-center gap-2 rounded-full border border-slate-200 bg-white px-3 py-1 text-xs font-medium text-slate-900 shadow-xl"
                    ><img src="/static/elements/3dcube.svg" alt="" />Pricing</span
                >
                <h2 class="mt-5 max-w-2xl text-3xl font-semibold sm:text-[40px]">
                    Simple
                    <span class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-transparent"
                        >pricing</span
                    >
                    for everyone
                </h2>
                <p class="text-slate-500">Flexible Pricing Options for Advanced Search Solutions</p>
            </div>
            <div class="mt-16 grid w-full max-w-6xl grid-cols-1 gap-x-5 gap-y-10 sm:grid-cols-2 xl:grid-cols-3">
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Community</span>
                        <span>
                            <span
                                class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                                >$0</span
                            >/month</span
                        >
                        <p>A sneak peek into Globalify</p>
                        <a
                            class="mt-12 w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200"
                            href="/login"
                            >Try it out</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Search Engine (Limited search) </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Community </span>
                        </span>
                    </div>
                </article>
                <article id="premium-monthly" class="flex w-full flex-col gap-5">
                    <script>
                        function openAnnual() {
                            document.getElementById("premium-monthly").classList.add("hidden");
                            document.getElementById("premium-monthly").classList.remove("flex");
                            document.getElementById("premium-annual").classList.add("flex");
                            document.getElementById("premium-annual").classList.remove("hidden");
                        }
                    </script>
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Premium</span>
                        <span>
                            <span
                                class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                                >$29</span
                            >/month</span
                        >
                        <p>Perfect for growing startups</p>
                        <div class="mx-auto flex items-center justify-center gap-2">
                            <span class="font-medium">Monthly</span>
                            <button onclick="openAnnual()" class="flex w-12 justify-start rounded-full bg-sky-500 p-1">
                                <div class="size-5 rounded-full bg-white"></div>
                            </button>
                            <span class="flex items-center justify-center gap-1 font-medium"
                                >Annual
                                <span class="rounded-2xl bg-sky-200 px-2 py-1 text-xs text-sky-500"
                                    >Save 20%</span
                                ></span
                            >
                        </div>
                        <a
                            class="w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200"
                            href="/login"
                            >Subscribe</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Search Engine (Unlimited results) </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Premium </span>
                        </span>

                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Weekly Public Office Hours </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Sprints </span>
                        </span>
                    </div>
                </article>
                <article id="premium-annual" class="hidden w-full flex-col gap-5">
                    <script>
                        function openMonthly() {
                            document.getElementById("premium-monthly").classList.add("flex");
                            document.getElementById("premium-monthly").classList.remove("hidden");
                            document.getElementById("premium-annual").classList.add("hidden");
                            document.getElementById("premium-annual").classList.remove("flex");
                        }
                    </script>
                    <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                        <span class="text-lg font-semibold">Premium</span>
                        <span class="flex items-baseline justify-start">
                            <span
                                class="leading bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                            >
                                $280
                            </span>
                            <span> /year </span>
                        </span>
                        <p>Perfect for growing startups</p>
                        <div class="mx-auto flex items-center justify-center gap-2">
                            <span class="font-medium">Monthly</span>
                            <button onclick="openMonthly()" class="flex w-12 justify-end rounded-full bg-sky-500 p-1">
                                <div class="size-5 rounded-full bg-white"></div>
                            </button>
                            <span class="flex items-center justify-center gap-1 font-medium text-sky-500"
                                >Annual
                                <span class="rounded-2xl bg-sky-200 px-2 py-1 text-xs text-sky-500"
                                    >Save 20%</span
                                ></span
                            >
                        </div>
                        <a
                            class="w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200"
                            href="/login"
                            >Subscribe</a
                        >
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Search Engine (Unlimited results) </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Premium </span>
                        </span>

                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Weekly Office Hours </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Sprints </span>
                        </span>
                    </div>
                </article>
                <article class="flex w-full flex-col gap-5">
                    <div class="flex flex-col gap-5 rounded-3xl bg-deep-purple px-5 py-7 text-white">
                        <span class="text-lg font-semibold">SuperConnect</span>
                        <span>
                            From
                            <span
                                class="w-fit bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                            >
                                $1900</span
                            >
                            /month
                        </span>
                        <p>Maximum Impact for Leaders</p>
                        <button
                            class="mt-12 w-full rounded-xl bg-gradient-to-r from-[#0EA5E9] to-[#DE7CC8] py-3 text-center text-lg font-medium"
                            onclick="openScheduler()"
                        >
                            Book a call
                        </button>
                    </div>
                    <div class="flex flex-col divide-y-2">
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Search Engine (Unlimited results) </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Premium </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Globalify Incubation* </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Priority Private Office Hours </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Knowledge Hub Sprints </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Access to Globalify Labs (unreleased AI features)</span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> 1x1 GTM Strategy, pitching, and deck assistance </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Financial modeling and projections </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> Access to our C-Level Team* </span>
                        </span>
                        <span class="inline-flex items-center gap-3 py-5">
                            <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                            <span> On-demand CXO support* </span>
                        </span>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="mb-20 mt-12 w-full px-4">
        <div
            class="relative mx-auto flex w-full max-w-7xl flex-col gap-10 overflow-hidden rounded-3xl border-2 bg-black bg-gradient-to-b from-[#2c3050] via-deep-purple to-[#2c3050] bg-cover p-10 shadow-lg lg:flex-row"
        >
            <div class="flex flex-col gap-5 text-white lg:w-1/2">
                <span class="text-[40px] font-semibold leading-tight"
                    >Get access to our
                    <br />
                    <span class="bg-gradient-to-r from-sky-500 via-teal-500 to-blue-500 bg-clip-text text-transparent"
                        >Free Startup Course
                    </span>
                    on Knowledge Hub!</span
                >
                <p class="lg:text-lg">
                    Learn how to build a successful startup from the ground up. Our course is designed to help you
                    understand the key concepts of entrepreneurship and how to apply them to your own business.
                    <br /><br />
                    Sign up now to get access to our free course and start building your dream startup today!
                </p>
                <!-- <p class="text-4xl">
                    <s class="text-slate-400">$499</s>
                    $199<span class="text-base">USD</span>
                </p> -->
                <a
                    href="https://hub.globalify.xyz"
                    target="_blank"
                    class="mt-5 rounded-xl bg-sky-500 px-5 py-3 text-center font-medium transition-colors ease-in-out hover:bg-sky-400 lg:w-72"
                >
                    Go to Knowledge Hub
                </a>
            </div>
            <div class="absolute hidden translate-x-1/2 lg:block">
                <img class="origin-top-left scale-75 rounded-3xl" src="/static/elements/hub_academy.jpeg" alt="" />
            </div>
        </div>
    </section>
    <section id="schedulerContainer" class="fixed right-0 top-0 hidden h-full w-full bg-black/70">
        <div class="mx-auto h-full w-full max-w-7xl bg-white lg:my-10 lg:h-[90%] lg:w-3/4 lg:rounded-xl">
            <nav class="flex h-16 items-center justify-between gap-3 border-b px-5">
                <h2 class="text-xl font-semibold">Schedule a call</h2>
                <button onclick="closeScheduler()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </nav>
            <iframe
                class="overflow-y-auto"
                id="scheduler"
                style="border: 0"
                height="90%"
                width="100%"
                frameborder="0"
            ></iframe>
        </div>
    </section>
    <script>
        var modal = document.getElementById("schedulerContainer");
        var iframe = document.getElementById("scheduler");
        function openScheduler() {
            modal.classList.remove("hidden");
            iframe.src =
                "https://calendar.google.com/calendar/appointments/schedules/AcZssZ2Mhg7yxFA9l4_9e56OuLXZs2e1R_6XGPXDLmJzY4NYBZkiLMGNMDgsK0x6_8lqlaSMQ--Cu55C?gv=true";
        }

        function closeScheduler() {
            modal.classList.add("hidden");
            iframe.src = "";
        }
    </script>
</main>
{% endblock %}
