<!doctype html>
<html class="scroll-smooth" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/static/css/main.css" />

        <link rel="icon" type="image/png" href="/static/elements/icon.png" />
        <title>Terms of Service | Globalify</title>
    </head>
    <body class="flex h-full flex-col items-center justify-center gap-3 bg-black text-white">
        <nav class="absolute left-0 top-0 flex h-24 w-full items-center justify-start px-9">
            <a href="/"><img class="h-[30px] w-[113px]" src="/static/elements/globalify.png" /></a>
        </nav>
        <main class="mt-24 px-6">
            <h1 class="mt-10 text-6xl sm:text-8xl">Terms of Service</h1>
            <article class="prose prose-invert mx-auto mb-16 lg:prose-lg"></article>
        </main>
    </body>
</html>
