{% extends "layouts/layout_clean.html" %} {% block additional_scripts %}
<script src="/static/scripts/notificationHandler.js" defer></script>
<script src="/static/scripts/idempotency.js" defer></script>
<script src="/static/scripts/resend_veification_timer.js" defer></script>
{% endblock %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main class="relative flex w-full items-center justify-center overflow-x-hidden px-4 pb-52">
    <section class="mt-36 flex max-w-md flex-col items-center justify-center gap-8 md:mt-48">
        <input type="hidden" id="user_id" value="{{ user_id }}" />
        <article class="flex flex-col gap-2 text-center">
            <h1 class="text-3xl font-bold md:text-5xl">Email Verification</h1>
            <p class="max-w-xl text-base text-slate-600 md:text-lg">
                A verification email has been sent to you! Click the link or input a code to verify your email address.
            </p>
        </article>

        <form action="{{ url_for('auth.verify_email') }}" method="GET" class="flex w-full flex-col items-center">
            <input type="hidden" id="next" name="next" value="{{ request.args.get('next') }}" />
            <input
                type="text"
                id="uuid"
                name="uuid"
                placeholder="Enter the verification code"
                class="mb-4 w-full rounded-md border border-gray-300 px-4 py-2"
                required
            />

            <button
                type="submit"
                class="inline-flex w-full items-center justify-center rounded-xl bg-slate-900 py-2 font-semibold text-white"
            >
                Verify
            </button>

            {% if status_type %} {% if status_type == '3' %}
            <div class="mt-3 rounded-xl text-left text-red-500">{{ msg }}</div>
            {% elif status_type == '2' %}
            <div class="mt-3 rounded-xl text-orange-400">{{ msg }}</div>
            {% elif status_type == '1' %}
            <div class="mt-3 rounded-xl text-lime-500">{{ msg }}</div>
            {% endif %} {% endif %}

            <div class="mt-3 flex justify-center gap-x-6 text-sm">
                <a id="resendButton" href="/resend-verification/{{ user_id }}" class="underline">
                    <div id="timer-container" style="display: none">
                        <span id="timer"></span>
                    </div>
                </a>
                <span id="resendTimer" style="display: none"></span>
            </div>
        </form>
    </section>
</main>
{% endblock %}
