<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <meta name="view-transition" content="same-origin" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="icon" type="image/png" href="../static/elements/icon.png" />
        <title>{% block title %}{% endblock %} | Globalify</title>
        {% endblock %}
    </head>
    <body class="h-full">
        <nav class="absolute left-0 top-0 flex h-24 w-full items-center justify-center">
            <img class="h-[30px] w-[113px]" src="../static/elements/logo-black.png" />
        </nav>
        {% block content %} {% endblock %}
    </body>
</html>
