<template id="session-template">
    <div class="relative w-full">
        <nav class="sticky top-20 z-10 h-12 w-full overflow-x-auto border-b bg-white">
            <div class="flex h-full items-center justify-between px-4">
                <div class="flex gap-2 text-sm">
                    <a
                        href="/settings/general"
                        class="flex items-center justify-center gap-2 border-b-2 border-sky-500 px-3 py-2 font-medium transition-colors ease-in-out"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="size-6 shrink-0"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                            ></path>
                        </svg>
                        Sessions
                    </a>
                </div>
                <div class="ml-auto">
                    <a
                        href="#"
                        class="flex shrink-0 cursor-pointer items-center justify-center gap-2 border-b-2 border-transparent px-3 py-2 font-medium transition-colors ease-in-out hover:border-sky-500"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="size-6" fill="#000000">
                            <path
                                d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"
                            />
                        </svg>
                        Filter
                    </a>
                </div>
            </div>
        </nav>
        <main class="sm:p-6">
            <div class="container mx-auto">
                <div v-if="!filteredSessions" class="flex flex-col items-center justify-center h-64 text-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-16 h-16 text-gray-400 mb-4"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 8.25h18M3 8.25v12.75A2.25 2.25 0 005.25 23.25h13.5A2.25 2.25 0 0021 21V8.25M9 12.75h6m-6 3.75h6"
                        />
                    </svg>
                    <h3 class="text-2xl font-semibold text-gray-500 mb-2">No Sessions Found</h3>
                    <p class="text-lg text-gray-400 mb-6">
                        It looks like you haven't booked any sessions yet. Let's get Cocked!
                    </p>
                    <a
                        href="/book-session"
                        class="inline-block bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-blue-600 transition-colors duration-300"
                    >
                        Find an expert Now
                    </a>
                </div>
                <div v-for="(group, index) in filteredSessions" :key="index">
                    <h2 class="text-2xl font-bold mb-4" v-text="group.title"></h2>

                    <div
                        v-for="session in group.sessions"
                        :key="session.id"
                        class="bg-white rounded-lg shadow-xl mb-4 border-l-4 transition-all duration-300 ease-in-out hover:-translate-y-1 hover:bg-gray-50 hover:shadow-md h-32 group"
                        :class="{
                            'border-sky-500': group.type === 'pending',
                            'border-green-500': group.type === 'upcoming',
                            'border-red-500': group.type === 'past'
                        }"
                    >
                        <div class="flex items-stretch h-full cursor-pointer">
                            <!-- Info Section -->
                            <div class="flex items-center w-3/4 p-4">
                                <div class="flex flex-col items-start w-1/3">
                                    <img
                                        class="h-16 w-16 rounded-xl bg-gray-400 object-cover mr-4 mb-2"
                                        :src="session.picture_url || '/static/elements/default_pfp.svg'"
                                        alt="Expert"
                                    />
                                    <span class="text-gray-500 text-sm" v-text="formatDate(session.created_at) "></span>
                                </div>
                                <div class="flex flex-col justify-center w-1/3 pl-4">
                                    <div class="text-lg font-bold mb-1">Mikhail Zubenko</div>
                                    <div class="text-gray-600 text-sm" v-text="formatTime(session.created_at)"></div>
                                </div>

                                <div class="w-1/3 text-center">
                                    <span class="font-semibold text-gray-700"> Type: Training Session</span>
                                </div>
                            </div>

                            <!-- Button Section -->
                            <div class="flex flex-col w-1/4 h-full pl-4">
                                <template v-for="typeConfig in buttonConfigs" :key="typeConfig.type">
                                    <template v-if="group.type === typeConfig.type">
                                        <button
                                            @click="handleAction(session, typeConfig.action)"
                                            class="text-lg font-medium h-full w-full flex items-center justify-center transition-colors duration-400 ease-in-out rounded-r-lg"
                                            :class="[
                                                typeConfig.baseClasses,
                                                session[typeConfig.confirmKey] ? typeConfig.confirmClasses : typeConfig.hoverClasses
                                            ]"
                                            v-text="session[typeConfig.confirmKey] ? typeConfig.confirmText : typeConfig.defaultText "
                                        ></button>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>

        <script src="/static/vue/base.js"></script>
        <script src="/static/scripts/menu.js" defer></script>
        <script src="/static/vue/superconnect.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/posthog-js@latest/dist/posthog.umd.min.js"></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Superconnect | Globalify</title>
    </head>
    <!-- prettier-ignore -->
    {% import "components/navbar.html" as navbar %}
    {{ navbar.render(current_user) }}
    {% import "components/superconnect/full_expert.html" as full_expert %}
    {{ full_expert.render(current_user) }}

    <body class="h-full overflow-x-clip" id="app">
        <navbar-component @open-aside="asideExpanded = true, asideMinified = !asideMinified"></navbar-component>

        <div class="max-w-8xl relative mx-auto flex h-full min-h-screen w-full">
            <aside-component :minified="asideMinified"></aside-component>
            <transition enter-active-class="pop-in" leave-active-class="pop-out">
                <div
                    v-if="asideExpanded"
                    @click="asideExpanded = false"
                    class="fixed top-0 z-50 block h-full w-full bg-black/60 lg:hidden"
                ></div>
            </transition>
            <transition enter-active-class="animate-slide-in-left" leave-active-class="animate-slide-out-left">
                <aside-mobile-component v-if="asideExpanded" @close="asideExpanded = false"></aside-mobile-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div
                    v-if="isFullExpertOpened || isSessionRequestOpened"
                    class="fixed top-0 left-0 z-50 h-full w-full bg-black/70"
                ></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <full-expert-component
                    v-if="isFullExpertOpened"
                    :expert-id="current_user"
                    @close-expert="isFullExpertOpened = false"
                ></full-expert-component>
            </transition>
            <session-component></session-component>
        </div>
    </body>
</html>
