{% macro render() %}
<template id="deck-upload-template">
    <
    <div class="analysis-settings">
        <!-- Audience, Formality, Domain selections -->
        <div class="settings-group">
            <div class="flex-row" v-for="(group, name) in goalsGroups" :key="name">
                <span class="label">{{ name }}</span>
                <div class="button-group">
                    <button
                        v-for="option in group"
                        :key="option.value"
                        @click="selectedGoals[name] = option.value"
                        :class="selectedGoals[name] === option.value ? 'active' : ''"
                    >
                        {{ option.label }}
                    </button>
                </div>
            </div>
        </div>

        <button @click="handleAnalyze" :disabled="!isReady" class="analyze-button">Analyze</button>
    </div>
</template>
{% endmacro %}
