{% macro render(deckIdd) %}
<template id="deck-history-template">
    <article
        class="fixed top-0 right-0 z-[60] flex h-full w-full flex-col overflow-y-scroll overscroll-contain bg-gray-100 transition-all"
        :class="isExpanded ? 'md:w-3/5 lg:w-2/5 2xl:w-1/3 ' : 'lg:w-1/4 2xl:w-1/5'"
    >
        <span class="p-5 font-bold text-2xl">History</span>
        <span v-text="history"></span>
        <div class="flex flex-col" v-for="history in histories" :key="history.id">
            <div
                class="flex flex-col gap-1 px-8 py-3 cursor-pointer hover:bg-gray-200"
                :class="selectedHistory == history.id ? 'bg-gray-300' : ''"
            >
                <a :href="`/deck/detail/{{deckIdd}}/${history.id}`" class="flex flex-col gap-1">
                    <span class="font-bold" v-text="history.created_at"></span>
                    <div class="flex flex-row gap-1">
                        <a
                            v-for="goal in history.goals"
                            :key="goal.id"
                            class="rounded-full bg-[#ffdcfd] px-2 py-1.5 text-xs font-medium text-nowrap text-[#dd70d8]"
                            v-text="goal"
                        >
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </article>
</template>
{% endmacro %}
