<!DOCTYPE html>
<html class="h-full" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="view-transition" content="same-origin" />

        <link rel="stylesheet" href="../static/css/main.css" />
        <title>Unauthorized</title>
    </head>
    <body class="flex h-full flex-col items-center justify-center gap-3 bg-black text-white">
        <nav class="absolute left-0 top-0 flex h-24 w-full items-center justify-start px-9">
            <a href="/"><img class="h-[30px] w-[113px]" src="../static/elements/globalify.png" /></a>
        </nav>
        <div class="text-5xl"><span class="font-medium">401</span> <span class="text-2xl">Unauthorized</span></div>
        <a href="/login" class="inline-flex items-baseline justify-center gap-2 text-base text-stone-300">
            <img class="h-3" src="../static/elements/arrow-left-alt.svg" />
            Login
        </a>
    </body>
</html>
