{% extends "layouts/layout_clean.html" %} {% block additional_scripts%}
<script src="/static/scripts/idempotency.js" defer></script>
{% endblock %} {% block title %}Onboarding{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main class="mt-28 flex flex-col items-center justify-center overflow-x-hidden p-6 sm:mt-36">
    <form action="/company/add" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h1 class="mb-4 text-3xl font-semibold leading-7 text-gray-900">Company profile</h1>
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-full">
                        <label for="user" class="input-label">Users*</label>
                        <div class="mt-2">
                            <select id="user" name="user" autocomplete="user" class="input-field" required>
                                <option value="" disabled selected hidden>Select a user</option>
                                {% if users %} {% for user in users %}
                                <option value="{{ user.id }}">{{ user.email }}</option>
                                {% endfor %} {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="company-name" class="input-label">Company name*</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="company-name"
                                id="company-name"
                                autocomplete="organization-title"
                                required
                                class="input-field"
                            />
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="number_of_employees" class="input-label">Number of employees</label>
                        <div class="mt-2">
                            <input
                                type="number"
                                name="number_of_employees"
                                id="number_of_employees"
                                autocomplete="number_of_employees"
                                required
                                class="input-field"
                                min="0"
                            />
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="description" class="input-label">Description</label>
                        <div class="mt-2">
                            <textarea
                                id="description"
                                name="description"
                                rows="3"
                                class="h-44 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"
                            ></textarea>
                        </div>
                        <p class="mt-3 text-sm leading-6 text-gray-600">
                            Write a few sentences that describe your company.
                        </p>
                    </div>
                    <div class="sm:col-span-full">
                        <label for="country" class="input-label">Country*</label>
                        <div class="mt-2">
                            <select
                                id="country"
                                name="country"
                                autocomplete="country-name"
                                class="input-field"
                                required
                            >
                                <option value="" disabled selected hidden>Select a country</option>
                                {% if countries %} {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endfor %} {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="sm:col-span-full">
                        <label for="round" class="input-label">Preferred round*</label>
                        <div class="mt-2">
                            <select id="round" name="round" class="input-field" required>
                                <option value="" disabled selected hidden>Select a round</option>
                                {% if rounds %} {% for round in rounds %}
                                <option value="{{ round.id }}">{{ round.name }}</option>
                                {% endfor %} {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="sm:col-span-full">
                        <label for="industry" class="block text-sm font-medium leading-6 text-gray-900"
                            >Industry*</label
                        >
                        <div class="mt-2">
                            <select id="industry" name="industry" class="input-field" required>
                                <option value="" disabled selected hidden>Select industries</option>
                                {% for category, industry in industries.items() %}
                                <optgroup label="{{ category }}">
                                    {% for ind in industry %}
                                    <option value="{{ ind.id }}">{{ ind.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Social media</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Put the links to your social media accounts here.</p>
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="col-span-full">
                        <label for="personal-website" class="input-label">Website</label>
                        <div class="mt-2">
                            <input
                                type="url"
                                name="personal-website"
                                id="personal-website"
                                autocomplete="personal-website"
                                placeholder="https://example.com"
                                class="input-field"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if status_type %} {% if status_type == '3' %}
        <div class="rounded-xl text-red-500">{{ msg }}</div>
        {% endif %} {% if status_type == '2' %}
        <div class="rounded-xl text-orange-400">{{ msg }}</div>
        {% endif %} {% if status_type == '1' %}
        <div class="rounded-xl text-lime-500">{{ msg }}</div>
        {% endif %} {% endif %}
        <br />
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
                type="submit"
                class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
            >
                Create
            </button>
        </div>
    </form>
</main>
{% endblock %}
