{% extends "layouts/layout_clean.html" %} {% block additional_scripts%}
<script src="/static/scripts/onboarding.js" defer></script>
<script src="/static/scripts/idempotency.js" defer></script>
<script src="/static/scripts/notificationHandler.js" defer></script>
{% endblock %} {% block title %}Onboarding{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<main class="flex h-full flex-col items-center justify-center overflow-x-hidden p-6">
    <form action="/expanded-onboarding" method="POST" class="w-full max-w-2xl">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
        <h1 class="mb-4 text-center text-4xl font-semibold text-slate-900">Personalize your experience</h1>
        <p class="mb-2 text-center text-slate-400">
            Add your personal and company information to get started with Globalify.
        </p>
        {% if status_type %} {% if status_type == '3' %}
        <div class="rounded-xl text-center text-red-500">{{ msg }}</div>
        {% endif %} {% if status_type == '2' %}
        <div class="rounded-xl text-center text-orange-400">{{ msg }}</div>
        {% endif %} {% if status_type == '1' %}
        <div class="rounded-xl text-center text-lime-500">{{ msg }}</div>
        {% endif %} {% endif %}

        <ol class="flex w-full items-center pt-10 text-center text-sm font-medium text-gray-500 sm:text-base">
            <li
                class="after:border-1 flex items-center text-blue-600 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-blue-600 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10"
            >
                <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] sm:after:hidden">
                    <svg
                        class="me-2.5 h-3.5 w-3.5 sm:h-4 sm:w-4"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                        />
                    </svg>
                    Basic<span class="hidden sm:ms-2 sm:inline-flex">Info</span>
                </span>
            </li>
            <li
                class="after:border-1 flex items-center after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 after:content-[''] sm:after:inline-block md:w-full xl:after:mx-10"
            >
                <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/'] sm:after:hidden">
                    <span class="me-2">2</span>
                    Company<span class="hidden sm:ms-2 sm:inline-flex">Info</span>
                </span>
            </li>
            <li class="flex items-center">
                <span class="me-2">3</span>
                Tier
            </li>
        </ol>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-full">
                <label for="company_name" class="block text-sm font-medium leading-6 text-gray-900"
                    >Company name*</label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="company_name"
                        id="company_name"
                        autocomplete="organization-title"
                        required
                        value="{{ company_name }}"
                        class="h-12 w-full rounded-xl border border-stone-300 bg-transparent px-2"
                    />
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="industry" class="block text-sm font-medium leading-6 text-gray-900">Industry*</label>
                <div class="mt-2">
                    <select
                        id="industry"
                        name="industry"
                        class="h-12 w-full rounded-xl border border-stone-300 px-2"
                        required
                    >
                        <option disabled selected>Select an industry</option>
                        {% for category, industry in industries.items() %}
                        <optgroup label="{{ category }}">
                            {% for ind in industry %}
                            <option value="{{ ind.id }}">{{ ind.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="round" class="block text-sm font-medium leading-6 text-gray-900">Round*</label>
                <div class="mt-2">
                    <select
                        id="round"
                        name="round"
                        class="h-12 w-full rounded-xl border border-stone-300 px-2"
                        required
                    >
                        <option disabled selected>Select a round</option>
                        {% for round in rounds %}
                        <option value="{{ round.id }}">{{ round.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="sm:col-span-4">
                <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country*</label>
                <div class="mt-2">
                    <select
                        id="country"
                        name="country"
                        class="h-12 w-full rounded-xl border border-stone-300 px-2"
                        required
                    >
                        <option disabled selected>Select a country</option>
                        {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="sm:col-span-full">
                <label for="website" class="block text-sm font-medium leading-6 text-gray-900">Website</label>
                <div class="mt-2">
                    <input
                        type="url"
                        name="website"
                        id="website"
                        pattern="https?://.+"
                        placeholder="https://www.example.com"
                        class="h-12 w-full rounded-xl border border-stone-300 bg-transparent px-2"
                    />
                </div>
            </div>

            <button
                type="submit"
                class="inline-flex h-12 items-center justify-center rounded-xl bg-sky-500 px-4 text-white transition-colors ease-in-out hover:bg-sky-400 sm:col-span-6"
            >
                Next
            </button>
        </div>
    </form>
    {% if notification %}
    <section class="pointer-events-none fixed left-0 top-0 h-full w-full">
        <div class="relative mx-auto h-full w-full max-w-7xl">
            <div
                id="toast-interactive"
                class="fade-in-up pointer-events-auto absolute bottom-3 right-3 z-50 w-full max-w-xs rounded-lg bg-white p-4 text-gray-500 shadow-lg"
                role="alert"
            >
                <div class="flex">
                    <div
                        class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-neutral-900 text-white"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                            />
                        </svg>

                        <span class="sr-only">Refresh icon</span>
                    </div>
                    <div class="ms-3 text-sm font-normal">
                        <span class="mb-1 text-sm font-semibold text-gray-900"
                            >{{ notification.json_data.get("title") }}</span
                        >
                        <div class="mb-2 text-sm font-normal">{{ notification.json_data.get("msg") }}</div>
                    </div>
                    <button
                        type="button"
                        class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-white p-1.5 text-gray-400 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-300"
                        data-dismiss-target="#toast-interactive"
                        aria-label="Close"
                        onclick="markNotificationAsRead()"
                        data-notification-id="{{ notification.id }}"
                    >
                        <span class="sr-only">Close</span>
                        <svg
                            class="h-3 w-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}
