{% extends "layouts/layout_auth.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}
<main class="flex h-full w-full flex-row text-slate-900 sm:items-center">
    <div class="w-full justify-center px-9 md:w-1/2 md:justify-start md:px-16 max">
        <article class="flex flex-col max-w-[400px] gap-3">
            <div class="flex flex-col gap-1 mb-4 font-medium">
                <h1 class="text-4xl">Welcome!</h1>
                <span class="text-sm">Sign in with your social media accounts</span>
            </div>
            <a
                href="/login-linkedin"
                class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-stone-300 bg-white transition-colors ease-in-out hover:bg-slate-100 p-3"
            >
                <img class="w-4" src="/static/elements/linkedin.svg" alt="" />
                <span class="font-medium">LinkedIn</span>
            </a>
            <a
                href="/login-google"
                class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-stone-300 bg-white transition-colors ease-in-out hover:bg-slate-100 p-3"
            >
                <img src="/static/elements/google.svg" alt="" />
                <span class="font-medium">Google</span>
            </a>
            <div class="my-2 text-xs text-slate-400">
                <span>By signing in, you agree to </span
                ><a href="/terms-of-service" class="underline">Terms of Service</a><span> and </span
                ><a href="/privacy-policy" class="underline">Privacy Policy</a>
            </div>
        </article>
    </div>
    <div class="hidden h-full w-1/2 overflow-hidden rounded-tl-3xl bg-white md:block">
        <img class="h-full w-full object-cover" src="/static/elements/login_stock.png" alt="" />
    </div>
</main>
{% endblock %}
