<!-- prettier-ignore -->
{% extends "layouts/layout_app.html" %}
{% block additional_scripts%}
<script src="/static/scripts/notificationHandler.js" defer></script>

{% endblock %}
<!-- prettier-ignore -->
{% block title %}Pricing{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<main class="flex w-full flex-col items-center justify-center overflow-x-hidden p-6">
    <h1 class="mt-10 max-w-2xl text-3xl font-semibold sm:text-[40px]">
        Simple
        <span class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-transparent">pricing</span>
        for everyone
    </h1>
    <p class="mt-3 text-slate-500">Flexible Pricing Options for Advanced Search Solutions</p>

    {% if status_type %} {% if status_type == '3' %}
    <div class="rounded-xl text-center text-red-500">{{ msg }}</div>
    {% endif %} {% if status_type == '2' %}
    <div class="rounded-xl text-center text-orange-400">{{ msg }}</div>
    {% endif %} {% if status_type == '1' %}
    <div class="rounded-xl text-center text-lime-500">{{ msg }}</div>
    {% endif %} {% endif %}

    <section class="mt-10 grid w-full max-w-6xl grid-cols-1 gap-x-5 gap-y-10 sm:mt-16 sm:grid-cols-2 xl:grid-cols-3">
        <article class="flex w-full flex-col gap-5">
            <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                <span class="text-lg font-semibold">Community</span>
                <span>
                    <span
                        class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                        >$0</span
                    >/month</span
                >
                <p>A sneak peek into Globalify</p>
                <a
                    class="w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200 sm:mt-12"
                    href="/login"
                    >Stay with Community</a
                >
            </div>
            <div class="flex flex-col divide-y-2">
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Search Engine (Limited search) </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Community </span>
                </span>
            </div>
        </article>
        <article id="premium-monthly" class="flex w-full flex-col gap-5">
            <script>
                function openAnnual() {
                    document.getElementById("premium-monthly").classList.add("hidden");
                    document.getElementById("premium-monthly").classList.remove("flex");
                    document.getElementById("premium-annual").classList.add("flex");
                    document.getElementById("premium-annual").classList.remove("hidden");
                }
            </script>
            <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                <span class="text-lg font-semibold">Premium</span>
                <span>
                    <span
                        class="bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                        >$29</span
                    >/month</span
                >
                <p>Perfect for growing startups</p>
                <div class="mx-auto flex items-center justify-center gap-2">
                    <span class="font-medium">Monthly</span>
                    <button onclick="openAnnual()" class="flex w-12 justify-start rounded-full bg-sky-500 p-1">
                        <div class="size-5 rounded-full bg-white"></div>
                    </button>
                    <span class="flex items-center justify-center gap-1 font-medium"
                        >Annual
                        <span class="rounded-2xl bg-sky-200 px-2 py-1 text-xs text-sky-500">Save 20%</span></span
                    >
                </div>
                <form action="/payment/create-checkout-session" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="tier" value="premium_monthly" />
                    <button
                        type="submit"
                        class="w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
            <div class="flex flex-col divide-y-2">
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Search Engine (Unlimited results) </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Premium </span>
                </span>

                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Weekly Public Office Hours </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Sprints </span>
                </span>
            </div>
        </article>
        <article id="premium-annual" class="hidden w-full flex-col gap-5">
            <script>
                function openMonthly() {
                    document.getElementById("premium-monthly").classList.add("flex");
                    document.getElementById("premium-monthly").classList.remove("hidden");
                    document.getElementById("premium-annual").classList.add("hidden");
                    document.getElementById("premium-annual").classList.remove("flex");
                }
            </script>
            <div class="flex flex-col gap-5 rounded-3xl bg-slate-50 px-5 py-7">
                <span class="text-lg font-semibold">Premium</span>
                <span class="flex items-baseline justify-start">
                    <span
                        class="leading bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                    >
                        $280
                    </span>
                    <span> /year </span>
                </span>
                <p>Perfect for growing startups</p>
                <div class="mx-auto flex items-center justify-center gap-2">
                    <span class="font-medium">Monthly</span>
                    <button onclick="openMonthly()" class="flex w-12 justify-end rounded-full bg-sky-500 p-1">
                        <div class="size-5 rounded-full bg-white"></div>
                    </button>
                    <span class="flex items-center justify-center gap-1 font-medium text-sky-500"
                        >Annual
                        <span class="rounded-2xl bg-sky-200 px-2 py-1 text-xs text-sky-500">Save 20%</span></span
                    >
                </div>
                <form action="/payment/create-checkout-session" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="tier" value="premium_yearly" />
                    <button
                        type="submit"
                        class="w-full rounded-xl py-3 text-center text-lg font-medium ring-2 ring-slate-200"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
            <div class="flex flex-col divide-y-2">
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Search Engine (Unlimited results) </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Premium </span>
                </span>

                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Weekly Office Hours </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Sprints </span>
                </span>
            </div>
        </article>
        <article class="flex w-full flex-col gap-5">
            <div class="flex flex-col gap-5 rounded-3xl bg-[#231645] px-5 py-7 text-white">
                <span class="text-lg font-semibold">SuperConnect</span>
                <span>
                    From
                    <span
                        class="w-fit bg-gradient-to-r from-[#897BE6] to-[#E87BC3] bg-clip-text text-4xl font-semibold text-transparent"
                    >
                        $1900</span
                    >
                    /month
                </span>
                <p>Maximum Impact for Leaders</p>
                <button
                    class="w-full rounded-xl bg-gradient-to-r from-[#0EA5E9] to-[#DE7CC8] py-3 text-center text-lg font-medium sm:mt-12"
                    onclick="openScheduler()"
                >
                    Book a call
                </button>
            </div>
            <div class="flex flex-col divide-y-2">
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Search Engine (Unlimited results) </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Premium </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Globalify Incubation* </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Priority Private Office Hours </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Knowledge Hub Sprints </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Access to Globalify Labs (unreleased AI features)</span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> 1x1 GTM Strategy, pitching, and deck assistance </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Financial modeling and projections </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> Access to our C-Level Team* </span>
                </span>
                <span class="inline-flex items-center gap-3 py-5">
                    <img class="size-5" src="/static/elements/checkmark.svg" alt="" />
                    <span> On-demand CXO support* </span>
                </span>
            </div>
        </article>
    </section>
    <section id="schedulerContainer" class="fixed right-0 top-0 hidden h-full w-full bg-black/70 z-[100]">
        <div class="mx-auto h-full w-full max-w-7xl bg-white lg:my-10 lg:h-[90%] lg:w-3/4 lg:rounded-xl">
            <nav class="flex h-16 items-center justify-between gap-3 border-b px-5">
                <h2 class="text-xl font-semibold">Schedule a call</h2>
                <button onclick="closeScheduler()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </nav>
            <iframe
                class="overflow-y-auto"
                id="scheduler"
                style="border: 0"
                height="90%"
                width="100%"
                frameborder="0"
            ></iframe>
        </div>
    </section>
    <script defer>
        let modal = document.getElementById("schedulerContainer");
        let iframe = document.getElementById("scheduler");

        function openScheduler() {
            console.log(modal)
            modal.classList.remove("hidden");
            iframe.src =
                "https://calendar.google.com/calendar/appointments/schedules/AcZssZ2Mhg7yxFA9l4_9e56OuLXZs2e1R_6XGPXDLmJzY4NYBZkiLMGNMDgsK0x6_8lqlaSMQ--Cu55C?gv=true";
        }

        function closeScheduler() {
            modal.classList.add("hidden");
            iframe.src = "";
        }
    </script>
</main>
{% endblock %}
