<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="view-transition" content="same-origin" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>Delete Account</title>
    </head>
    <body class="bg-gray-100">
        <div class="mx-auto my-10 max-w-md rounded-md bg-white p-5 shadow-sm">
            <h1 class="mb-5 text-2xl font-bold">You are about to delete your account!</h1>
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="flex justify-end gap-2">
                    <button
                        type="submit"
                        class="rounded-xl px-4 py-2 font-medium text-red-500 underline"
                        onclick="this.classList.add('cursor-not-allowed', 'pointer-events-none'); this.innerText = 'Deleting...';"
                    >
                        Delete Account
                    </button>
                    <a href="/settings/security" class="rounded-xl bg-sky-500 px-4 py-2 font-medium text-white"
                        >Cancel</a
                    >
                </div>
            </form>
        </div>
    </body>
</html>

