<!DOCTYPE html>
<html>
    <head>
        <title>Thanks for your order!</title>
        <link rel="stylesheet" href="style.css" />
        <!-- <script src="{{ url_for('static', filename='scripts/client.js') }}" defer></script> -->
        <link rel="stylesheet" href="../static/css/main.css" />

    </head>
    <body>
        <section>
            <div class="product Box-root">
                <div class="description Box-root">
                    <h3>Subscription to Starter plan successful!</h3>
                </div>
            </div>
            <form action="/payment/create-portal-session" method="POST">
                <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
            </form>
        </section>
    </body>
</html>
