@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-SemiBoldItalic.ttf") format("ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-Thin.ttf") format("ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/elements/fonts/Poppins-ThinItalic.ttf") format("ttf");
    font-weight: 100;
    font-style: italic;
}

@layer base {
    html {
        font-family: Poppins;
    }
}

.background-animate {
    background-size: 500%;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 0.8s ease-in-out forwards;
    -moz-animation: fade-in 0.8s ease-in-out forwards;
    animation: fade-in 0.8s ease-in-out forwards;
}

.move-up {
    opacity: 0;
    -webkit-animation: move-up 0.8s ease-in-out forwards;
    -moz-animation: move-up 0.8s ease-in-out forwards;
    animation: move-up 0.8s ease-in-out forwards;
}

.pulse {
    -webkit-animation: pulse 0.5s ease-in-out;
    -moz-animation: pulse 0.5s ease-in-out;
    animation: pulse 0.5s ease-in-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes fadeOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(150%);
    }
}
.fade-out-right {
    animation: fadeOutRight 1s ease-in-out forwards;
}

.fade-in-up {
    transition: bottom 0.5s ease-out;
}

.fade-out-down {
    animation: fadeOutDown 0.5s ease-in-out forwards;
}

.idempotency {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
