@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "League Spartan";
    src: url("../elements/fonts/LeagueSpartan.ttf");
}

@font-face {
    font-family: "Muoto-Light";
    src: url("../elements/fonts/Muoto-Light.woff");
}

@font-face {
    font-family: "Muoto-Regular";
    src: url("../elements/fonts/Muoto-Regular.woff");
}

@font-face {
    font-family: "Sohne";
    src: url("../elements/fonts/Sohne.woff2");
}

@font-face {
    font-family: "Lexend";
    src: url("../elements/fonts/Lexend.ttf");
}

@layer base {
    html {
        font-family: "Lexend", sans-serif;
    }
}

.background-animate {
    background-size: 500%;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 0.8s ease-in-out forwards;
    -moz-animation: fade-in 0.8s ease-in-out forwards;
    animation: fade-in 0.8s ease-in-out forwards;
}

.move-up {
    opacity: 0;
    -webkit-animation: move-up 0.8s ease-in-out forwards;
    -moz-animation: move-up 0.8s ease-in-out forwards;
    animation: move-up 0.8s ease-in-out forwards;
}

.pulse {
    -webkit-animation: pulse 0.5s ease-in-out;
    -moz-animation: pulse 0.5s ease-in-out;
    animation: pulse 0.5s ease-in-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}

.fade-out-right {
    animation: fadeOutRight 1s ease-out;
}
