{% macro render() %}
<template id="session-request-template">
    <article
        class="fixed top-1/2 right-1/2 z-50 flex w-10/12 translate-x-1/2 -translate-y-1/2 flex-col gap-4 rounded-3xl bg-white px-8 py-6 transition-all sm:w-1/2 sm:rounded-xl xl:w-2/5"
    >
        <div class="flex items-start justify-between">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
            <span class="text-dark text-xl font-medium">Are you sure you want to book session?</span>
            <button
                @click="closeSession"
                class="rounded-lg p-1 transition-colors duration-75 ease-in-out hover:bg-gray-300"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 cursor-pointer"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="flex justify-end gap-5">
            <button
                @click="closeSession"
                class="cursor-pointer rounded-lg border border-gray-300 px-3 py-2 transition-colors duration-300 hover:bg-gray-300"
            >
                Close
            </button>
            <button
                @click="bookSession"
                class="cursor-pointer rounded-lg bg-sky-500 px-3 py-2 text-white transition-colors duration-300 hover:bg-sky-600"
            >
                Book
            </button>
        </div>
    </article>
</template>
{% endmacro %}
