<!-- prettier-ignore -->
{% extends "layouts/layout_app.html" %} 
{% block title %} Claim Investor {% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block content %}

<main class="pt-5 flex flex-col min-h-screen items-center gap-5 pb-16 px-4 sm:px-9 w-full">
    <section class="mt-36 flex max-w-md flex-col items-center justify-center gap-8 md:mt-48">
        <span class="text-xl font-bold md:text-3xl place-content-start w-64 md:w-96">Claim a profile</span>
        <a
            href="/investor/{{ investor.slug }}/claiming-manual"
            class="inline-flex w-full items-center justify-center rounded-xl bg-slate-900 py-2 font-semibold text-white"
        >
            Request a manual verification
        </a>
        {% if investor.email %}
        <span class="font-medium">or</span>
        <a
            href="/investor/{{ investor.slug }}/claiming-email"
            class="inline-flex w-full items-center justify-center rounded-xl bg-slate-900 py-2 font-semibold text-white"
        >
            Verify with an email
        </a>
        {% endif %}
    </section>
</main>
{% endblock %}
