<!-- prettier-ignore -->
{% extends "layouts/layout_clean.html" %}
{% block additional_scripts %}
{% if cap_is_configured %}
<script src="{{ cap_api_endpoint }}/cap.js" async></script>
{% endif %}
<script src="/static/scripts/claiming/manual.js" defer></script>
<!-- prettier-ignore -->
{% endblock %} 
{% block title %} Claim Profile {% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block content %}

<main class="mx-auto flex h-full w-full max-w-3xl flex-col items-center justify-center gap-5 px-4 sm:px-9">
    <section class="max-w-md">
        <a
            class="group flex items-center gap-1.5 text-gray-500 transition-colors ease-in-out"
            href="/investor/{{investor.slug}}/claim"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 transition-colors ease-in-out group-hover:text-gray-700"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>
            <span class="transition-colors ease-in-out group-hover:text-gray-700">Back</span>
        </a>
        <article class="mt-4 flex flex-col gap-2">
            <h1 class="text-3xl font-semibold md:text-5xl">Manual Verification</h1>
            <p class="mt-2 max-w-xl text-base text-slate-600 md:text-lg">
                You are about to request a manual verification. Please enter your personal email and our team will reach
                out to you shortly. Keep in mind that this process may take some time.
            </p>
        </article>
        <div class="col-span-full mt-4 w-full empty:hidden">
            {% if status_type %} {% if status_type == '3' %}
            <div class="rounded-xl text-red-500">{{ msg }}</div>
            {% elif status_type == '2' %}
            <div class="rounded-xl text-orange-400">{{ msg }}</div>
            {% elif status_type == '1' %}
            <div class="rounded-xl text-lime-500">{{ msg }}</div>
            {% endif %} {% endif %}
        </div>
        <form id="claimForm" class="mt-2 flex w-full flex-col gap-3" slug="{{ investor.slug }}">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
            <input
                id="email"
                type="email"
                name="email"
                placeholder="Enter your email"
                class="w-full rounded-lg border border-gray-300 px-4 py-2"
                required
            />
            {% if cap_is_configured %}
            <cap-widget
                data-cap-api-endpoint="{{ cap_api_endpoint }}"
                data-cap-sitekey="{{ cap_site_key }}"
            ></cap-widget>
            {% endif %}
            <button
                type="submit"
                class="inline-flex w-full items-center justify-center rounded-lg bg-slate-900 py-2 font-semibold text-white"
            >
                Claim profile
            </button>
        </form>
    </section>
</main>
{% endblock %}
