{% extends "layouts/layout_app.html" %} {% block title %} User Profile {% endblock %} {% block head %} {{ super() }}
<script src="/static/scripts/dashboard.js" defer></script>
{% endblock %} {% block content %}
<main class="flex min-h-screen w-full items-start justify-center bg-neutral-100 pt-24">
    <div class="mx-9 flex max-w-4xl flex-col lg:mx-auto lg:w-full">
        <div class="flex w-full">
            <a
                href="/profile/user/{{ user.id }}"
                class="flex rounded-t-lg bg-white p-3 font-medium leading-6 text-sky-500 shadow-xl"
                >User Profile</a
            >
            <a href="/profile/company/{{ user.id }}" class="flex rounded-md p-3 font-medium leading-6"
                >Company Profile</a
            >
        </div>
        <div class="w-full rounded-b-lg rounded-r-lg bg-white p-6 shadow-xl">
            <div class="flex items-center gap-3">
                {% if user_info.pfp_uuid %}
                <div class="relative h-32 w-32 overflow-hidden rounded-full">
                    <img
                        src="{{ user_info.pfp_uuid }}"
                        alt="Profile Photo"
                        class="h-full w-full rounded-full object-cover"
                    />
                </div>
                {% else %}
                <div class="flex h-32 w-32 items-center justify-center rounded-full bg-gray-300 text-gray-600">
                    No Photo
                </div>
                {% endif %}

                <div class="grid gap-0.5 text-lg">
                    <div class="font-medium">{{ user_info.first_name }} {{ user_info.last_name }}</div>
                    <div class="text-gray-500 dark:text-gray-400">@{{ user_info.username }}</div>
                    {% if user.id == authenticated_user.id %}
                    <div>
                        <button class="mt-[8px] rounded-xl bg-sky-500 px-3 text-white">
                            <a href="/settings/general">Edit</a>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <p class="mt-4 text-gray-500 dark:text-gray-400">{{ user_info.bio }}</p>
            <div class="mt-4 grid gap-4">
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Email</h3>
                    <p>{{ user.email }}</p>
                </div>
                {% if user_info.website %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Website</h3>
                    <p><a href="{{ user_info.website }}" class="underline">{{ user_info.website }}</a></p>
                </div>
                {% else %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Website</h3>
                    <p>No Website</p>
                </div>
                {% endif %} {% if user_info.linkedin_url %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">LinkedIn</h3>
                    <p><a href="{{ user_info.linkedin_url }}" class="underline">{{ user_info.linkedin_url }}</a></p>
                </div>
                {% else %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">LinkedIn</h3>
                    <p>No Linkedin Profile</p>
                </div>
                {% endif %} {% if user_info.instagram_url %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Instagram</h3>
                    <p><a href="{{ user_info.instagram_url }}" class="underline">{{ user_info.instagram_url }}</a></p>
                </div>
                {% else %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Instagram</h3>
                    <p>No Instagram Profile</p>
                </div>
                {% endif %} {% if user_info.twitter_url %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Twitter</h3>
                    <p><a href="{{ user_info.twitter_url }}" class="underline">@{{ user_info.twitter_url }}</a></p>
                </div>
                {% else %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Twitter</h3>
                    <p>No Twitter Profile</p>
                </div>
                {% endif %}
                <div class="grid gap-1">
                    <h3 class="text-sm font-medium">Language</h3>
                    <p>{{ user_info.language }}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
