{% extends "layouts/layout_app.html" %} {% block title %}User Profile{% endblock %} {% block head %} {{ super() }}
<script src="../static/scripts/dashboard.js" defer></script>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    integrity="sha384-cQ3tziIqEXMgU8gKoOqF8op1GqqfXeJGDtrPwHLKvhP1iG/BDA8fm98SGWlvXU8N"
    crossorigin="anonymous"
/>
{% endblock %} {% block content %}
<div class="container mx-auto mt-24 p-8 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-semibold mb-4">User Profile</h1>

    {% if user_info.pfp_uuid %}
    <img src="{{ user_info.pfp_uuid }}" alt="Profile Photo" class="rounded-full w-24 h-24 mr-4" />
    {% else %}
    <div class="rounded-full w-24 h-24 bg-gray-300 flex items-center justify-center text-gray-600">No Photo</div>
    {% endif %}

    <ul class="list-disc pl-4">
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Type:</strong> {{ user.type }}</li>
        <li><strong>Is Verified:</strong> {{ user.is_verified }}</li>
        <li><strong>Is Admin:</strong> {{ user.is_admin }}</li>
        <li><strong>Username:</strong> {{ user_info.username }}</li>
        <li><strong>First Name:</strong> {{ user_info.first_name }}</li>
        <li><strong>Last Name:</strong> {{ user_info.last_name }}</li>

        {% if user_info.linkedin_url %}
        <li>
            <strong>LinkedIn:</strong>
            <a href="{{ user_info.linkedin_url }}" target="_blank">{{ user_info.linkedin_url }}</a>
        </li>
        {% endif %} {% if user_info.instagram_url %}
        <li>
            <strong>Instagram:</strong>
            <a href="{{ user_info.instagram_url }}" target="_blank">{{ user_info.instagram_url }}</a>
        </li>
        {% endif %} {% if user_info.twitter_url %}
        <li>
            <strong>Twitter:</strong>
            <a href="{{ user_info.twitter_url }}" target="_blank">{{ user_info.twitter_url }}</a>
        </li>
        {% endif %}
    </ul>
    <div class="bg-gray-100 p-4 rounded-md">
        {{ user_info.bio }}
    </div>
</div>
{% endblock %}
