{% extends "layouts/layout_teaser.html" %} {% block title %}Payment success{% endblock %} {% block head %} {{ super()
}} {% endblock %} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center gap-8 overflow-x-hidden bg-slate-50 px-4 pb-52 dark:bg-slate-900 dark:text-slate-50"
>
    <h1 class="mt-24 text-center text-5xl font-bold md:mt-48 md:text-8xl">Payment canceled❌</h1>
    <p class="max-w-xl text-center text-xl">
        You have not been charged. If you have any questions, please contact us at <a href="mailto:info@globalify.xyz" class="font-bold underline">info@globalify.xyz</a>
    </p>
    <div class="flex justify-center gap-x-6 overflow-visible">
        <a
            href="/"
            class="inline-flex items-center justify-center rounded-xl bg-slate-900 px-4 py-2 text-sm font-semibold text-slate-50 hover:bg-slate-700 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300 dark:bg-slate-50 dark:text-slate-900 dark:hover:bg-slate-200"
        >
            Go to home
        </a>
    </div>
</main>

{% endblock %}
