{% extends "layouts/layout_admin.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../../../static/scripts/dashboard.js" defer></script>
<script src="../../../static/scripts/selectionColorToggle.js" defer></script>

{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3">
    <div class="flex items-center justify-start gap-1 text-slate-700">
    {% if error %}
    <p>Error: {{ error }}</p>
    {% endif %}
    <form action="{{ url_for('admin.add_investor')}}"  method="POST">
        <h1 class="text-5xl font-medium">Add Investor</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="first_name" class="block text-sm font-medium leading-6 text-gray-900">First name:</label>
        <input type="text" id="first_name" name="first_name" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2" required><br><br>

        <label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Last name:</label>
        <input type="text" id="last_name" name="last_name" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>

        <label for="firm_name" class="block text-sm font-medium leading-6 text-gray-900">Firm name:</label>
        <input type="text" id="firm_name" name="firm_name" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>

        <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About:</label>
        <textarea id="about" name="about" rows="4" cols="50" class="h-44 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"></textarea><br><br>

        <label for="postion" class="block text-sm font-medium leading-6 text-gray-900">Postion:</label>
        <input type="text" id="position" name="position" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>

        <label for="website" class="block text-sm font-medium leading-6 text-gray-900">Website:</label>
        <input type="text" id="website" name="website" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label for="linkedin" class="block text-sm font-medium leading-6 text-gray-900">LinkedIn:</label>
        <input type="text" id="linkedin" name="linkedin" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label for="twitter" class="block text-sm font-medium leading-6 text-gray-900">Twitter:</label>
        <input type="text" id="twitter" name="twitter" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email:</label>
        <input type="email" id="email" name="email" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label for="phone_number" class="block text-sm font-medium leading-6 text-gray-900">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label for="n_investments" class="block text-sm font-medium leading-6 text-gray-900"># Investments:</label>
        <input type="number" id="n_investments" name="n_investments" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2" value="0"><br><br>
        
        <label for="n_exits" class="block text-sm font-medium leading-6 text-gray-900"># Exits:</label>
        <input type="number" id="n_exits" name="n_exits" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2" value="0"><br><br>
        
        <label for="min_investment" class="block text-sm font-medium leading-6 text-gray-900">Min Investment:</label>
        <input type="number" id="min_investment" name="min_investment" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2" value="0"><br><br>
        
        <label for="max_investment" class="block text-sm font-medium leading-6 text-gray-900">Max Investment:</label>
        <input type="number" id="max_investment" name="max_investment" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2" value="0"><br><br>
        
        <label for="location" class="block text-sm font-medium leading-6 text-gray-900">Location:</label>
        <input type="text" id="location" name="location" class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"><br><br>
        
        <label class="block text-sm font-medium leading-6 text-gray-900" for="selected_industries">Select Industries:</label>
        {% for category, industries_list in industries.items() %}
            <div class="flex flex-wrap gap-1 mb-1">
                {% for industry in industries_list %}
                    <label class="inline-flex items-center justify-center rounded-xl border border-black p-2 leading-none text-black cursor-pointer transition-all hover:bg-sky-500 hover:text-white hover:border-sky-500">
                        <input type="checkbox" name="selected_industries" value="{{ industry.id }}" class="hidden">
                        {{ industry.name }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <br><br>
        
        <label class="block text-sm font-medium leading-6 text-gray-900" for="selected_rounds">Select Rounds:</label>
        {% for round in rounds %}
            <label class="inline-flex items-center justify-center rounded-xl border border-black p-2 leading-none text-black cursor-pointer transition-colors hover:bg-sky-500 hover:text-white">
                <input type="checkbox" name="selected_rounds" value="{{ round.id }}" class="hidden">
                {{ round.name }}
            </label>
        {% endfor %}
        <br><br>


        <button type="submit" class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white">Update</button><br>
        <button type="submit" class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"><a href="{{ url_for('admin.index') }}">Return to the main menu</a></button>
    </form>
    </div>
    </section>
</main>
{% endblock %}
