{% extends "layouts/layout_admin.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../../../static/scripts/dashboard.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3">
    <div class="flex items-center justify-start gap-1 text-slate-700">
       
        <form method="POST" action="{{ url_for('admin.edit_investor', investor_id=investor.id) }}">
            <h1 class="text-5xl font-medium">Edit {{ investor.full_name }}</h1><br><br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.first_name }}"><br><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.last_name }}"><br><br>

            <label for="firm_name">Firm Name:</label>
            <input type="text" id="firm_name" name="firm_name" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.firm_name }}"><br><br>

            <label for="about">About:</label><br>
            <textarea id="about" name="about" rows="4" cols="50" class="w-full min-w-[190px] h-32 rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500 resize-y">{{ investor.about }}</textarea><br><br>

            <label for="position">Position:</label>
            <input type="text" id="position" name="position" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.position }}"><br><br>

            <label for="website">Website:</label>
            <input type="text" id="website" name="website" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.website }}"><br><br>

            <label for="linkedin">LinkedIn:</label>
            <input type="text" id="linkedin" name="linkedin" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.linkedin }}"><br><br>

            <label for="twitter">Twitter:</label>
            <input type="text" id="twitter" name="twitter" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.twitter }}"><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.email }}"><br><br>

            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.phone_number }}"><br><br>

            <label for="n_investments"># Investments:</label>
            <input type="number" id="n_investments" name="n_investments" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.n_investments }}"><br><br>

            <label for="n_exits"># Exits:</label>
            <input type="number" id="n_exits" name="n_exits" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.n_exits }}" value="0"><br><br>

            <label for="min_investment">Min Investment:</label>
            <input type="number" id="min_investment" name="min_investment" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.min_investment }}" value="0"><br><br>

            <label for="max_investment">Max Investment:</label>
            <input type="number" id="max_investment" name="max_investment" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.max_investment }}" value="0"><br><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ investor.location }}"><br><br>
   
        <label>Select Rounds:</label><br>
        {% for round in rounds %}
            <input type="checkbox" id="round_{{ round.id }}" name="rounds" class="mt-2 mr-2 rounded border-gray-300 focus:border-blue-500 focus:ring-blue-500" value="{{ round.id }}"
                   {% if round in investor.rounds %} checked {% endif %}>
            <label for="round_{{ round.id }}">{{ round.name }}</label><br>
        {% endfor %}
        <br>

        <p>Select Industries:</p>
        <details open>
            <summary class="sr-only">Information</summary>
            {% for category, industries_list in industries.items() %}
            <details class="mb-4">
                <summary>{{ category }}</summary>
                {% for industry in industries_list %}
                <input type="checkbox" id="industry_{{ industry.id }}" name="industries" class="mt-2 mr-2 rounded border-gray-300 focus:border-blue-500 focus:ring-blue-500" value="{{ industry.id }}"
                    {% if industry in investor.industries %} checked {% endif %}>
                <label for="industry_{{ industry.id }}">{{ industry.name }}</label><br>
                {% endfor %}
            </details>
            {% endfor %}
        </details>
        <input type="submit" value="Update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-300">

        <a href="{{ url_for('admin.index') }}" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-gray-300">Return to the main menu</a>
    </form>
    </div>
    </section>
</main>
{% endblock %}