<!doctype html>
<html lang="en" class="scroll-pt-12">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include "partials/_head_meta.html" %}
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />
        <link
            rel="preload"
            href="/static/elements/fonts/Poppins-Regular.ttf"
            as="font"
            type="font/ttf"
            crossorigin
        />
        <script src="/static/scripts/menu.js" defer></script>
        {% block head_extra %}{% endblock %}
    </head>
    <body class="font-poppins w-full {% block body_class %}{% endblock %}">
        {% include "partials/_nav.html" %}
        <main id="main-content" tabindex="-1">
            {% block content %}{% endblock %}
        </main>
        {% include "partials/_footer.html" %}
        {% block json_ld %}{% endblock %}
        {% include "partials/_analytics.html" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
