<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <meta name="view-transition" content="same-origin" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />
        <script src="/static/scripts/dashboard.js" defer></script>
        <!-- <script src="/static/scripts/search.js" defer></script> -->
        <title>{% block title %}{% endblock %} | Globalify</title>
        {% endblock %}
    </head>
    <body class="h-full">
        <nav class="absolute left-0 top-0 flex h-24 w-full items-center justify-center">
            <div class="flex w-full max-w-7xl items-center gap-7 px-9">
                <a href="/dashboard"
                    ><img class="h-[30px] w-[113px]" src="/static/elements/logo-black.png"
                /></a>
                <div class="hidden gap-7 font-medium sm:flex">
                    <!-- <a href="/dashboard">Dashboard</a> -->
                    <a
                        href="/admin"
                        class="flex items-center justify-center gap-1 rounded-lg px-3 py-3 {% if request.path == '/admin/' %} text-sky-500 {% else %} text-black {% endif %}"
                    >
                        <svg
                            data-darkreader-inline-stroke=""
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
                            ></path>
                        </svg>
                        <span>Investors</span>
                    </a>
                    <a
                        href="/admin/investment-firms/"
                        class="flex items-center justify-center gap-1 rounded-lg px-3 py-3 {% if request.path == '/admin/investment-firms/' %} text-sky-500 {% else %} text-black {% endif %}"
                    >
                        <svg
                            data-darkreader-inline-stroke=""
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            class="h-5 w-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"
                            ></path>
                        </svg>
                        <span>Firms</span>
                    </a>
                    <a
                        href="/admin/users"
                        class="flex items-center justify-center gap-1 rounded-lg px-3 py-3 {% if request.path == '/admin/users/' %} text-sky-500 {% else %} text-black {% endif %}"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
                            />
                        </svg>

                        <span>Users</span>
                    </a>
                    <a
                        href="/admin/companies"
                        class="flex items-center justify-center gap-1 rounded-lg px-3 py-3 {% if request.path == '/admin/companies' %} text-sky-500 {% else %} text-black {% endif %}"
                    >
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="none" viewBox="0 0 24 24" 
                        stroke-width="1.5" 
                        stroke="currentColor" 
                        class="w-6 h-6"
                        >
                        <path 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" 
                        />
                    </svg>
                        <span>Companies</span>
                    </a>
                </div>
            </div>

            <div class="pr-9">
                <!-- <a href="/logout">Logout</a> -->
                <div class="relative ml-3">
                    <button
                        type="button"
                        class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-400 text-sm"
                        id="user-menu-button"
                        aria-expanded="false"
                        aria-haspopup="true"
                    >
                        <span class="sr-only">Open user menu</span>
                        {% if not pfp_base64 %}
                        <img
                            class="aspect-square h-6 w-6 rounded-full"
                            src="/static/elements/default_pfp.svg"
                            alt="Profile picture"
                        />
                        {% else %}
                        <img
                            class="aspect-square h-8 w-8 rounded-full"
                            src="data:image/png;base64,{{ pfp_base64 }}"
                            alt="Profile picture"
                        />
                        {% endif %}
                    </button>
                    <div
                        class="pointer-events-none absolute right-0 z-10 mt-2 w-48 origin-top-right scale-95 transform rounded-md bg-white py-1 opacity-0 shadow-lg ring-1 ring-black ring-opacity-5 transition duration-100 ease-in-out focus:outline-none"
                        id="user-menu"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="user-menu-button"
                        tabindex="-1"
                    >
                        <a
                            href="/profile"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors duration-100 ease-in hover:bg-gray-100"
                            role="menuitem"
                            tabindex="-1"
                            id="user-menu-item-0"
                            >Profile</a
                        >

                        <a
                            href="/settings"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors duration-100 ease-in hover:bg-gray-100"
                            role="menuitem"
                            tabindex="-1"
                            id="user-menu-item-1"
                            >Settings</a
                        >

                        <a
                            href="/logout"
                            class="block px-4 py-2 text-sm text-gray-700 transition-colors duration-100 ease-in hover:bg-gray-100"
                            role="menuitem"
                            tabindex="-1"
                            id="user-menu-item-2"
                            >Logout</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </body>
</html>
