{% extends "layouts/layout_clean.html" %} {% block additional_scripts %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/static/vue/base.js" defer></script>
<script src="/static/vue/investorOnboarding.js" defer></script>

{% endblock %} {% block title %}Onboarding{% endblock %} {% block head %}
<!-- prettier-ignore -->
{% import "components/investor_registration.html" as investor_registration %} 
{{ investor_registration.render() }} 
{% import "components/onboarding/investor_registration_step_0.html" as zero %} 
{{ zero.render(user) }} 
{% import "components/onboarding/general_info.html" as general_info %} 
{{ general_info.render(user) }} 
{% import "components/onboarding/investment_info.html" as investment_info %} 
{{ investment_info.render(industries, rounds) }} 
{% import "components/onboarding/contact_info.html" as contact_info %} 
{{ contact_info.render(user) }} 
{% import "components/full_investor.html" as full_investor %} 
{{ full_investor.render(current_user) }}
{% import "components/claim_investor.html" as claim_investor %} 
{{ claim_investor.render(current_user) }}


{{ super() }} 
{% endblock %} 
{% block content %}

<main class="mx-auto flex h-full max-w-7xl flex-col items-center justify-center overflow-x-hidden p-6">
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <investor-registration-component
            v-if="currentPage === 1"
            @change-page="changePage"
        ></investor-registration-component>
    </transition>

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <claim-investor-component v-if="currentPage === 2" @change-page="changePage"></claim-investor-component>
    </transition>

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <zero-page-component v-if="currentPage === 3" @change-page="changePage"></zero-page-component>
    </transition>

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <general-info-component v-if="currentPage === 4" @change-page="changePage"></general-info-component>
    </transition>

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <investment-info-component v-if="currentPage === 5" @change-page="changePage"></investment-info-component>
    </transition>

    <transition :enter-active-class="enterClass" :leave-active-class="leaveClass">
        <contact-info-component v-if="currentPage === 6" @change-page="changePage"></contact-info-component>
    </transition>
</main>

{% endblock %}
