{% extends "layouts/layout_admin.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../../static/scripts/dashboard.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3">
        <div class="flex items-center justify-center gap-1 text-slate-700">
            <form action="/admin/user/add" method="POST">
                <div class="flex items-start justify-start gap-1 text-slate-700">
                    <a
                        href="/admin/users"
                        class="flex items-center border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:rounded-full hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
                            />
                        </svg>

                        Back
                    </a>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <h1 class="text-5xl font-medium">Add User</h1>
                <br />
                <div class="flex justify-center">
                    <span class="bg-white px-2 text-sm font-semibold uppercase tracking-wider text-gray-500"
                        >User</span
                    >
                </div>
                <label for="email" class="input-label">Email:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    autocomplete="email"
                    class="input-field"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    title="Enter a valid email address"
                    required
                /><br /><br />

                <label for="password" class="input-label">Password:</label>
                <input type="password" id="password" name="password" class="input-field" required /><br /><br />

                <label for="confirm_password" class="input-label">Confirm password:</label>
                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    class="input-field"
                    required
                /><br /><br />

                <label for="is_verified" class="input-label">Is Verified:</label>
                <input
                    type="checkbox"
                    id="is_verified"
                    name="is_verified"
                    class="h-5 w-5 rounded border-gray-300 text-blue-500 focus:border-blue-400 focus:ring-blue-200"
                />
                <br /><br />

                <label for="is_admin" class="input-label">Is Admin:</label>
                <input
                    type="checkbox"
                    id="is_admin"
                    name="is_admin"
                    class="h-5 w-5 rounded border-gray-300 text-blue-500 focus:border-blue-400 focus:ring-blue-200"
                />
                <br /><br />
                <div class="flex justify-center">
                    <span class="bg-white px-2 text-sm font-semibold uppercase tracking-wider text-gray-500"
                        >User Info</span
                    >
                </div>
                <br />
                <label for="first_name" class="input-label">First Name:</label>
                <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    autocomplete="first_name"
                    class="input-field"
                    required
                /><br /><br />

                <label for="last_name" class="input-label">Last Name:</label>
                <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    autocomplete="last_name"
                    class="input-field"
                    required
                /><br /><br />

                <label for="username" class="input-label">Username:</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    autocomplete="username"
                    pattern="[a-zA-Z0-9_]{3,20}"
                    class="input-field"
                    required
                /><br /><br />

                <label for="bio" class="input-label">Bio:</label>
                <textarea
                    id="bio"
                    name="bio"
                    rows="4"
                    cols="50"
                    class="h-44 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"
                ></textarea
                ><br /><br />

                <label for="linkedin" class="input-label">LinkedIn:</label>
                <input
                    type="text"
                    id="linkedin"
                    name="linkedin"
                    autocomplete="linkedin"
                    class="input-field"
                    placeholder="https://linkedin.com/in/username"
                /><br /><br />

                <label for="instagram" class="input-label">Instagram:</label>
                <input
                    type="text"
                    id="website"
                    name="website"
                    autocomplete="instagram"
                    placeholder="https://instagram.com/username"
                    class="input-field"
                /><br /><br />

                <label for="twitter" class="input-label">Twitter:</label>
                <input
                    type="text"
                    id="twitter"
                    name="twitter"
                    autocomplete="twitter"
                    placeholder="https://twitter.com/username"
                    class="input-field"
                /><br /><br />

                <div class="col-span-full">
                    <label for="photo" class="input-label">Photo:</label>
                    <div class="mt-2 flex items-center gap-x-3">
                        <svg
                            class="h-12 w-12 text-stone-300"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <input
                            class="h-12 w-full cursor-pointer rounded-xl border-2 border-stone-300 bg-transparent pr-2 file:mr-4 file:h-full file:cursor-pointer file:rounded-md file:border-0 file:bg-sky-500 file:text-sm file:font-semibold file:text-white file:transition-colors file:ease-in-out file:hover:bg-sky-400"
                            type="file"
                            id="pfp"
                            name="pfp"
                            accept="image/png, image/jpeg"
                        />
                    </div>
                </div>
                <br />

                <label for="is_complete" class="input-label">Is Complete:</label>
                <input
                    type="checkbox"
                    id="is_complete"
                    name="is_complete"
                    class="h-5 w-5 rounded border-gray-300 text-blue-500 focus:border-blue-400 focus:ring-blue-200"
                />
                <br /><br />

                <div class="sm:col-span-3">
                    <label for="language" class="block text-sm font-medium leading-6 text-gray-900">Language*</label>
                    <div class="mt-2">
                        <select
                            id="language"
                            name="language"
                            autocomplete="language"
                            class="h-12 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2"
                            required
                        >
                            <option value="" disabled selected hidden>Select a language</option>
                            {% if languages %} {% for language in languages %}
                            <option>{{ language }}</option>
                            {% endfor %} {% endif %}
                        </select>
                    </div>
                </div>
                <br />
                <div class="flex justify-center">
                    <span class="bg-white px-2 text-sm font-semibold uppercase tracking-wider text-gray-500"
                        >User Payment</span
                    >
                </div>

                <br />

                <label for="customer_id" class="input-label">Customer ID:</label>
                <input type="text" id="customer_id" name="customer_id" class="input-field" /><br /><br />

                <label for="subscription_id" class="input-label">Subscription ID:</label>
                <input type="text" id="subscription_id" name="subscription_id" class="input-field" /><br /><br />

                <label for="created" class="input-label">Created:</label>
                <input type="date" id="created" name="created" class="input-field" /><br /><br />

                <label for="expires_at" class="input-label">Expires at:</label>
                <input type="date" id="expires_at" name="expires_at" class="input-field" /><br /><br />

                <label for="is_active" class="input-label">Is Active:</label>
                <input
                    type="checkbox"
                    id="is_active"
                    name="is_active"
                    class="h-5 w-5 rounded border-gray-300 text-blue-500 focus:border-blue-400 focus:ring-blue-200"
                />
                <br /><br />
                <button
                    type="submit"
                    class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
                >
                    Create</button
                ><br />
            </form>
        </div>
    </section>
</main>
{% endblock %}
