{% extends "layouts/layout_admin.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../../static/scripts/dashboard.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3">
        <div class="flex items-center justify-center gap-1 text-slate-700">
            <form action="/admin/user/edit/{{ user.id }}/change-password" method="POST">
                <div class="flex items-center justify-between gap-4">
                    <div class="flex items-start justify-start gap-1 text-slate-700">
                        <a
                            href="/admin/users"
                            class="flex items-center border-sky-500 px-1 py-[7px] font-medium text-sky-500 transition-all hover:rounded-full hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-6 w-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
                                />
                            </svg>
                            Back
                        </a>
                    </div>
                </div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <h1 class="text-5xl font-medium">Change Password</h1>
                <br />
                <label for="password" class="input-label">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="input-field"
                    required
                /><br /><br />

                <label for="confirm_password" class="input-label">Confirm password:</label>
                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    class="input-field"
                    required
                /><br /><br />

                {% if status_type %} {% if status_type == '3' %}
                <div class="rounded-xl text-red-500">{{ msg }}</div>
                {% endif %} {% if status_type == '2' %}
                <div class="rounded-xl text-orange-400">{{ msg }}</div>
                {% endif %} {% if status_type == '1' %}
                <div class="rounded-xl text-lime-500">{{ msg }}</div>
                {% endif %} {% endif %}
                <br />
                <button
                    type="submit"
                    class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
                >
                    Update Password</button
                ><br />
            </form>
        </div>
    </section>
</main>
{% endblock %}
