<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
        <script src="/static/vue/base.js"></script>
        <script src="/static/scripts/menu.js" defer></script>
        <script src="/static/vue/admin.js" defer></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Create Funding Round | Globalify</title>
    </head>

    <!-- prettier-ignore -->
    {% import "components/navbar.html" as navbar %} 
    {{ navbar.render(current_user) }}
    {% import "components/create_notable_investment.html" as createNotableInvestment %}
    {{ createNotableInvestment.render() }}

    <body class="h-full overflow-x-clip" id="app">
        <navbar-component @open-aside="asideExpanded = true, asideMinified = !asideMinified"></navbar-component>
        <div class="max-w-8xl relative mx-auto flex h-full min-h-screen w-full">
            <aside-component :minified="asideMinified"></aside-component>
            <transition enter-active-class="pop-in" leave-active-class="pop-out">
                <div
                    v-if="asideExpanded"
                    @click="asideExpanded = false"
                    class="fixed top-0 z-50 block h-full w-full bg-black/60 lg:hidden"
                ></div>
            </transition>
            <transition enter-active-class="animate-slide-in-left" leave-active-class="animate-slide-out-left">
                <aside-mobile-component v-if="asideExpanded" @close="asideExpanded = false"></aside-mobile-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div
                    class="fixed top-0 left-0 z-50 h-full w-full bg-black/70"
                    v-if="createNotableInvestmentOpened"
                ></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <create-notable-investment-component
                    v-if="createNotableInvestmentOpened"
                    @close-create-notable-investment-modal="createNotableInvestmentOpened = false"
                    @notable-investment-created="addNotableInvestment"
                ></create-notable-investment-component
            ></transition>

            <main id="app" class="mx-auto flex w-full max-w-3xl flex-col p-4 sm:p-9">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="flex">
                    <a href="/admin/funding-rounds" class="group flex items-center gap-1 text-gray-500">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="size-4 transition-colors ease-in-out group-hover:text-gray-700"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="text-sm transition-colors ease-in-out group-hover:text-gray-700">Admin</div>
                    </a>
                </div>
                <div class="grid grid-cols-6 gap-x-2 gap-y-1">
                    <h2 class="col-span-full mt-3 text-2xl font-medium">General info</h2>
                    <div class="col-span-full empty:hidden">
                        {% if status_type %} {% if status_type == '3' %}
                        <div class="rounded-xl text-red-500">{{ msg }}</div>
                        {% elif status_type == '2' %}
                        <div class="rounded-xl text-orange-400">{{ msg }}</div>
                        {% elif status_type == '1' %}
                        <div class="rounded-xl text-lime-500">{{ msg }}</div>
                        {% endif %} {% endif %}
                    </div>

                    <div class="col-span-full">
                        <label for="company" class="text-sm font-medium text-gray-700">Company</label>
                        <div>
                            <select id="company" name="company" class="h-12 w-full rounded-xl px-2" id="round">
                                <option value="" disabled selected>Select a company</option>
                                {% if companies %} {% for company in companies %}
                                <option value="{{ company.id }}">{{ company.name }}</option>
                                {% endfor %} {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="custom_company_name">Custom Company Name</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            id="custom_company_name"
                            placeholder="Globalify"
                            type="text"
                        />
                    </div>

                    <div class="sm:col-span-3">
                        <label for="round" class="text-sm font-medium text-gray-700">Round</label>
                        <div>
                            <select id="round" name="round" class="h-12 w-full rounded-xl px-2" id="round">
                                <option value="" disabled selected>Select a round</option>
                                {% if rounds %} {% for round in rounds %}
                                <option value="{{ round.id }}">{{ round.name }}</option>
                                {% endfor %} {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="announced_date">Announced date</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="date"
                            id="announced_date"
                            required
                        />
                    </div>
                </div>
                <button
                    id="saveButton"
                    @click="submitFundingRoundData"
                    class="mt-5 w-fit place-self-end rounded-md bg-sky-500 px-3 py-2 text-sm text-white disabled:cursor-not-allowed disabled:bg-gray-500"
                >
                    Save
                </button>
            </main>
        </div>
    </body>
</html>
