<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />

        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/static/vue/base.js"></script>
        <script src="/static/scripts/menu.js" defer></script>
        <script src="/static/vue/admin.js" defer></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Create Investor | Globalify</title>
    </head>

    <!-- prettier-ignore -->
    {% import "components/navbar.html" as navbar %} 
    {{ navbar.render(current_user) }}
    {% import "components/create_notable_investment.html" as createNotableInvestment %}
    {{ createNotableInvestment.render() }}

    <body class="h-full overflow-x-clip" id="app">
        <navbar-component @open-aside="asideExpanded = true, asideMinified = !asideMinified"></navbar-component>
        <div class="relative mx-auto flex h-full min-h-screen w-full max-w-8xl">
            <aside-component :minified="asideMinified"></aside-component>
            <transition enter-active-class="pop-in" leave-active-class="pop-out">
                <div
                    v-if="asideExpanded"
                    @click="asideExpanded = false"
                    class="fixed top-0 z-50 block h-full w-full bg-black/60 lg:hidden"
                ></div>
            </transition>
            <transition enter-active-class="animate-slide-in-left" leave-active-class="animate-slide-out-left">
                <aside-mobile-component v-if="asideExpanded" @close="asideExpanded = false"></aside-mobile-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div
                    class="fixed left-0 top-0 z-50 h-full w-full bg-black/70"
                    v-if="createNotableInvestmentOpened"
                ></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <create-notable-investment-component
                    v-if="createNotableInvestmentOpened"
                    @close-create-notable-investment-modal="createNotableInvestmentOpened = false"
                    @notable-investment-created="addNotableInvestment"
                ></create-notable-investment-component
            ></transition>

            <main id="app" class="mx-auto flex w-full max-w-3xl flex-col p-4 sm:p-9">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="flex">
                    <a href="/admin/investors" class="group flex items-center gap-1 text-gray-500">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="size-4 transition-colors ease-in-out group-hover:text-gray-700"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="text-sm transition-colors ease-in-out group-hover:text-gray-700">Admin</div>
                    </a>
                </div>
                <div class="grid grid-cols-6 gap-x-2 gap-y-1">
                    <h2 class="col-span-full mt-3 text-2xl font-medium">General info</h2>
                    <div class="col-span-full empty:hidden">
                        {% if status_type %} {% if status_type == '3' %}
                        <div class="rounded-xl text-red-500">{{ msg }}</div>
                        {% elif status_type == '2' %}
                        <div class="rounded-xl text-orange-400">{{ msg }}</div>
                        {% elif status_type == '1' %}
                        <div class="rounded-xl text-lime-500">{{ msg }}</div>
                        {% endif %} {% endif %}
                    </div>

                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="first_name">First Name*</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="first_name"
                            placeholder="John"
                            required
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="last_name">Last Name</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="last_name"
                            placeholder="Doe"
                            required
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="slug">Slug</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="slug"
                            placeholder="john-doe"
                            required
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="firm_name">Firm Name</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="firm_name"
                            placeholder="ACME Inc."
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="position">Position</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="position"
                            placeholder="CEO"
                            required
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="location">Location</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="location"
                            placeholder="New York, NY"
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="about">About</label>
                        <textarea
                            class="w-full rounded-lg"
                            type="text"
                            id="about"
                            oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"
                            placeholder="John Doe is good person."
                        ></textarea>
                    </div>
                    <h2 class="col-span-full mt-3 text-2xl font-medium">Investment info</h2>
                    <div class="relative col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="rounds">Rounds</label>
                        <button
                            class="flex w-full items-center justify-center gap-1 rounded-xl border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-[:checked]:border-sky-500"
                            id="round-options"
                            aria-haspopup="true"
                            aria-expanded="true"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                                />
                            </svg>
                            Rounds
                        </button>
                        <div class="relative">
                            <div
                                class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto overscroll-y-contain rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                                id="round-options-menu"
                                role="menu"
                                aria-orientation="vertical"
                                aria-labelledby="round-options-menu"
                            >
                                <div class="py-1" role="none">
                                    {% for round in rounds %}
                                    <label
                                        class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                        role="menuitem"
                                    >
                                        <input
                                            type="checkbox"
                                            name="selected_rounds"
                                            class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                            value="{{ round.id }}"
                                        />
                                        {{ round.name }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="location">Industries</label>
                        <button
                            class="flex w-full items-center justify-center gap-1 rounded-lg border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-[:checked]:border-sky-500"
                            id="industry-options"
                            aria-haspopup="true"
                            aria-expanded="true"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                                />
                            </svg>
                            Industries
                        </button>
                        <div
                            class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto overscroll-y-contain rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                            id="industry-options-menu"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="industry-options-menu"
                        >
                            <input
                                type="text"
                                id="search-industries"
                                placeholder="Search industries..."
                                class="sticky top-0 w-full rounded-md border bg-white px-3 py-2"
                                v-model="selectedIndustry"
                                @input="getIndustryList(selectedIndustry)"
                            />
                            <div class="py-1" role="none" ref="industryListElement">
                                {% for category, industries_list in industries.items() %}
                                <label
                                    class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                >
                                    {{ category }}
                                </label>
                                {% for industry in industries_list %}
                                <label
                                    class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                    role="menuitem"
                                >
                                    <input
                                        type="checkbox"
                                        name="selected_industries"
                                        value="{{ industry.id }}"
                                        class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                    />
                                    <span>{{ industry.name }}</span>
                                </label>
                                {% endfor %} {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="n_investments">№ Investments</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="n_investments"
                            placeholder="14"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="n_exits">№ Exits</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="n_exits"
                            placeholder="5"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="min_investment">Min Investment</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="min_investment"
                            placeholder="10000"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="max_investment">Max Investment</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="max_investment"
                            placeholder="1000000"
                        />
                    </div>
                    <h2 class="col-span-full mt-3 text-2xl font-medium">Contact info</h2>

                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="website">Website</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="website"
                            placeholder="https://www.acme.com"
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="linkedin">Linkedin</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="linkedin"
                            placeholder="https://www.linkedin.com/in/johndoe"
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="twitter">Twitter</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="twitter"
                            placeholder="https://twitter.com/johndoe"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="email">Email</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="email"
                            placeholder="johndoe@gmail.com"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="phone_number">Phone Number</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="phone_number"
                            placeholder="+1 123 456 7890"
                        />
                    </div>
                    <div class="relative col-span-full">
                        <label class="text-sm font-medium text-gray-700">User</label>
                        <input
                            type="text"
                            id="searchInput"
                            ref="searchInput"
                            placeholder="Search users..."
                            class="w-full rounded-lg bg-transparent bg-white"
                            @input="getUserList"
                        />
                        <div
                            id="userList"
                            v-show="userList.length > 0"
                            class="flex max-h-60 w-full origin-top-right flex-col gap-1 overflow-y-auto overscroll-y-contain rounded-md border border-gray-200 bg-white shadow-lg transition duration-100 ease-in-out"
                        >
                            <p
                                v-for="(email, index) in userList"
                                :key="index"
                                class="cursor-pointer px-3 py-2 transition-colors ease-in-out hover:bg-gray-100 hover:text-gray-900"
                                @click="selectUser(email)"
                                v-text="email"
                            ></p>
                        </div>
                    </div>
                </div>
                <button
                    id="saveButton"
                    @click="submitInvestorData"
                    class="mt-5 w-fit place-self-end rounded-md bg-sky-500 px-3 py-2 text-sm text-white disabled:cursor-not-allowed disabled:bg-gray-500"
                >
                    Save
                </button>
            </main>
        </div>
    </body>
</html>
