{% extends "layouts/layout_admin.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../../../static/scripts/dashboard.js" defer></script>
<script src="../../../static/scripts/selectionColorToggle.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3">
        <div class="flex items-center justify-start gap-1 text-slate-700">
            <form method="POST" action="{{ url_for('admin.edit_investor', investor_id=investor.id) }}">
                <h1 class="text-5xl font-medium">Edit {{ investor.full_name }}</h1>
                <br /><br />
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <label class="input-label" for="first_name">First Name:</label>
                <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    class="input-field"
                    value="{{ investor.first_name }}"
                /><br /><br />

                <label class="input-label" for="last_name">Last Name:</label>
                <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    class="input-field"
                    value="{{ investor.last_name }}"
                /><br /><br />

                <label class="input-label" for="firm_name">Firm Name:</label>
                <input
                    type="text"
                    id="firm_name"
                    name="firm_name"
                    class="input-field"
                    value="{{ investor.firm_name }}"
                /><br /><br />

                <label class="input-label" for="about">About:</label>
                <textarea id="about" name="about" rows="4" cols="50" class="h-44 w-full rounded-xl border-2 border-stone-300 bg-transparent px-2">{{ investor.about }}</textarea
                ><br /><br />

                <label class="input-label" for="position">Position:</label>
                <input
                    type="text"
                    id="position"
                    name="position"
                    class="input-field"
                    value="{{ investor.position }}"
                /><br /><br />

                <label class="input-label" for="website">Website:</label>
                <input
                    type="text"
                    id="website"
                    name="website"
                    class="input-field"
                    value="{{ investor.website }}"
                /><br /><br />

                <label class="input-label" for="linkedin">LinkedIn:</label>
                <input
                    type="text"
                    id="linkedin"
                    name="linkedin"
                    class="input-field"
                    value="{{ investor.linkedin }}"
                /><br /><br />

                <label class="input-label" for="twitter">Twitter:</label>
                <input
                    type="text"
                    id="twitter"
                    name="twitter"
                    class="input-field"
                    value="{{ investor.twitter }}"
                /><br /><br />

                <label class="input-label" for="email">Email:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="input-field"
                    value="{{ investor.email }}"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    title="Enter a valid email address"
                /><br /><br />

                <label class="input-label" for="phone_number"
                    >Phone Number:</label
                >
                <input
                    type="text"
                    id="phone_number"
                    name="phone_number"
                    class="input-field"
                    value="{{ investor.phone_number }}"
                /><br /><br />

                <label class="input-label" for="n_investments"
                    ># Investments:</label
                >
                <input
                    type="number"
                    id="n_investments"
                    name="n_investments"
                    class="input-field"
                    value="{{ investor.n_investments }}"
                /><br /><br />

                <label class="input-label" for="n_exits"># Exits:</label>
                <input
                    type="number"
                    id="n_exits"
                    name="n_exits"
                    class="input-field"
                    value="{{ investor.n_exits }}"
                    value="0"
                /><br /><br />

                <label class="input-label" for="min_investment"
                    >Min Investment:</label
                >
                <input
                    type="number"
                    id="min_investment"
                    name="min_investment"
                    class="input-field"
                    value="{{ investor.min_investment }}"
                    value="0"
                /><br /><br />

                <label class="input-label" for="max_investment"
                    >Max Investment:</label
                >
                <input
                    type="number"
                    id="max_investment"
                    name="max_investment"
                    class="input-field"
                    value="{{ investor.max_investment }}"
                    value="0"
                /><br /><br />

                <label class="input-label" for="location">Location:</label>
                <input
                    type="text"
                    id="location"
                    name="location"
                    class="input-field"
                    value="{{ investor.location }}"
                /><br /><br />

                <label class="input-label" for="selected_rounds">Select Rounds:</label>
                {% for round in rounds %}
                    <label class="inline-flex items-center justify-center rounded-xl border border-black p-2 leading-none text-black cursor-pointer transition-colors hover:bg-sky-500 hover:text-white {% if round in investor.rounds %} bg-sky-500 text-white border-none {% endif %}">
                        <input type="checkbox" name="selected_rounds" value="{{ round.id }}" class="hidden" {% if round in investor.rounds %} checked {% endif %}>
                        {{ round.name }}
                    </label>
                {% endfor %}
                <br><br>

                <label class="input-label" for="selected_rounds"
                    >Select Industries:</label
                >
                <button
                    type="button"
                    class="flex w-full items-center justify-center gap-1 rounded-xl border-2 border-slate-200 bg-white px-2 py-3 text-sm transition-colors ease-in-out hover:border-slate-300 group-has-[:checked]:border-sky-500"
                    id="industry-options-menu"
                    aria-haspopup="true"
                    aria-expanded="true"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-5 w-5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                        />
                    </svg>
                    Industries
                </button>
                <div class="relative">
                    <div
                        class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                        id="industry-options"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="industry-options-menu"
                    >
                        <div class="py-1" role="none">
                            {% for category, industries_list in industries.items() %}
                            <label
                                class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            >
                                {{ category }}
                            </label>
                            {% for industry in industries_list %}
                            <label
                                class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem"
                            >
                                <input
                                    type="checkbox"
                                    name="selected_industries"
                                    value="{{ industry.id }}"
                                    class="form-checkbox h-4 w-4 rounded border-gray-300 text-sky-500 focus:border-sky-500 focus:ring-sky-500"
                                    {%
                                    if
                                    industry
                                    in
                                    investor.industries
                                    %}
                                    checked
                                    {%
                                    endif
                                    %}
                                />
                                <span class="ml-2">{{ industry.name }}</span>
                            </label>
                            {% endfor %} {% endfor %}
                        </div>
                    </div>
                </div>
                <br /><br />
                <button
                    type="submit"
                    class="flex w-full items-center justify-center rounded-xl border-2 border-sky-500 py-[7px] font-medium text-sky-500 transition-all hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white"
                >
                    Update
                </button>
                <button
    type="submit"
    class="mt-2 flex w-full items-center justify-center rounded-lg border-2 border-blue-500 py-2 px-4 font-medium text-blue-500 transition-colors duration-300 ease-in-out hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white"
>
    <a href="{{ url_for('admin.index') }}">Return to the main menu</a>
</button>

            

            </form>
        </div>
    </section>
</main>
{% endblock %}
