{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<script src="/static/scripts/search.js" defer></script>
<script src="/static/scripts/dashboard.js" defer></script>
<script src="/static/scripts/query_setter.js" defer></script>
<script src="/static/scripts/query_param_handler.js" defer></script>
<script src="/static/scripts/notificationHandler.js" defer></script>
<script src="/static/scripts/bookmark.js" defer></script>
<script src="/static/scripts/admin/investor.js" defer></script>
{% endblock %} {% block content %}

<main id="app" class="mx-auto flex w-full max-w-3xl flex-col gap-5 p-4 sm:p-9">
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
    <a href="/admin/investors" class="group flex items-center gap-1 text-gray-500">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4 transition-colors ease-in-out group-hover:text-gray-700"
        >
            <path
                fill-rule="evenodd"
                d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z"
                clip-rule="evenodd"
            />
        </svg>
        <div class="text-sm transition-colors ease-in-out group-hover:text-gray-700">Admin</div>
    </a>
    <h2 class="text-2xl font-medium">General info</h2>
    {% if investor %}
    <div class="flex flex-col gap-1">
        <label class="text-sm font-medium text-gray-700" for="first_name">First Name</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="first_name"
            value="{{ investor.first_name }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="last_name">Last Name</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="last_name"
            value="{{ investor.last_name }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="firm_name">Firm Name</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="firm_name"
            value="{{ investor.firm_name }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="about">About</label>
        <textarea
            class="w-full rounded-lg"
            type="text"
            id="about"
            oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'; enableButton();"
        >
{{investor.about}}</textarea
        >
        <label class="text-sm font-medium text-gray-700" for="website">Website</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="website"
            value="{{ investor.website }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="linkedin">Linkedin</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="linkedin"
            value="{{ investor.linkedin }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="twitter">Twitter</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="twitter"
            value="{{ investor.twitter }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="email">Email</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="email"
            value="{{ investor.email }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="phone_number">Phone Number</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="phone_number"
            value="{{ investor.phone_number }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="n_investments">N Investments</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="number"
            id="n_investments"
            value="{{ investor.n_investments }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="n_exits">N Exits</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="number"
            id="n_exits"
            value="{{ investor.n_exits }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="min_investment">Min Investment</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="number"
            id="min_investment"
            value="{{ investor.min_investment }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="max_investment">Max Investment</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="number"
            id="max_investment"
            value="{{ investor.max_investment }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="location">Location</label>
        <input
            class="w-full rounded-lg bg-transparent bg-white"
            type="text"
            id="location"
            value="{{ investor.location }}"
            oninput="enableButton()"
        />
        <label class="text-sm font-medium text-gray-700" for="location">Rounds</label>
        <button
            class="flex w-full items-center justify-center gap-1 rounded-xl border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-[:checked]:border-sky-500"
            id="round-options-menu"
            aria-haspopup="true"
            aria-expanded="true"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                />
            </svg>
            Rounds
        </button>
        <div class="relative">
            <div
                class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                id="round-options"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="round-options-menu"
            >
                <div class="py-1" role="none">
                    {% for round in rounds %}
                    <label
                        class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                        role="menuitem"
                    >
                        <input
                            type="checkbox"
                            name="selected_rounds"
                            value="{{ round.id }}"
                            class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                            oninput="enableButton()"
                            {%
                            if
                            round
                            in
                            investor.rounds
                            %}
                            checked
                            {%
                            endif
                            %}
                        />
                        {{ round.name }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <label class="text-sm font-medium text-gray-700" for="location">Industries</label>
        <button
            class="flex w-full items-center justify-center gap-1 rounded-xl border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-[:checked]:border-sky-500"
            id="industry-options-menu"
            aria-haspopup="true"
            aria-expanded="true"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                />
            </svg>
            Industries
        </button>
        <div class="relative">
            <div
                class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                id="industry-options"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="industry-options-menu"
            >
                <div class="py-1" role="none">
                    {% for category, industries_list in industries.items() %}
                    <label
                        class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    >
                        {{ category }}
                    </label>
                    {% for industry in industries_list %}
                    <label
                        class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                        role="menuitem"
                    >
                        <input
                            type="checkbox"
                            name="selected_industries"
                            value="{{ industry.id }}"
                            class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                            oninput="enableButton()"
                            {%
                            if
                            industry
                            in
                            investor.industries
                            %}
                            checked
                            {%
                            endif
                            %}
                        />
                        {{ industry.name }}
                    </label>
                    {% endfor %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button
        disabled
        id="saveButton"
        onclick="updateInvestor()"
        class="w-fit place-self-end rounded-md bg-sky-500 px-3 py-2 text-sm text-white disabled:cursor-not-allowed disabled:bg-gray-500"
    >
        Submit
    </button>
    {% endif %}
</main>

{% endblock %}
