{% extends "layouts/layout_admin.html" %} {% block title %}Users{% endblock %} {% block head %} {{ super() }}
<script src="../../static/scripts/dashboard.js" defer></script>
<script src="../../static/scripts/search.js" defer></script>
<script src="../../static/scripts/query_setter.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-24 flex h-full min-h-screen w-full overflow-x-auto pb-16">
    <div class="mx-auto flex w-full max-w-[83rem] flex-col gap-3 px-4 sm:flex-row">
        <section class="flex flex-col gap-2">
            <div class="relative flex gap-2">
                <label for="search" class="sr-only">Search</label>
                <input
                    type="text"
                    name="q"
                    id="search"
                    class="w-full min-w-[190px] rounded-xl border-2 border-stone-300 p-3 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Search"
                    value=""
                />
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <svg
                        class="h-3.5 w-3.5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </div>
                <button
                    class="rounded-xl bg-sky-500 px-2 text-sm text-white transition-colors ease-in-out hover:bg-sky-400"
                    onclick="search()"
                >
                    Search
                </button>
            </div>
        </section>

        <section class="flex w-full flex-col items-start justify-start gap-2 sm:w-3/4">
            {% if users %} {% for user in users %}
            <div class="flex w-full flex-col justify-between gap-2 rounded-lg border-2 p-4">
                <div class="flex items-baseline justify-between">
                    <a href="/admin/user/edit/{{ user.id }}" class="text-lg underline">{{ user.full_name }}</a>
                    <div class="flex items-baseline justify-center">
                        <span class="line-clamp-2 text-sm text-slate-500">{{ user.bio }}</span>
                    </div>
                    <div class="flex gap-2">
                        <a class="mr-4 text-blue-500 hover:text-blue-700" href="/admin/user/edit/{{ user.id }}">Edit</a>
                        <form
                            action="/admin/user/delete/{{ user.id }}"
                            method="POST"
                            onsubmit="return confirm('Are you sure you want to delete this user?');"
                        >
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button
                                type="submit"
                                class="text-red-500 hover:text-red-700"
                                style="background: none; border: none; padding: 0; font: inherit; cursor: pointer"
                            >
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
        </section>
    </div>
</main>
{% endblock %}
