{% extends "layouts/layout_app.html" %} {% block title %}Investors{% endblock %} {% block head %} {{ super() }}
<script src="/static/scripts/search.js" defer></script>
<script src="/static/scripts/dashboard.js" defer></script>
<script src="/static/scripts/query_setter.js" defer></script>
<script src="/static/scripts/query_param_handler.js" defer></script>
<script src="/static/scripts/notificationHandler.js" defer></script>
<script src="/static/scripts/bookmark.js" defer></script>
<script src="/static/scripts/admin/investmentFirm.js" defer></script>

{% endblock %} {% block content %}
<div class="relative flex items-start">
    <nav class="fixed z-50 top-20 h-12 border bg-white w-full">
        <!-- 74rem == the max width of the content(8xl or 90rem) - width of the aside element(64 or 16rem) -->
        <div class="flex h-full items-end gap-2 px-5 text-sm sm:pr-9">
            <a href="/admin/investors" class="flex rounded-t-lg px-3 py-2 hover:bg-gray-50">Investor</a>
            <a href="/admin/investment-firms" class="flex rounded-t-lg bg-gray-50 px-3 py-2">Investment Firm</a>
            <a href="/admin/claim-requests" class="flex rounded-t-lg px-3 py-2 hover:bg-gray-50">Claim Requests</a>
        </div>
    </nav>
</div>
<main id="app" class="mx-auto mt-14 flex w-full max-w-3xl flex-col gap-5 p-4 sm:p-9">
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
    <h1 class="text-3xl font-bold sm:text-5xl">Investment Firms</h1>
    <a
        href="/admin/investment-firm/create"
        class="flex w-full items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-3 py-4 text-sm font-medium transition-shadow ease-in-out hover:shadow-md sm:text-base"
    >
        Create an Investment Firm
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
        </svg>
    </a>
    {% if investment_firms %}
    <div class="flex flex-col gap-3 p-4">
        {% for investment_firm in investment_firms %}
        <div
            class="flex flex-col justify-between gap-2 overflow-hidden rounded-xl border border-gray-200 bg-white p-4 sm:flex-row"
        >
            <div class="flex w-full flex-col gap-2">
                <div class="relative flex items-start justify-between gap-3">
                    <div class="flex gap-3">
                        <div class="flex flex-col gap-2">
                            <span class="font-medium">{{ investment_firm.name }}</span>
                            <p class="line-clamp-3">{{investment_firm.about}}</p>
                        </div>
                    </div>
                    <div class="ml-auto flex flex-col h-full gap-2">
                        <a
                            href="/admin/investment-firm/{{investment_firm.id}}"
                            class="flex items-center justify-center rounded-md bg-gray-50 p-2 px-4 transition-colors ease-in-out hover:bg-gray-200"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                                />
                            </svg>
                        </a>
                        <a
                            href="/investment-firm/{{ investment_firm.slug }}"
                            class="flex items-center justify-center rounded-md bg-gray-50 p-2 px-4 transition-colors ease-in-out hover:bg-gray-200"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                                />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                />
                            </svg>
                        </a>
                        <button
                            class="flex items-center justify-center rounded-md bg-gray-50 p-2 px-4 transition-colors ease-in-out hover:bg-gray-200"
                            onclick="deleteInvestmentFirm('{{investment_firm.id}}')"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock %}
