<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <meta name="title" content="Globalify — Connect to the whole world of investment" />
        <meta
            name="description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://globalify.xyz/" />
        <meta property="og:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="og:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="og:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://globalify.xyz/" />
        <meta property="twitter:title" content="Globalify — Connect to the whole world of investment" />
        <meta
            property="twitter:description"
            content="Join Globalify on a mission to help entrepreneurs expand their business around the world!"
        />
        <meta property="twitter:image" content="https://globalify.xyz/static/elements/metapreview.png" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="icon" type="image/png" href="/static/elements/icon.png" />

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>


        <script src="/static/vue/base.js"></script>
        <script src="/static/scripts/menu.js" defer></script>
        <script src="/static/vue/admin.js" defer></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Edit Investment Firm | Globalify</title>
    </head>

    <!-- prettier-ignore -->
    {% import "components/navbar.html" as navbar %} 
    {{ navbar.render(current_user) }}
    {% import "components/create_investment.html" as create_investment %}
    {% import "components/create_investment.html" as create_investment %}
    {{ create_investment.render("investment_firm", false) }}
    {% import "components/delete_investment.html" as delete_investment %}
    {{ delete_investment.render() }}
    {% import "components/update_investment.html" as update_investment %}
    {{ update_investment.render(investment_firm.id, "investment_firm", false) }}

    <body class="h-full overflow-x-clip" id="app">
        <navbar-component @open-aside="asideExpanded = true, asideMinified = !asideMinified"></navbar-component>
        <div class="max-w-8xl relative mx-auto flex h-full min-h-screen w-full">
            <aside-component :minified="asideMinified"></aside-component>
            <transition enter-active-class="pop-in" leave-active-class="pop-out">
                <div
                    v-if="asideExpanded"
                    @click="asideExpanded = false"
                    class="fixed top-0 z-50 block h-full w-full bg-black/60 lg:hidden"
                ></div>
            </transition>
            <transition enter-active-class="animate-slide-in-left" leave-active-class="animate-slide-out-left">
                <aside-mobile-component v-if="asideExpanded" @close="asideExpanded = false"></aside-mobile-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div class="fixed top-0 left-0 z-50 h-full w-full bg-black/70" v-if="createInvestmentOpened"></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <create-investment-component
                    v-if="createInvestmentOpened"
                    @close-create-investment="createInvestmentOpened = null"
                    :type="investment_firm"
                ></create-investment-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div class="fixed top-0 left-0 z-50 h-full w-full bg-black/70" v-if="deleteInvestmentOpened"></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <delete-investment-component
                    v-if="deleteInvestmentOpened"
                    @close-delete-investment="deleteInvestmentOpened = null"
                    :investment-id="investmentId"
                ></delete-investment-component>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <div class="fixed top-0 left-0 z-50 h-full w-full bg-black/70" v-if="updateInvestmentOpened"></div>
            </transition>
            <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
                <update-investment-component
                    v-if="updateInvestmentOpened"
                    @close="updateInvestmentOpened = null"
                    :investment="investment"
                    :id="investmentId"
                ></update-investment-component>
            </transition>

            <main id="app" class="mx-auto flex w-full max-w-3xl flex-col p-4 sm:p-9">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="flex">
                    <a href="/admin/investment-firms" class="group flex items-center gap-1 text-gray-500">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="size-4 transition-colors ease-in-out group-hover:text-gray-700"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="text-sm transition-colors ease-in-out group-hover:text-gray-700">Admin</div>
                    </a>
                </div>
                {% if investment_firm %}
                <div class="grid grid-cols-6 gap-x-2 gap-y-1">
                    <h2 class="col-span-full mt-3 text-2xl font-medium">General info</h2>
                    <div class="col-span-full empty:hidden">
                        {% if status_type %} {% if status_type == '3' %}
                        <div class="rounded-xl text-red-500">{{ msg }}</div>
                        {% elif status_type == '2' %}
                        <div class="rounded-xl text-orange-400">{{ msg }}</div>
                        {% elif status_type == '1' %}
                        <div class="rounded-xl text-lime-500">{{ msg }}</div>
                        {% endif %} {% endif %}
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="name">Name</label>

                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="name"
                            value="{{ investment_firm.name if investment_firm.name else ''}}"
                            placeholder="ACME Inc."
                            required
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="slug">Slug</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="slug"
                            value="{{ investment_firm.slug if investment_firm.slug else ''}}"
                            placeholder="acme-inc"
                            required
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="location">Location</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="location"
                            value="{{ investment_firm.location if investment_firm.location else ''}}"
                            placeholder="San Francisco, CA"
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="about">About</label>
                        <textarea
                            class="w-full rounded-lg"
                            type="text"
                            id="about"
                            placeholder="ACME Inc. is very good company."
                        >
{{investment_firm.about if investment_firm.about else ''}}</textarea
                        >
                    </div>
                    <h2 class="col-span-full mt-3 text-2xl font-medium">Investment info</h2>
                    <div class="relative col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="location">Rounds</label>
                        <button
                            class="flex w-full items-center justify-center gap-1 rounded-lg border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-checked:border-sky-500"
                            id="round-options"
                            aria-haspopup="true"
                            aria-expanded="true"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                                />
                            </svg>
                            Rounds
                        </button>
                        <div
                            class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto overscroll-y-contain rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                            id="round-options-menu"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="round-options-menu"
                        >
                            <div class="py-1" role="none">
                                {% for round in rounds %}
                                <label
                                    class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                    role="menuitem"
                                >
                                    {% if round in investment_firm.rounds %}
                                    <input
                                        type="checkbox"
                                        name="selected_rounds"
                                        value="{{ round.id }}"
                                        class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                        checked
                                    />
                                    {% else %}
                                    <input
                                        type="checkbox"
                                        name="selected_rounds"
                                        value="{{ round.id }}"
                                        class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                    />
                                    {% endif %} {{ round.name }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="relative col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="location">Industries</label>
                        <button
                            class="flex w-full items-center justify-center gap-1 rounded-lg border border-gray-500 bg-white px-2 py-3 text-sm ease-in-out group-has-checked:border-sky-500"
                            id="industry-options"
                            aria-haspopup="true"
                            aria-expanded="true"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                                />
                            </svg>
                            Industries
                        </button>
                        <div
                            class="pointer-events-none absolute left-0 z-50 mt-2 max-h-60 w-full origin-top-right scale-95 overflow-y-auto overscroll-y-contain rounded-md bg-white opacity-0 shadow-lg transition duration-100 ease-in-out"
                            id="industry-options-menu"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="industry-options-menu"
                        >
                            <input
                                type="text"
                                id="search-industries"
                                placeholder="Search industries..."
                                class="sticky top-0 w-full rounded-md border bg-white px-3 py-2"
                                v-model="selectedIndustry"
                                @input="getIndustryList(selectedIndustry)"
                            />
                            <div class="py-1" role="none" ref="industryListElement">
                                <label
                                    class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                >
                                    Selected
                                </label>
                                {% for industry in investment_firm.industries %}
                                <label
                                    class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                    role="menuitem"
                                >
                                    <input
                                        type="checkbox"
                                        name="selected_industries"
                                        value="{{ industry.id }}"
                                        class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                        checked
                                    />
                                    <span>{{ industry.name }}</span>
                                </label>
                                {% endfor %} {% for category, industries_list in industries.items() %}
                                <label
                                    class="flex items-center px-4 py-2 text-base text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                >
                                    {{ category }}
                                </label>
                                {% for industry in industries_list %} {% if industry not in investment_firm.industries
                                %}
                                <label
                                    class="flex w-full cursor-pointer items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                    role="menuitem"
                                >
                                    <input
                                        type="checkbox"
                                        name="selected_industries"
                                        value="{{ industry.id }}"
                                        class="form-checkbox mr-3 h-5 w-5 rounded-md border-2 border-slate-200 text-sky-500"
                                    />
                                    <span>{{ industry.name }}</span>
                                </label>
                                {% endif %}{% endfor %} {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="investment" class="block text-sm leading-6 font-medium text-gray-900"
                            >Investments</label
                        >
                        {% if investments %}
                        <div
                            class="col-span-4 flex h-96 w-full flex-col overflow-y-auto rounded-xl border border-gray-700"
                        >
                            <header class="border-b bg-gray-50 p-5">
                                <input
                                    type="search"
                                    class="n w-full rounded-lg border-gray-300 py-2"
                                    placeholder="Search investments"
                                    @input="searchMembers"
                                />
                            </header>

                            <button
                                class="mx-5 my-2 flex items-center justify-center gap-2 rounded-lg border p-3 transition-shadow hover:shadow-md"
                                @click.prevent="createInvestmentOpened = true"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-6"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                    />
                                </svg>
                                <span class="text-sm font-medium">Add an investment</span>
                            </button>
                            {% for investment in investments %}
                            <div class="flex flex-col justify-between gap-2 border-t border-b bg-white p-4 sm:flex-row">
                                <div class="relative flex w-full items-start justify-between gap-3">
                                    <div class="flex flex-col gap-2">
                                        {% if investment.funding_round.company %}
                                        <span class="font-medium">{{ investment.funding_round.company.name }}</span>
                                        {% endif %} {% if investment.funding_round.round %}
                                        <div class="flex flex-wrap gap-1">
                                            <a
                                                class="rounded-full bg-[#FFC9FC] px-2 py-1.5 text-xs font-medium text-nowrap text-[#D182CD]"
                                                >{{ investment.funding_round.round.name }}
                                            </a>
                                        </div>
                                        {% endif %} {% if investment.funding_round.announced_date %}
                                        <span class="text-sm text-gray-500">
                                            Announced on: {{ investment.funding_round.announced_date }}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div class="ml-auto flex h-full flex-col gap-2">
                                        <button
                                            @click.prevent="updateInvestmentOpened = true, investmentId = {{ investment.id }}"
                                            class="flex items-center justify-center rounded-md bg-gray-50 p-2 px-4 transition-colors ease-in-out hover:bg-gray-200"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="size-4"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                                                />
                                            </svg>
                                        </button>
                                        <button
                                            class="flex items-center justify-center rounded-md bg-gray-50 p-2 px-4 transition-colors ease-in-out hover:bg-gray-200"
                                            @click.prevent="deleteInvestmentOpened = true, investmentId = {{ investment.id }}"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="size-4"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                                                />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="col-span-full">
                            <button
                                class="flex w-full items-center justify-center gap-2 rounded-lg border border-gray-700 p-3 transition-shadow hover:shadow-md"
                                @click.prevent="createInvestmentOpened = true"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-6"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                    />
                                </svg>
                                <span class="text-sm font-medium">Add an investment</span>
                            </button>
                        </div>

                        {% endif %}
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="n_investments">№ Investments</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="n_investments"
                            value="{{ investment_firm.n_investments }}"
                            placeholder="14"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="n_exits">№ Exits</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="n_exits"
                            value="{{ investment_firm.n_exits }}"
                            placeholder="5"
                        />
                    </div>
                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="n_employees">№ Employees</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="n_employees"
                            value="{{ investment_firm.n_employees }}"
                            placeholder="100"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="min_investment">Min Investment</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="min_investment"
                            value="{{ investment_firm.min_investment }}"
                            placeholder="1000"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="max_investment">Max Investment</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="number"
                            id="max_investment"
                            value="{{ investment_firm.max_investment }}"
                            placeholder="10000"
                        />
                    </div>
                    <h2 class="col-span-full mt-3 text-2xl font-medium">Contact info</h2>

                    <div class="col-span-full">
                        <label class="text-sm font-medium text-gray-700" for="website">Website</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="website"
                            value="{{ investment_firm.website if investment_firm.website else ''}}"
                            placeholder="https://acme-inc.com"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="email">Email</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="email"
                            value="{{ investment_firm.email if investment_firm.email else ''}}"
                            placeholder="acme-inc@gmail.com"
                        />
                    </div>
                    <div class="col-span-full sm:col-span-3">
                        <label class="text-sm font-medium text-gray-700" for="phone_number">Phone Number</label>
                        <input
                            class="w-full rounded-lg bg-transparent bg-white"
                            type="text"
                            id="phone_number"
                            value="{{ investment_firm.phone_number if investment_firm.phone_number else ''}}"
                            placeholder="+1 123 456 7890"
                        />
                    </div>
                    <div class="col-span-full">
                        <div>
                            <span class="block text-sm leading-6 font-medium">Visibility Settings</span>
                            <span class="block text-sm leading-6 font-medium text-gray-500"
                                >You can make the investment firm visible in the search results.
                            </span>
                        </div>
                        <label class="inline-flex cursor-pointer items-center pt-2">
                            {% if investment_firm.is_public %}
                            <input id="is_public" type="checkbox" value="True" class="peer sr-only" checked />
                            {% else %}
                            <input type="checkbox" id="is_public" value="True" class="peer sr-only" />
                            {% endif %}
                            <div
                                class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-sky-500 peer-focus:ring-4 peer-focus:ring-blue-300 peer-focus:outline-hidden after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white"
                            ></div>
                            <span class="ms-3 text-sm font-medium text-gray-900">Show investment firm in search</span>
                        </label>
                    </div>
                </div>

                <button
                    id="saveButton"
                    @click="submitInvestmentFirmData"
                    class="mt-5 w-fit place-self-end rounded-md bg-sky-500 px-3 py-2 text-sm text-white disabled:cursor-not-allowed disabled:bg-gray-500"
                >
                    Save
                </button>
                {% endif %}
            </main>
        </div>
    </body>
</html>
