{% extends "layouts/layout.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col items-center justify-center gap-8 overflow-x-hidden bg-slate-50 px-4 pb-52 dark:bg-slate-900 dark:text-slate-50"
>
    <h1 class="mt-24 text-center text-5xl font-bold md:mt-48 md:text-8xl">Construction 🚧</h1>
    <p class="max-w-xl text-center text-xl">Oops! You weren't supposed to seee this. Check back a bit later!</p>
    <div class="flex justify-center gap-x-6 overflow-visible">
        <a
            href="/"
            class="inline-flex items-center justify-center rounded-xl bg-slate-900 px-4 py-2 text-sm font-semibold text-slate-50 hover:bg-slate-700 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300 dark:bg-slate-50 dark:text-slate-900 dark:hover:bg-slate-200"
        >
            Go to home page
        </a>
    </div>
</main>
{% endblock %}
