{% extends "layouts/layout_teaser.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {%
endblock %} {% block content %}

<main class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden">
    <section class="mx-auto max-w-7xl bg-transparent px-4 pb-16 pt-16 text-center sm:px-6 lg:px-8 lg:pt-24">
        <h1
            class="mx-auto mb-10 max-w-2xl text-center text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl lg:text-6xl"
        >
            Download our exclusive list of investors!
        </h1>
        <p class="mx-auto mb-10 max-w-2xl text-center text-lg text-slate-700">
            Download an exported file of search results featuring lead investors perfectly matched for your startup in
            different industries.
            <br />
            <br />
            Please note, that you can only download this file <b>once</b>, so be sure to save it in a safe place.
            <br />
            <br />
            If you have any questions, please contact us at
            <a class="font-bold underline" href="mailto:info@globalify.xyz">info@globalify.xyz</a>
        </p>
        <form action="/download" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="random_key" id="random_key" value="{{ random_key }}" />
            <button
                class="rounded-xl bg-sky-500 px-3 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
                type="submit"
            >
                Download
            </button>
        </form>
    </section>
</main>
{% endblock %}
