{% extends "layouts/layout.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }} {% endblock
%} {% block content %}
<main
    class="relative mt-24 flex w-full flex-col justify-center overflow-x-hidden bg-slate-50 dark:bg-slate-900 dark:text-slate-50"
>
    <section class="mx-auto max-w-7xl bg-transparent px-4 pb-16 pt-20 text-center sm:px-6 lg:px-8 lg:pt-32">
        <h1
            class="font-display mx-auto max-w-4xl text-5xl font-medium tracking-tight text-slate-900 dark:text-slate-50 sm:text-7xl"
        >
            Connect
            <span class="relative whitespace-nowrap text-sky-500 dark:text-sky-400"
                ><svg
                    aria-hidden="true"
                    viewBox="0 0 418 42"
                    class="absolute left-0 top-2/3 h-[0.58em] w-full fill-sky-300/70"
                    preserveAspectRatio="none"
                >
                    <path
                        d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
                    ></path>
                </svg>
                <span class="relative">globally</span>
            </span>
            with Globalify
        </h1>
        <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700 dark:text-slate-400">
            Find investors faster with Globalify 🌍🌎🌏
        </p>
        <div class="mt-10 flex justify-center gap-x-6">
            <a
                class="inline-flex items-center justify-center rounded-xl bg-slate-900 px-4 py-2 text-sm font-semibold text-slate-50 hover:bg-slate-700 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300 dark:bg-slate-50 dark:text-slate-900 dark:hover:bg-slate-200"
                href="/register"
                >Get started now</a
            >

            <!-- <a
                class="group inline-flex items-center justify-center rounded-xl px-4 py-2 text-sm text-slate-700 ring-1 ring-slate-200 hover:text-slate-900 hover:ring-slate-300 focus:outline-none focus-visible:outline-blue-600 focus-visible:ring-slate-300 active:bg-slate-100 active:text-slate-600"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            >
                <svg aria-hidden="true" class="h-3 w-3 flex-none fill-blue-600 group-active:fill-current">
                    <path
                        d="m9.997 6.91-7.583 3.447A1 1 0 0 1 1 9.447V2.553a1 1 0 0 1 1.414-.91L9.997 5.09c.782.355.782 1.465 0 1.82Z"
                    ></path>
                </svg>
                <span class="ml-3">Watch video</span>
            </a> -->
        </div>
    </section>
    <section class="flex-col items-center justify-center gap-2.5 py-24 dark:bg-slate-900 dark:text-slate-50">
        <div class="flex flex-col items-center justify-center">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 md:text-center lg:px-8">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl">
                    Tailored experience for specific regions
                </h2>
                <p class="mt-4 text-lg tracking-tight text-slate-700 dark:text-slate-400">
                    Experts from around the world are here to help
                </p>
            </div>
            <div class="mt-6 flex flex-wrap items-center justify-center gap-6">
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img class="h-48" src="../static/elements/jp.svg" alt="" />
                    <div class="text-slate-700dark:text-slate-400">Japan</div>
                </div>
                <div class="relative flex flex-col items-center justify-between gap-2">
                    <img class="h-48 py-8" src="../static/elements/kg.svg" alt="" />
                    <div class="text-slate-700 dark:text-slate-400">Kyrgyzstan</div>
                </div>
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img class="h-48 py-8" src="../static/elements/kz.svg" alt="" />
                    <div class="text-slate-700 dark:text-slate-400">Kazakhstan</div>
                </div>
                <div class="relative flex flex-col items-center justify-center gap-2">
                    <img class="h-48 py-8" src="../static/elements/hk.svg" alt="" />
                    <div class="text-slate-700 dark:text-slate-400">Hong Kong</div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="z-10 flex flex-col items-center justify-center gap-[51px] bg-transparent py-24">
        <div class="font-display text-3xl tracking-tight text-slate-900 sm:text-4xl">The team</div>
        <div class="flex flex-col items-start justify-center gap-[30px] xl:flex-row">
            <div class="inline-flex flex-col items-start justify-start">
                <img
                    class="mb-1.5 h-[400px] w-[300px] rounded-xl bg-zinc-300"
                    src="../static/elements/Team/Arisa.JPG"
                    alt=""
                />
                <div class="text-xl sm:text-3xl">Arisa Ueno</div>
                <div class="text-lg sm:text-2xl">CEO</div>
            </div>
            <div class="inline-flex flex-col items-start justify-start">
                <img
                    class="mb-1.5 h-[400px] w-[300px] rounded-xl bg-zinc-300"
                    src="../static/elements/Team/Eric.JPG"
                    alt=""
                />
                <div class="text-xl sm:text-3xl">Eric Fung</div>
                <div class="text-lg\ sm:text-2xl">COO</div>
            </div>
            <div class="inline-flex flex-col items-start justify-start">
                <img
                    class="mb-1.5 h-[400px] w-[300px] rounded-xl bg-zinc-300"
                    src="../static/elements/Team/Arstan.JPG"
                    alt=""
                />
                <div class="text-xl sm:text-3xl">Arstanbek Usenov</div>
                <div class="text-lg sm:text-2xl">CTO</div>
            </div>
        </div>
    </section>
    <section id="faq" aria-labelledby="faq-title" class="relative bg-transparent py-20 sm:py-32">
        <img
            alt=""
            loading="lazy"
            width="1558"
            height="946"
            decoding="async"
            data-nimg="1"
            class="absolute left-1/2 top-0 max-w-none -translate-y-1/4 translate-x-[-30%] dark:hidden"
            src="https://salient.tailwindui.com/_next/static/media/background-faqs.55d2e36a.jpg"
            style="color: transparent; --darkreader-inline-color: transparent"
            data-darkreader-inline-color=""
        />
        <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2
                    id="faq-title"
                    class="font-display text-3xl tracking-tight text-slate-900 dark:text-slate-50 sm:text-4xl"
                >
                    Frequently asked questions
                </h2>
                <p class="mt-4 text-lg tracking-tight text-slate-700 dark:text-slate-400">
                    If you can’t find what you’re looking for, email our support team and if you’re lucky someone will
                    get back to you.
                </p>
            </div>
            <ul role="list" class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3">
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                What is Globalify?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                Globalify is a hub for entrepreneurs to connect with investors around the world
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                What can I do with Globalify?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                For now you can only create a profile and connect with investors. In the future we are
                                planning on adding a lot more features
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                Why should I use Globalify?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                Because we are the best, and we have a really cool website
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                Do you offer refunds?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                Yes, if you aren't happy with your subscription you can get a full refund
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                Is there a free trial?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                Yes, you can try out our free plan for 14 days
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                I found other companies called Globalify, are you sure you can use this name?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">Yes, we are sure</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul role="list" class="flex flex-col gap-y-8">
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                What do you do with the data you collect?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                About the data we collect you can read in our
                                <a class="underline" href="/privacy-policy">privacy policy</a>
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                What exactly do I get?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                You can read about our plans <a class="underline" href="/pricing">here</a>
                            </p>
                        </li>
                        <li>
                            <h3 class="font-display text-lg leading-7 text-slate-900 dark:text-slate-50">
                                Can I get a copy of my data?
                            </h3>
                            <p class="mt-4 text-sm text-slate-700 dark:text-slate-400">
                                Yes, you can request a copy of your data in your profile settings
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
