{% extends "layouts/layout_app.html" %} {% block title %}Globalify{% endblock %} {% block head %} {{ super() }}
<script src="../static/scripts/dashboard.js" defer></script>
{% endblock %} {% block content %}
<main class="mt-28 flex h-full flex-wrap justify-center gap-5 px-8 pb-16">
    <section class="flex w-full max-w-[40rem] flex-col gap-3 rounded-lg">
        <div class="flex flex-wrap items-baseline justify-start gap-3">
            <h1 class="text-5xl font-medium">{{ investor.full_name }}</h1>
            <span class="max-w-xs text-slate-700">{{ investor.position }} at {{ investor.firm_name }}</span>
        </div>
        {% if investor.about %}
        <p class="max-w-xs">{{ investor.about }}</p>
        {% endif %}
        <div class="flex items-center justify-start gap-1 text-slate-700">
            <svg
                data-darkreader-inline-stroke=""
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                class="h-5 w-5"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                ></path>
            </svg>
            <span>{{ investor.location }}</span>
        </div>
    </section>
    <section class="flex w-full max-w-[40rem] flex-col items-start justify-start gap-3">
        <div class="flex flex-col gap-1">
            <h2 class="font-medium">Industries</h2>
            <div class="flex flex-wrap gap-1">
                {% for industry in investor.industries %}
                <span class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-2 leading-none text-white">
                    {{ industry.name }}
                </span>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <h2 class="font-medium">Rounds</h2>
            <div class="flex flex-wrap gap-1">
                {% for round in investor.rounds %}
                <span class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-2 leading-none text-white">
                    {{ round.name }}
                </span>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
