{% macro render(company, current_user) %}
<template id="change-role-template">
    <article
        class="fixed right-1/2 top-1/2 z-50 flex h-full w-full max-w-[800px] -translate-y-1/2 translate-x-1/2 flex-col overflow-y-auto bg-white transition-all ease-in-out md:max-h-96 md:rounded-3xl lg:w-2/3 xl:w-1/2"
    >
        <header class="sticky top-0 bg-white p-4">
            <span class="text-xl font-medium"> Modify the Role of the User Within {{ company.name }} </span>
        </header>

        <div class="grid grid-cols-12 gap-2 px-4">
            <div class="col-span-full flex flex-col gap-2">
                <label class="font-normal">Change role for user [[user.name]]</label>
                <select class="h-12 w-full rounded-xl border border-stone-300 px-2" ref="roleChange">
                    <option value="OWNER" :selected="user.role === 'owner'">Owner</option>
                    <option value="ADMIN" :selected="user.role === 'admin'">Admin</option>
                    <option value="TEAM" :selected="user.role === 'team'">Team</option>
                </select>
                <label class="font-normal">Change position for [[user.name]]</label>

                <input
                    class="h-12 w-full rounded-xl border border-stone-300 px-2"
                    ref="positionChange"
                    v-text="user.position"
                    :value="[[user.position]]"
                />
            </div>
        </div>
        <div class="mt-auto flex justify-end gap-5 p-4">
            <button
                @click="removeMember(user.id, {{company.id}})"
                class="mr-auto rounded-lg bg-red-400 px-3 py-2 text-white"
                v-if="{{current_user.id}} !== user.id"
            >
                Remove
            </button>
            <button @click="closeChangeRole" class="rounded-lg border border-gray-300 px-3 py-2">Cancel</button>
            <button @click="changeRole([[user.id]], {{company.id}})" class="rounded-lg bg-sky-400 px-3 py-2 text-white">
                Confirm
            </button>
        </div>
    </article>
</template>
{% endmacro %}
