{% macro render(user) %}
<template id="claim-investor-template">
    <div class="fixed mx-auto w-full max-w-xl rounded-lg bg-white p-4">
        <input type="hidden" ref="userFirstName" value="{{ user.user_info.first_name }}" />
        <input type="hidden" ref="userLastName" value="{{ user.user_info.last_name }}" />

        <div class="mb-6 text-center">
            <h1 class="mb-2 text-3xl font-extrabold text-gray-800">Investor Found</h1>
            <p class="text-lg text-gray-600">
                We found an investor with a similar name in the database. What would you like to do next?
            </p>
        </div>

        <div class="space-y-4">
            <button
                @click="goToSimilarInvestors"
                class="w-full rounded-lg bg-indigo-600 py-3 text-lg font-semibold text-white shadow-md transition-all duration-200 ease-in-out hover:bg-indigo-700 hover:shadow-lg focus:outline-none focus:ring-4 focus:ring-indigo-400"
            >
                Go to Similar Investors
            </button>
            <button
                @click="createNewInvestor"
                class="w-full rounded-lg bg-green-600 py-3 text-lg font-semibold text-white shadow-md transition-all duration-200 ease-in-out hover:bg-green-700 hover:shadow-lg focus:outline-none focus:ring-4 focus:ring-green-400"
            >
                Create a New Investor
            </button>
        </div>

        <div class="mt-8 text-center">
            <button
                class="inline-flex items-center gap-2 rounded-full bg-gray-200 px-4 py-2 font-medium text-gray-500 transition-all duration-200 ease-in-out hover:bg-gray-300 hover:text-gray-700"
                @click="goToPreviousPage"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-5 w-5"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                <span>Back to Onboarding</span>
            </button>
        </div>
    </div>
</template>
{% endmacro %}
