{% macro render(id, type, created_by_admin) %}
<template id="create-investment-template">
    <article
        ref="createInvestment"
        class="fixed left-1/2 top-1/2 z-50 flex w-10/12 -translate-x-1/2 -translate-y-1/2 flex-col gap-4 rounded-3xl bg-white px-8 py-6 transition-all sm:w-1/2 sm:rounded-xl xl:w-2/5"
    >
        <transition enter-active-class="animate-fade-in" leave-active-class="animate-fade-out">
            <div v-if="searchInvestmentOpened" class="fixed left-0 top-0 z-50 h-full w-full bg-black/70"></div>
        </transition>
        <transition enter-active-class="animate-slide-in-right" leave-active-class="animate-slide-out-right">
            <div
                v-if="searchInvestmentOpened"
                ref="searchInvestment"
                class="fixed left-1/2 top-1/2 z-50 w-full max-w-2xl -translate-x-1/2 -translate-y-1/2"
            >
                <search-investment-component
                    @close-search-investment="searchInvestmentOpened = null"
                    @investor-selected="handleInvestorSelected"
                ></search-investment-component>
            </div>
        </transition>
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="grid gap-2">
            <h2 class="mt-3 text-2xl font-medium">Investment info</h2>

            <div v-if="!isCustomNameFilled">
                <label
                    :for="searchType"
                    class="text-sm font-medium text-gray-700"
                    v-text="searchType === 'investor' ? 'Investor' : 'Investment Firm'"
                ></label>

                <div class="relative flex items-center">
                    <input
                        @click="searchInvestmentOpened = true;"
                        :id="searchType"
                        :placeholder="searchType === 'investor' ? 'Search for an investor' : 'Search for an investment firm'"
                        class="w-full rounded-lg bg-transparent bg-white"
                        type="text"
                        :value="selectedInvestor && selectedInvestor.name ? selectedInvestor.name : (selectedInvestmentFirm && selectedInvestmentFirm.name ? selectedInvestmentFirm.name : '')"
                        readonly
                    />
                    <button
                        v-if="selectedInvestor"
                        @click.prevent.stop="clearSelectedInvestor"
                        class="absolute right-2 top-1/2 -translate-y-1/2 transform text-gray-500 hover:text-gray-700"
                    >
                        &times;
                    </button>
                </div>
            </div>

            <div class="col-span-full" v-if="selectedInvestor === null && selectedInvestmentFirm === null">
                <label for="custom_name">Custom Name</label>
                <input
                    class="w-full rounded-lg bg-transparent bg-white"
                    id="custom_name"
                    placeholder="John Doe"
                    type="text"
                    v-model="customName"
                    @input="checkCustomName"
                />
            </div>

            <div>
                <label for="funding_round" class="text-sm font-medium text-gray-700">Funding Round</label>
                <div>
                    <select
                        id="funding_round"
                        name="funding_round"
                        class="h-12 w-full rounded-xl px-2"
                        v-model="selectedFundingRound"
                        required
                    >
                        <option value="" disabled selected>Select a funding round</option>
                        <option
                            v-for="funding_round in fundingRounds"
                            :key="funding_round.id"
                            :value="funding_round.id"
                            v-text="funding_round.company_name"
                        ></option>
                    </select>
                </div>
            </div>
            {% if type != 'company' %}
            <div>
                <label class="text-sm font-medium text-gray-700" for="company_name">Custom Company name</label>
                <input
                    class="w-full rounded-lg bg-transparent bg-white"
                    type="text"
                    id="company_name"
                    placeholder="Globalify"
                    required
                />
            </div>
            {% endif %}

            <div>
                <label class="text-sm font-medium text-gray-700" for="amount">Amount</label>
                <input class="w-full rounded-lg bg-transparent bg-white" type="number" id="amount" placeholder="14" />
            </div>
        </div>
        <div class="flex justify-end gap-5">
            <button
                @click="closeCreateInvestmentModal"
                class="rounded-lg border border-gray-300 px-3 py-2 transition-shadow ease-in-out hover:shadow-md"
            >
                Cancel
            </button>
            <button
                @click="createInvestment({{ id }}, '{{ type }}', '{{ created_by_admin }}')"
                class="rounded-lg bg-sky-500 px-3 py-2 text-white transition-colors ease-in-out hover:bg-sky-400"
            >
                Create
            </button>
        </div>
    </article>
</template>
{% endmacro %}
