{% macro render() %}
<template id="edit-company-member-template">
    <article
        class="fixed top-0 right-0 z-50 flex h-full w-full flex-col gap-4 bg-white p-8 sm:top-1/2 sm:right-1/2 sm:h-auto sm:max-w-2xl sm:-translate-y-1/2 sm:translate-x-1/2 sm:rounded-xl"
    >
        <button class="absolute top-3 right-3" @click="close">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
        <h2 class="text-xl font-medium">Edit [[ user_company.user_name ]] in [[user_company.company_name]]</h2>
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-full flex flex-col gap-2">
                <label class="font-normal">Role</label>
                <select
                    class="h-12 w-full rounded-xl border border-stone-300 px-2"
                    ref="roleChange"
                    v-model="data.role"
                >
                    <option
                        v-for="role in roles"
                        v-text="role[0].toUpperCase() + role.slice(1)"
                        :value="role.toUpperCase()"
                    ></option>
                </select>

                <label class="font-normal">Position</label>
                <input
                    class="h-12 w-full rounded-xl border border-stone-300 px-2"
                    placeholder="CEO"
                    v-model="data.position"
                />
            </div>
        </div>
        <label class="inline-flex cursor-pointer items-center pt-2">
            <input class="peer sr-only" type="checkbox" v-model="data.is_primary" />
            <div
                class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-sky-500 peer-focus:ring-4 peer-focus:ring-blue-300 peer-focus:outline-hidden after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900">Is primary</span>
        </label>
        <label class="inline-flex cursor-pointer items-center pt-2">
            <input class="peer sr-only" type="checkbox" v-model="data.is_public" />
            <div
                class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-sky-500 peer-focus:ring-4 peer-focus:ring-blue-300 peer-focus:outline-hidden after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white"
            ></div>
            <span class="ms-3 text-sm font-medium text-gray-900">Is public</span>
        </label>
        <button
            @click="removeMember(user_company.user_id, user_company.company_id)"
            class="w-fit text-red-500 underline"
        >
            Remove User
        </button>
        <button
            @click="editMember(user_company.user_id, user_company.company_id)"
            class="mt-auto w-full rounded-xl bg-sky-400 px-3 py-2 text-white disabled:bg-gray-300 sm:mt-3"
        >
            Confirm
        </button>
    </article>
</template>
{% endmacro %}
