{% extends "layouts/layout_app.html" %} {% macro render(user) %} {% block content %}

<main class="flex w-full justify-center p-4 sm:p-6">
    <div class="flex w-full justify-between">
        <div class="top-20 col-span-2 h-fit w-1/6 pt-4 sm:sticky">
            <h2 class="top-5 text-2xl font-bold">Search History</h2>
        </div>

        <div class="mt-8 w-3/5">
            {% for history in search_histories %}
            <div class="flex gap-4 py-2">
                <div>{{ history.created_at.strftime("%l:%M %p") }}</div>
                <div>{{ history.query }}</div>
            </div>
            {% endfor %}

            <ul v-for="item in searchHistories" :key="item.id" class="flex gap-4 py-2">
                <li v-text="item.created_at"></li>
                <li v-text="item.query"></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %} {% endmacro %}
