{% macro render(user) %}
<template id="gemini-template">
    <article
        class="fixed right-0 top-0 z-50 flex h-full w-full flex-col overflow-y-scroll overscroll-contain bg-white transition-all"
        :class="isExpanded ? 'md:w-full lg:w-full 2xl:w-full' : 'md:w-4/5 md:rounded-l-3xl lg:w-2/3 2xl:w-1/2'"
    >
        <nav class="sticky right-0 top-0 z-10 flex w-full items-center justify-between bg-white px-4 py-4 sm:px-9">
            <button
                @click="toggleExpansion"
                class="hidden rounded-lg p-1 transition-colors duration-75 ease-in-out hover:bg-gray-50 md:block"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                    v-if="!isExpanded"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
                    />
                </svg>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                    v-else
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 9V4.5M9 9H4.5M9 9 3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5 5.25 5.25"
                    />
                </svg>
            </button>
            <button
                @click="closeGemini"
                class="ml-auto flex aspect-square h-full items-center justify-center rounded-lg p-1 transition-colors duration-75 ease-in-out hover:bg-gray-50"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </nav>

        <main class="mx-auto flex flex-col items-center gap-2 px-4 pb-16 pt-5 sm:px-9 w-full">
            <h1 class="text-2xl font-bold mb-4 text-center">How can I help?</h1>
            <div class="relative flex w-10/12 flex-col border rounded-full">
                <div class="view-search relative mx-auto flex w-full gap-2 rounded-[30px] bg-white py-2 pr-3">
                    <input
                        type="search"
                        name="search"
                        id="search"
                        class="w-full border-0 bg-transparent py-3 pr-0 text-sm focus:ring-0"
                        placeholder="Write your message here..."
                        autocapitalize="off"
                        autocorrect="off"
                        autocomplete="off"
                        v-model="prompt"
                        aria-autocomplete="both"
                        required
                    />
                    <button @click="startStream" class="" type="submit">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="chat-container">
                <div v-for="(char, index) in response" :key="index" class="inline-block fade-in" v-text="char"></div>
            </div>
        </main>
    </article>
</template>

{% endmacro %}
