{% macro render(user) %}
<template id="gemini-template">
    <article
        class="fixed top-0 right-0 z-50 flex h-full w-full flex-col rounded-l-2xl bg-gray-100 transition-all"
        :class="isExpanded ? 'md:w-full rounded-l-none' : 'md:w-4/5 lg:w-2/3 2xl:w-1/2'"
    >
        <nav class="sticky top-0 z-10 flex h-20 items-center justify-between rounded-tl-2xl bg-white px-4 py-4 sm:px-6">
            <div class="flex w-1/3 items-center gap-3">
                <button @click="toggleHistory" class="rounded-lg p-2 transition-colors hover:bg-gray-100">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 -960 960 960"
                        height="24px"
                        width="24px"
                        fill="#5f6368"
                        class="size-6"
                    >
                        <path
                            v-if="isHistoryVisible"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M660-368v-224q0-14-12-19t-22 5l-98 98q-12 12-12 28t12 28l98 98q10 10 22 5t12-19ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm120-80v-560H200v560h120Zm80 0h360v-560H400v560Zm-80 0H200h120Z"
                        />
                        <path
                            v-else
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M400-160h-41q-17 0-28-11.5T320-200q0-17 11.5-28t28.5-11h40v-481h-40q-17 0-28.5-11.5T320-760q0-17 11.5-28.5T360-800h40q33 0 56.5 23.5T480-720v480q0 33-23.5 56.5T400-160Zm240 0q-33 0-56.5-23.5T560-240v-480q0-33 23.5-56.5T640-800h200q33 0 56.5 23.5T920-720v480q0 33-23.5 56.5T840-160H640Zm0-79h200v-481H640v481ZM206-440H80q-17 0-28.5-11.5T40-480q0-17 11.5-28.5T80-520h126l-35-35q-12-12-11.5-28.5T172-612q12-12 28.5-12t28.5 12l103 104q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L228-348q-11 11-27.5 11.5T172-348q-12-11-12-28t11-29l35-35Zm434 201v-481 481Z"
                        />
                    </svg>
                </button>
                <button @click="createChat" class="flex items-center gap-2 rounded-lg px-3 py-2 hover:bg-gray-100">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    New Chat
                </button>
            </div>
            <div class="flex w-1/3 items-center justify-center">
                <span class="text-bold max-w-full truncate text-center font-bold" v-text="currentChatName || ' '">
                </span>
            </div>
            <div class="flex w-1/3 justify-end gap-2">
                <button @click="toggleExpansion" class="hidden rounded-lg p-2 hover:bg-gray-100 md:block">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5"
                        :class="{'rotate-180': isExpanded}"
                    >
                        <path
                            v-if="!isExpanded"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
                        />
                        <path
                            v-else
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 9V4.5M9 9H4.5M9 9 3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5 5.25 5.25"
                        />
                    </svg>
                </button>
                <button @click="closeGemini" class="rounded-lg p-2 hover:bg-gray-100">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </nav>

        <main class="relative flex h-[90%] overflow-hidden">
            <transition name="history">
                <div
                    v-show="isHistoryVisible"
                    class="custom-scrollbar h-full overflow-y-auto border-r bg-gray-50 p-2"
                    :class="{'w-56': isHistoryVisible, 'w-0': !isHistoryVisible}"
                >
                    <div class="flex flex-col gap-3 bg-gray-50">
                        <div v-for="[date, chats] of userChats" :key="date">
                            <span class="px-2 text-xs text-gray-500" v-text="date"></span>
                            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                            <transition-group name="list" tag="div">
                                <a
                                    v-for="chat in chats"
                                    :key="chat.id"
                                    class="list-item"
                                    :class="{ 'animate-fade-out': chat.isDeleting, 'typewriter': chat.isNew && !chat.animated }"
                                    :ref="'chat-' + chat.id"
                                    @animationend="chat.animated = true"
                                >
                                    <div
                                        class="group relative w-full cursor-pointer rounded-lg p-2"
                                        @click="selectChat(chat.id)"
                                        :class="selectedChatId === chat.id ? 'bg-sky-500 hover:bg-sky-400' : 'hover:bg-[#ccecff]'"
                                    >
                                        <span
                                            v-if="editingChatId !== chat.id"
                                            class="mask-linear-gradient mr-3 ml-2 block overflow-hidden whitespace-nowrap"
                                            :class="selectedChatId === chat.id ? 'text-white' : 'text-black'"
                                            v-text="chat.name"
                                        ></span>

                                        <div v-else class="mr-3 ml-2">
                                            <input
                                                v-model="newChatName"
                                                @click.stop
                                                @keyup.enter="saveChatName(chat)"
                                                @keyup.esc="cancelEditing"
                                                maxlength="30"
                                                class="m-0 w-full rounded-lg border-b border-sky-500 bg-transparent py-0 leading-normal text-inherit outline-none"
                                                :class="selectedChatId === chat.id ? 'text-white' : 'text-black'"
                                                :ref="`nameInput-${chat.id}`"
                                                style="min-height: 0; max-height: none"
                                            />
                                        </div>
                                        <button
                                            data-dropdown-button
                                            @click.stop="toggleDropdown(chat.id)"
                                            class="absolute top-1.5 right-1 hidden rounded-lg transition-colors ease-in-out group-hover:block hover:bg-white"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="size-7 text-gray-700"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                                                />
                                            </svg>
                                        </button>

                                        <transition
                                            enter-active-class="animate-zoom-in"
                                            leave-active-class="animate-zoom-out"
                                        >
                                            <div
                                                v-if="openedDropdownChatId === chat.id"
                                                class="absolute top-8 right-1 z-10 flex w-24 origin-top-right flex-col items-start justify-center gap-1 rounded-lg border border-gray-200 bg-white p-1 shadow-sm"
                                            >
                                                <div
                                                    class="flex w-full items-center gap-2 rounded-md px-2 py-1.5 text-start text-sm hover:bg-sky-500 hover:text-white"
                                                    data-rename-button
                                                    @click.stop="startEditing(chat)"
                                                >
                                                    <span>Rename</span>
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 22 22"
                                                        stroke-width="1.5"
                                                        stroke="currentColor"
                                                        class="size-5"
                                                    >
                                                        <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                                                        />
                                                    </svg>
                                                </div>
                                                <div
                                                    class="flex w-full items-center gap-2 rounded-md px-2 py-1.5 text-start text-sm text-red-600 hover:bg-sky-500 hover:text-white"
                                                    @click.stop="deleteChat(chat.id)"
                                                >
                                                    <span>Delete</span>
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        stroke-width="1.5"
                                                        stroke="currentColor"
                                                        class="size-4"
                                                    >
                                                        <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                                        />
                                                    </svg>
                                                </div>
                                            </div>
                                        </transition>
                                    </div>
                                </a>
                            </transition-group>
                        </div>
                    </div>
                </div>
            </transition>
            <div class="flex h-full w-full flex-col">
                <div class="relative flex flex-1 flex-col overflow-hidden">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="custom-scrollbar flex-1 overflow-y-auto p-4" ref="chatContainer">
                        <template v-if="response.length">
                            <div
                                v-for="(message, index) in response"
                                :key="index"
                                class="mb-4 flex"
                                :class="{'justify-end': message.type === 'user'}"
                            >
                                <div
                                    class="relative rounded-xl p-3"
                                    :class="{
                                    'bg-sky-500 max-w-[75%] text-white rounded-br-none': message.type === 'user',
                                    ' text-gray-800 ': message.type === 'gemini'
                                }"
                                >
                                    <span v-if="message.isHTML" v-html="processMarkdown(message.content)"></span>
                                    <span v-else v-text="message.content"></span>
                                    <div
                                        class="absolute -bottom-2 h-3 w-3"
                                        :class="{
                                        'right-0 bg-sky-500': message.type === 'user',
                                        }"
                                        :style="{
                                        clipPath: message.type === 'user' 
                                        ? 'polygon(0 0, 100% 0, 100% 100%)' 
                                        : 'polygon(0 0, 100% 0, 0 100%)'
                                        }"
                                    ></div>
                                </div>
                            </div>
                        </template>
                        <div v-else class="flex">
                            <div
                                class="relative max-w-[75%] rounded-xl rounded-bl-none bg-white p-4 text-gray-800 shadow-lg"
                            >
                                Hi there! I'm Gemini, your virtual assistant. How can I help you today?
                                <div
                                    class="absolute -bottom-2 left-0 h-3 w-3 bg-white"
                                    style="clip-path: 'polygon(0 0, 100% 0, 100% 100%)"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="sticky right-0 bottom-0 left-0 border-t border-gray-200 bg-white p-4"
                    :class="{'rounded-3xl': isExpanded}"
                >
                    <div class="relative flex items-center">
                        <div
                            ref="prompt"
                            contenteditable="true"
                            class="max-h-48 w-full rounded-xl border-2 border-sky-500 bg-white p-4 pr-12 shadow-sm outline-none"
                        ></div>
                        <button
                            @click="selectedChatId ? sendMessage(selectedChatId) : sendMessageAndCreateChat()"
                            @keyup.enter="selectedChatId ? sendMessage(selectedChatId) : sendMessageAndCreateChat()"
                            class="absolute top-1/2 right-2 -translate-y-1/2 rounded-lg p-2 transition-colors hover:bg-sky-100"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="#0ea5e9"
                                class="size-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6 12L3.269 3.125A59.769 59.769 0 0121.485 12 59.768 59.768 0 013.27 20.875L5.999 12zm0 0h7.5"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </article>
</template>
{% endmacro %}
