{% macro render(company, users_in_company) %}
<template id="invite-member-template">
    <article
        class="fixed top-0 right-0 z-50 flex h-full w-full flex-col gap-4 bg-white p-8 sm:top-1/2 sm:right-1/2 sm:h-auto sm:max-w-2xl sm:translate-x-1/2 sm:-translate-y-1/2 sm:rounded-xl"
    >
        <button class="absolute top-3 right-3" @click="closeInviteMember">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
        <div class="flex flex-col items-center justify-center gap-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-9"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
            </svg>
            <span class="font-medium">Invite a member to your company</span>
        </div>
        <div class="flex h-full flex-col gap-2">
            <label class="font-medium" for="email">Search by email*</label>
            <div
                class="relative flex w-full items-center gap-4 rounded-xl border-2 border-sky-300 bg-sky-200 p-2 text-start text-sky-500"
                v-if="selectedUser"
            >
                <img
                    class="size-12 rounded-lg"
                    v-if="selectedUser.id"
                    :src="selectedUser.picture_url ? selectedUser.picture_url : '/static/elements/pfp_placeholder.jpeg'"
                    alt=""
                />
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                    v-else
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                    />
                </svg>
                <div>
                    <div class="flex items-center gap-2">
                        <h3 class="text-md font-semibold" v-text="selectedUser.email"></h3>
                    </div>
                </div>
                <button class="absolute right-3" @click="clearUser">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <input
                type="text"
                ref="searchInput"
                class="w-full rounded-xl border-2 border-stone-300"
                @input="debouncedGetUserList"
                placeholder="johndoe@example.com"
                v-else
            />
            <ul class="max-h-60 space-y-2 overflow-y-auto">
                <li
                    class="flex w-full cursor-pointer items-center gap-4 rounded-xl border-2 border-stone-300 p-2 text-start hover:bg-stone-100"
                    v-if="userList.length > 0"
                    v-for="(user, index) in userList"
                    @click="selectUser(user, $event)"
                    :class="{ 'pointer-events-none opacity-60': {{ users_in_company }}.includes(user.id) }"
                >
                    <img
                        class="size-12 rounded-lg"
                        v-if="user.id"
                        :src="user.picture_url ? user.picture_url : '/static/elements/pfp_placeholder.jpeg'"
                        alt=""
                    />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                        v-else
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                        />
                    </svg>
                    <div>
                        <div class="flex items-center gap-2">
                            <h3 class="text-md font-semibold" v-text="user.email"></h3>
                            <span v-if="{{ users_in_company }}.includes( user.id )" class="text-sm text-gray-500 italic"
                                >exists</span
                            >
                        </div>
                        <p class="text-gray-500">Invite to group</p>
                    </div>
                </li>
            </ul>

            <label class="font-medium" for="role">Select a role*</label>
            <select class="w-full rounded-xl border-2 border-stone-300" v-model="selectedRole">
                <option class="text-gray-500" disabled selected value>Select a role</option>
                <option v-for="role in roles" v-text="role[0].toUpperCase() + role.slice(1)" :value="role"></option>
            </select>

            <label class="font-medium" for="invitationMessage">Invitation Message</label>
            <textarea
                class="w-full rounded-xl border-2 border-stone-300"
                placeholder="Hey, join our company!"
                v-model="invitationMessage"
                @input="limitText"
                @blur="invitationMessage = invitationMessage.trim()"
            ></textarea>
            <label class="font-medium" for="position">Position</label>
            <input
                class="w-full rounded-xl border-2 border-stone-300"
                placeholder="CEO"
                v-model="position"
                @input="limitPositionText"
                @blur="position = position.trim()"
            />
            <button
                class="mt-auto w-full rounded-xl bg-sky-400 px-3 py-2 text-white disabled:bg-gray-300 sm:mt-3"
                @click="inviteMember({{ company.id }})"
                :disabled="!(selectedRole && selectedUser)"
            >
                Invite
            </button>
        </div>
    </article>
</template>
{% endmacro %}
