{% macro render(user) %}
<template id="profile-context-menu">
    <div
        class="fixed top-0 right-0 z-50 flex h-full w-full flex-col overflow-y-auto border bg-white shadow-xl sm:absolute sm:top-9 sm:right-0 sm:h-auto sm:max-h-96 sm:w-96 sm:rounded-xl"
    >
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="sticky top-0 flex items-center justify-between border-b bg-white px-5 py-3">
            <h3 class="text-xl font-semibold">Your Profiles</h3>
            <svg
                @click="$emit('close')"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-7 cursor-pointer rounded-md p-1 hover:bg-gray-50"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <div class="flex flex-col items-center justify-between gap-1 border-b p-5">
            <div class="flex flex-col items-center justify-center">
                <a href="/settings/general">
                    <img
                        src="{{ user.user_info.picture_url if user.user_info.picture_url else '/static/elements/pfp_placeholder.jpeg' }}"
                        class="size-16 rounded-full border border-gray-200 bg-gray-50"
                    />
                </a>
                <h3 class="mt-2 text-lg font-semibold">{{ user.user_info.full_name }}</h3>

                {% if user.user_info.username %}
                <p class="text-sm text-gray-500">{{ user.user_info.username }}</p>
                {% endif %}

                <a
                    href="/settings/plan"
                    class="mt-2 rounded-full bg-linear-to-r from-indigo-400 via-purple-400 to-pink-300 px-2 py-1 text-xs font-medium text-white"
                >
                    {{ user.user_payment.tier.value.upper() }}
                </a>
            </div>
        </div>
        <div class="flex flex-col items-center gap-1 border-b p-3">
            <a
                v-if="accounts.investor && accounts.investor.name"
                class="flex w-full cursor-pointer items-center gap-3 rounded-lg p-2 transition-colors ease-in-out hover:bg-gray-50"
                href="/profile/mode/investor"
            >
                <img
                    v-if="accounts.investor.twitter"
                    class="size-10 rounded-full border border-gray-200 bg-gray-50"
                    :src="'https://unavatar.io/twitter/' + accounts.investor.twitter.split('/').pop()"
                    alt=""
                    loading="lazy"
                />
                <img
                    v-else
                    src="{{ user.user_info.picture_url if user.user_info.picture_url else '/static/elements/pfp_placeholder.jpeg' }}"
                    class="size-10 rounded-full border border-gray-200 bg-gray-50"
                />
                <div class="flex flex-col justify-center">
                    <h3 class="flex items-center gap-1 text-lg font-semibold">
                        <span v-text="accounts.investor.name"></span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="rgb(14 165 233)"
                            class="size-4"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.403 12.652a3 3 0 0 0 0-5.304 3 3 0 0 0-3.75-3.751 3 3 0 0 0-5.305 0 3 3 0 0 0-3.751 3.75 3 3 0 0 0 0 5.305 3 3 0 0 0 3.75 3.751 3 3 0 0 0 5.305 0 3 3 0 0 0 3.751-3.75Zm-2.546-4.46a.75.75 0 0 0-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </h3>
                    <p class="text-sm text-gray-500">Investor Account</p>
                </div>
                <svg
                    v-if="accounts.investor.investor_mode"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="ml-auto size-5 text-sky-500"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </a>
            <a
                v-for="user_company in accounts.user_companies"
                class="flex w-full cursor-pointer items-center gap-3 rounded-lg p-2 transition-colors ease-in-out hover:bg-gray-50"
                :href="'/profile/mode/company/' + user_company.id"
            >
                <img
                    :src="user_company.picture_url || '/static/elements/pfp_placeholder.jpeg' "
                    class="size-10 rounded-full border border-gray-200 bg-gray-50"
                />
                <div class="flex flex-col justify-center">
                    <h3 class="flex items-center gap-1 text-lg font-semibold" v-text="user_company.name"></h3>
                    <p class="text-sm text-gray-500">Company Account</p>
                </div>

                <svg
                    v-if="!accounts.investor.investor_mode && user_company.is_primary"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="ml-auto size-5 text-sky-500"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </a>
        </div>
        <div class="px-2 py-3">
            <a
                href="/profile/{{ user.user_info.username }}"
                class="flex w-full items-center gap-2 rounded-md px-3 py-1.5 transition-colors ease-in-out hover:bg-gray-50"
            >
                Profile
            </a>
            <a
                href="/settings"
                class="flex w-full items-center gap-2 rounded-md px-3 py-1.5 transition-colors ease-in-out hover:bg-gray-50"
            >
                Settings
            </a>

            {% if user.user_info.username %}
            <a
                href="/logout"
                class="flex w-full items-center gap-2 rounded-md px-3 py-1.5 transition-colors ease-in-out hover:bg-gray-50"
            >
                Log out {{ user.user_info.username }}
            </a>
            {% else %}
            <a
                href="/logout"
                class="flex w-full items-center gap-2 rounded-md px-3 py-1.5 transition-colors ease-in-out hover:bg-gray-50"
            >
                Log out
            </a>

            {% endif %}
        </div>
    </div>
</template>
{% endmacro %}
