{% macro render(user) %}
<template id="search-history-template">
    <ul class="absolute top-full z-[49] w-full overflow-clip rounded-b-[30px] bg-white shadow-md">
        <hr class="mx-4" />
        <li
            class="flex cursor-pointer items-center gap-2 px-4 py-2 last:mb-2 hover:bg-gray-100"
            v-for="history in searchHistoryData"
            :key="history.id"
            @click="$emit('search', history.query)"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>
            <span>[[ history.query ]]</span>
        </li>
        <li class="flex w-full text-center hover:bg-gray-100">
            <a class="w-full py-2" :href="'/history?filter=' + [[ type ]]">See more</a>
        </li>
    </ul>
</template>
{% endmacro %}
