{% macro render(companyId) %}
<template id="update-funding-round-template">
    <article
        class="fixed top-1/2 right-1/2 z-50 flex w-10/12 translate-x-1/2 -translate-y-1/2 flex-col gap-4 rounded-3xl bg-white px-8 py-6 transition-all sm:w-1/2 sm:rounded-xl xl:w-2/5"
    >
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="grid grid-cols-6 gap-x-2 gap-y-1">
            <h2 class="col-span-full mt-3 text-2xl font-medium">General info</h2>

            <div class="col-span-full">
                <label for="round" class="text-sm font-medium text-gray-700">Round</label>
                <div>
                    <select
                        v-model="selectedRound"
                        id="round"
                        name="round"
                        class="h-12 w-full rounded-xl px-2"
                        id="round"
                    >
                        <option value="" disabled selected>Select a round</option>

                        <option v-for="round in rounds" :key="round.id" :value="round.id" v-text="round.name"></option>
                    </select>
                </div>
            </div>
            <div class="col-span-full">
                <label class="text-sm font-medium text-gray-700" for="announced_date">Announced date</label>
                <input
                    class="w-full rounded-lg bg-transparent bg-white"
                    type="date"
                    id="announced_date"
                    :value="fundingRound.announced_date"
                    required
                />
            </div>
        </div>

        <div class="flex justify-end gap-5">
            <button @click="close" class="rounded-lg border border-gray-300 px-3 py-2">Cancel</button>
            <button
                @click="updateFundingRound(id, {{companyId}})"
                class="rounded-lg bg-sky-500 px-3 py-2 text-white hover:bg-sky-600"
            >
                Update
            </button>
        </div>
    </article>
</template>
{% endmacro %}
